[2017-04-07 07:40] Haroenv opened #10 "Configure, check for null values?"
**Do you want to request a *feature* or report a *bug*?**

feature

**Bug: What is the current behavior?**
If one of these values is null, I get a bad request:

[code]

So I have to do:

[code]

**Bug: What is the expected behavior?**

To be able to pass null values and the component not pass them through to algolia

**What is the version you are using? Always use the latest one before opening a b

[2017-04-11 11:25] mthuret opened #14 "Ability to persist a widget"
# Use case

You have a mobile app using React Native and you want to use a modal to display some filters. When this modal is closed, the widgets that sets the refinements are unmounted, therefore, they're not in the state anymore. see: https://github.com/algolia/instantsearch.js/issues/2069

# Need

Being able to say that a widget is persistent. That way its state will remain and can still be appl

[2017-04-11 11:28] mthuret opened #15 "Remove need for VirtualHits with connectAutoComplete"
# Use case

The recipe demonstrating the connectAutoComplete uses `<VirtualHits/>`. It's because without them, no particular search parameters are computed for every `<Index/>`.

# Need

This syntax is not very straightforward. Ideally we want to get rid of them.

# Proposal

`<Index>` should be seen as a widget, like the `<Hits>`. That way it will be taken into account when computing search param

[2017-04-11 11:37] mthuret opened #16 "Add a widget to retrieve a single hit"
# Use case

You have an instant search page with results and wants to add a link on each one of them to redirect to a detailed page with only one result.

# Need

We need a new widget that will be able to fetch one result (through [getObject](https://www.algolia.com/doc/api-client/javascript/search/#get-objects)).

# Proposal

TBD

[2017-04-11 11:40] mthuret opened #17 "Add Server Side Rendering compatibilty"
# Use case

When using https://zeit.co/blog/next you can use React InstantSearch but won't benefit of a good SEO (having all the results since the first rendering).
See: https://github.com/algolia/instantsearch.js/issues/1687

# Need

Being compatible

# Proposal

TBD. Needs a POC.

[2017-04-11 11:43] mthuret opened #18 "Package a Range component"
# Use case

Today, to have a Range widget with React InstantSearch you need to build your own, or use an external component. We provide several code sample to show how this can be achieved using `rheostat` from airbnb.

# Need

This code sample is getting pretty big right now and it would be better to propose to our user a packaged Range component, ready to use outside of the box.

# Proposal

TBD

[2017-04-11 11:46] mthuret opened #19 "Recipe: create a real mobile application with React Native"
# Use case

Today we have a recipe that show how to use React Native with React InstantSearch demonstrating only an infinite scroll with a searchbox. We need to go further than this by proposing a fully featured example using React Native app.

Doing this will also help you know if:

- we miss any API that could be helpful with React Native. See algolia/react-instantsearch#14
- we need to package

[2017-04-11 11:48] mthuret opened #20 "Migrate to React 15.5"
React 16 is coming. Until then the facebook team plans to release React version that will help migrating to it.

We need to migrate to React 15.5 and fix everything that is going to be deprecated.

[2017-04-11 11:51] mthuret opened #21 "Recipe: building an autocomplete manually"
We released in beta the new `<Index>` widget that allows people to simply do multi index requests. We want to advertise this feature in order to build fully featured autocomplete.

We already have a recipe to show how to use an external autocomplete but we miss an example showing how you can achieve the same thing using only React InstantSearch.

# Goal

Building an autocomplete menu that allows n

[2017-04-11 12:08] mthuret commented on #10
Hi @zackify,

I'm not sure this is a good idea as `null` could be actually a value.

If you know that because this prop has a `null` value, then you should removed it from the configure props.

[2017-04-11 12:42] zackify commented on #10
I was hoping this would be the use case others run into. Sometimes our api returns a bounding box. Sometimes it returns around last lng. Would just be nice for configure to be smart enough to not apply null values. I guess I can just make my own wrapped configure that removes null values.

[2017-04-11 12:45] mthuret opened #22 "Highlight: support arrays"
# Use case

Your records contain a field that is an array of strings and you want to highlight them.

# Need

The `<Highlight/>` and `<Snippet/>` widgets are not compatible with an array of strings.

# Proposal

TBD

See https://github.com/algolia/instantsearch.js/issues/1932

[2017-04-11 12:51] mthuret opened #23 "Add a HierarchicalBreadCrumb widget"
The helper is able to give us the Hierarchical Facet BreadCrumb through https://community.algolia.com/algoliasearch-helper-js/reference.html#AlgoliaSearchHelper#getHierarchicalFacetBreadcrumb

We should add a new widget/connector that allow a user to add this into its website.

- [x] Propose an API for the connector (Provided Props / Exposed Props)
- [x] Propose an API for the widgets
- [x] Propos

[2017-04-11 12:59] #10 closed

[2017-04-11 13:30] nexnbeach opened #24 "Feature-Request: Hierarchical Menu as a disjunctive facet"
Need Hierarchical Menu that is disjunctive. react-instantsearch 3.2.1 is current;y being used
Similar to Refinement List but in a tree format.

Use case when be when filtering by location and want to have multiple locations possible.

EX.

Index has record attribute...
record 1

geography: {
   lvl0: "North America",
   lvl1: "US",
   lvl2: "MI"
}

record 2

geography: {
   lvl0: "Asia-Pacific",

[2017-04-11 16:53] mthuret opened #27 "Verify App Build size big due to export strategy and add TreeShaking"
The goal here is to create a new application using React InstantSearch and very if the build contains only imported functions.

For example by importing `<InstantSearch>`, `<SearchBox>` and `<connectHits>`.

If not, actions should be taken to fix it.

[2017-04-11 17:01] mthuret opened #28 "Support multiple Configure widget"
We should be able to use multiple `<Configure>` under one `<InstantSearch/>` like:

[code]

See: https://github.com/algolia/instantsearch.js/issues/2006

[2017-04-11 17:27] Haroenv commented on #27
This is mostly because we export only commonjs at this point. Exporting as es-modules, so only transpiling "es2015, modules: false" will work perfectly with modern build tools like webpack 2

[2017-04-11 17:40] rayrutjes commented on #27
Basically we need:
- statically analyzable exports (ES6 exports)
- add `module` key to package.json

Then use webpack 2 or rollup will treeshake.

[2017-04-11 17:42] rayrutjes commented on #28
@mthuret why did we go for "virtual"  elements here?
Why not go with the props exposed directly on `InstantSearch`?

I feel like going with `Configure` is overkill and introduces more complexity. For example one could have 2 times a `Configure` element acting on the same property.

[2017-04-11 18:23] mthuret commented on #28
@rayrutjes

Having `<Configure>` as a component is useful. It allows you to write something like:

[code]

You can also mount/unmount them easily.

Also `Configure` can take a list of props, so you don't actually need several one. But we need to support it as it's possible to write it this way.

[2017-04-11 18:24] mthuret commented on #20
Thanks @Kikobeats 👍

[2017-04-12 07:03] rayrutjes commented on #28
Ok, I'm not convinced of the necessity of those 2 concepts 'Index/Configure'.

[code]

I think this is all related to the fact we use derived helper which requires us to be able to handle multiple indices under the same `InstantSearch`.

Ok!

The only pro I see here is the "shared config" logic, but I don't think the implementation overhead is worth it.

[2017-04-12 08:42] mthuret commented on #28
How do you share the query with the syntax you indicate? And what exactly is the implementation overhead you are talking about?

[2017-04-12 09:24] rayrutjes commented on #28
Not sure with the current implementation, but basically injecting the same query in both InstantSearch instances would do the trick. Not sure if this is do-able, but it would simplify the nesting I feel like.

2 virtual widgets `Configure` & `Index`, that are more just configuration of the `InstantSearch` element.

[2017-04-12 11:03] mthuret commented on #28
It's what we had. To synchronise both instances you needed to listen to the `onSearchStateChange` hook, get the `searchState` and inject it into the other instance.

Basically with the new `<Index>` api, our multi index example went down to 20 LOC instead of 65. I think it worth it.

But I think we digress a bit from the purpose of this issue. Maybe we can discuss about that elsewhere?

[2017-04-13 08:33] vvo commented on #28
We should be careful about hijacking conversations, here the issue is about fixing a bug on a current implementation (Configure).

We can discuss the way you are able to set search parameters (or how to do multiple indexes) but not in the same issue. Aside from technical implementations any API discussion we should focus it on:
- what are we trying to solve
- what is the current solution
- why ano

[2017-04-13 09:32] Haroenv opened #33 "Don't build the docs in Travis"
**Do you want to request a *feature* or report a *bug*?**

A bit of both

**Bug: What is the current behavior?**

Travis and Netlify both run the docs

**Bug: What is the expected behavior?**

Travis runs the tests, Netlify the docs

**Feature: What is your use case for such a feature?**

Faster builds

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Cha

[2017-04-13 23:05] nickstanish opened #37 "Highlight is not unicode safe"
Highlighting turns unicode/emojis into question mark symbols.
JavaScript's String#split (and other similar functions) are not unicode-compliant, so would need a compliant library to handle the string operations.

https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/src/core/highlight.js#L52

I believe using lodash for the string operation (which is included alrea

[2017-04-13 23:50] nickstanish commented on #37
This isn't as simple as I originally thought it was. The `const highlightObject = get(hit[highlightProperty], attributeName);` is using the `_highlightResult` which already has the unicode messed up

[2017-04-14 06:38] Haroenv commented on #37
This is a bug in the engine we know about unfortunately. We use UCS-2, and switching to UTF8/16 will take a lot of time. We noted that you notice this too

[2017-04-14 06:38] #37 closed

[2017-04-14 14:29] #33 closed

[2017-04-15 00:39] tiodan81 opened #39 "searchResults.loading is undefined"
Using react-instantsearch 3.3.1, I tried to set up conditional rendering during loading per [the docs](https://community.algolia.com/react-instantsearch/guide/Conditional_display.html#displaying-content-when-loading), but `searchResults.loading` comes up undefined. Here's my code:

[code]

When logging `searchResults` there, I get `{results: SearchResults, searching: true, error: null}` so I tried

[2017-04-15 01:54] Shipow opened #40 "clear button doesn't close the searchbox (website)"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

docsearch clear button only dismisses the popup

**Bug: What is the expected behavior?**

clear button clears the search and dismisses the popup

**Bug: What browsers are impacted? Which versions?**

All?

**What is the version you are using? Always use the latest one before opening a bug issue.

[2017-04-15 09:49] Haroenv commented on #40
Did you make this issue by accident? Feel free to reopen when you updated the description.

[2017-04-15 09:51] Haroenv commented on #39
Thanks for noticing this. We will investigate where the issue lies, or if you're sure where the fix is, feel free to update the document

[2017-04-15 18:14] Haroenv commented on #40
This will be gone when we move to the community header though, cc @jonasba

[2017-04-15 23:36] Haroenv commented on #20
On it now

[2017-04-17 17:01] Shipow commented on #40
Can we plan the migration in that case? I really don't like bugs powered by algolia :p

[2017-04-17 18:42] JonasBa commented on #40
@Shipow on it ;)

[2017-04-17 23:27] julienpa opened #42 "Make CSS framework integration easier"
**Do you want to request a *feature* or report a *bug*?**
🆕 feature

**Feature: What is your use case for such a feature?**
🎨 Using a CSS framework without needing to create custom connectors/widgets

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
📦 Maybe use the `<Configure />` or the `<InstantSearch />` components, for which we could add a prop to pass

[2017-04-18 08:52] mthuret commented on #42
Today the statement about this is: if you need to modify the markup/classnames, then you should use the connectors.

Due to the instability about how you can do css with React, we removed our first approach (that among other things, allowed you to change classnames) until we can came up with something that feel solid.

You said that you want something easy to style our component. What's currently

[2017-04-18 21:04] julienpa commented on #42
Thanks for the answer @mthuret! I was afraid that the best was to use a connector but was hoping for something simpler (although connectors are probably not that complicated, just need to try ^^)

I can't use existing RIS classes because I want to use an external CSS framework and I need to use custom class names. The solution I've been offered is to use SASS for style "inheritance/include" but I'

[2017-04-19 09:00] Haroenv opened #43 "Make SearchBox even better"
- [ ] contrast issue
    - contrast of icon is too low
- [x] add aria-label or title on input search
- [x] add aria-hidden=‘true’ on decorative svg
- [x] move focus back to search box when clear is pressed

Also to be thought together with adding a way to focus hits by default, then we can move the focus to the first hit on `submit`

[2017-04-19 09:12] mthuret commented on #28
@zackify I wasn't able to reproduce this bug anymore using our 4.0.0-beta.2 version.

Here's an example of what I'm doing to reproduce this issue, and this is working.

class ConfigureExample extends React.Component {
  constructor() {
    super();
    this.state = { hitsPerPage: 3 };
  }

  onClick() {
    const hitsPerPage = this.state.hitsPerPage === 3 ? 1 : 3;
    this.setState({ hitsPerPage }

[2017-04-19 09:12] #28 closed

[2017-04-19 10:10] goetsu commented on #43
also :
- move focus back to input when user activate clear button
- change border color / outline the whole search box when focus is in input

[2017-04-19 12:30] lezoudali opened #44 "PropTypes from the main React package gives warning"
`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

`React.PropTypes` is deprecated. We should now use the `prop-types` package.

[2017-04-19 12:38] Haroenv commented on #44
yes. We have PR #41 open for that, and issue #20 as well. Will be solved soon!

[2017-04-19 12:38] #44 closed

[2017-04-20 07:34] Haroenv commented on #43
I just tested adding a `title` (in this case `test`), and what I found was that it simply duplicated the placeholder in VoiceOver. I don't think that's useful.

![screen shot 2017-04-20 at 09 21 58](https://cloud.githubusercontent.com/assets/6270048/25218729/247933ce-25ac-11e7-8d14-78b46ada18ca.png)

Also the `role=img` on the svgs already makes VoiceOver speak about a button with the title given,

[2017-04-20 08:24] goetsu commented on #43
placeholder isn't par of accessible name calculation so even if VoiceOver read it some other screenreader may not.

[2017-04-21 00:34] THook opened #46 "Bug after updating from v3 to v4"
Hello all,

I tried to update from v3 to v4 in order to use multi-indexing.
Now, all it does is returning an error on line 145 of createInstantSearchManager.js because Object.values is not function.

Any insight on this would be greatly appreciated!

**Bug: What is the current behavior?**

Updating to 4.0.0-beta.0 and up breaks basic working examples.
See: https://jsfiddle.net/8r928c4y/ where I ju

[2017-04-21 08:02] mthuret commented on #46
Hi @THook,

Thank you very much for reporting this. I believe it's because of the usage of Object.values which is not widely supported by every browsers.

I'll make a change and release a new beta :)

[2017-04-21 08:31] #20 closed

[2017-04-21 08:32] Kikobeats commented on #20
awesome!

[2017-04-21 10:53] THook commented on #46
Thanks @mthuret ! I actually read that error so much times that I was totally misreading it. I have an old version on Chrome that may not support Object.values indeed...

I am looking forward for the change,
thanks again

[2017-04-21 13:50] mthuret commented on #46
Hey @THook, I just published a beta.3. Can you retry? :)

[2017-04-21 16:08] THook commented on #46
Perfect! Works like a charm. I'll add multi-indexing to a working example to test it all out :)

[2017-04-21 16:10] mthuret commented on #46
That's great to hear! Happy coding :)

And don't hesitate to share your feedback if any on the new multi-index feature.

[2017-04-21 16:10] #46 closed

[2017-04-24 07:49] Haroenv commented on #43
Not according to the specs, but it is according to real-life browsers: http://www.html5accessibility.com/tests/placeholder-labelling.html

[2017-04-24 08:12] goetsu commented on #43
@Haroenv yes for now but specs is clear now and bugs have been filled for every browsers to remove that form accessibility tree so look more safe to duplicate with aria-label or title.

[2017-04-24 14:45] mthuret commented on #14
Another possibility here is to actually use another `<InstantSearch>` instance inside the modal, and forward the state to the main one. That way, virtual widgets does apply.

[2017-04-24 15:22] #39 closed

[2017-04-24 15:22] #15 closed

[2017-04-24 19:59] davidfurlong opened #52 "ToggleWidget defaultChecked doesnt work"
Im tired of filling and reading the issue guidelines. Title is self explanatory

[2017-04-24 21:09] joaosoares opened #53 "No network request being made on widget update"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Whenever I click on a refinement, the hits do not update. If I go to the network tab, I see no request is made to the server.

**Bug: What is the expected behavior?**
Whenever I click on a refinement, a network request to Algolia is made and the hits are updated.

**What is the version you are usi

[2017-04-24 21:28] joaosoares commented on #53
Investigating further, the issue seems to be with `attributeName` accessing a subproperty. If I change it to, say, `price`, it works as expected. Am I missing something wrt attribute naming?

[2017-04-25 02:27] gl0gl0 opened #54 "Multi-Index Autocomplete not working"
The autocomplete example that uses multiple indexes: https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/examples/autocomplete/src/App-Multi-Index.js

Is not working for me. There is an error showing up:
https://screencast.com/t/saLZ5A1k6

Any help would be very much appreciated.
Thanks!

[2017-04-25 03:08] gl0gl0 opened #55 "Multi-index search"
Hi,

When implementing multi-index search, following the example:
https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/examples/multi-index/src/App.js

My code:
https://screencast.com/t/emslqzaPHH

The hit results are showing correctly for the second index (artists), but for the first index (songs) no results are being displayed. And I see that in the Network tab

[2017-04-25 07:47] ylac commented on #14
Yes this would be very helpful.

[2017-04-25 09:29] mthuret commented on #54
Hi @gl0gl0

We refactored this example to simplify it a bit, it was merged yesterday: see https://github.com/algolia/react-instantsearch/pull/45

I didn't release a new beta yet, I will do today :)

[2017-04-25 09:45] mthuret commented on #55
Thanks for spotting this regression @gl0gl0!

Right now, It will work with this syntax:

[code]

But definitely the syntax you used should work! I will fix it, and it will be part of a new beta.

[2017-04-25 09:48] mthuret commented on #53
Hi @joaosoares, can you try with `<Menu attributeName={option_values.name} />`?

If it's still not working, please use this [jsfiddle](https://jsfiddle.net/vvoyer/ar80rgpc/2/) to reproduce your issue.

[2017-04-25 09:57] mthuret commented on #52
Hi @davidfurlong

This a typo on the documentation, you should use `defaultRefinement={true}`.

Thanks for spotting this, I will update the documentation and produce a new story to demonstrate it.

[2017-04-25 13:34] Haroenv opened #58 "Stories for Multi-index aren't wrapped in their container"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

![screen shot 2017-04-25 at 15 33 04](https://cloud.githubusercontent.com/assets/6270048/25387868/818b735a-29cc-11e7-8554-ae5a0876a56a.png)

**Bug: What is the expected behavior?**

![screen shot 2017-04-25 at 15 33 04](https://cloud.githubusercontent.com/assets/6270048/25387911/9df88456-29cc-11

[2017-04-25 13:46] mthuret commented on #58
I believe that what we want here is:

- Multi Index that have a real business use case (find the right indices)
- Style the autocomplete better
- Maybe a new container to display the link to github (they are already mentioned in the multi index guide though).

[2017-04-25 13:50] mthuret opened #59 "Unused import are no more reported"
When an unused import is present, the build is not failing anymore.

This might be related to the addition of prettier.

[2017-04-25 14:15] mthuret opened #60 "Add storybook-addon-jsx to display each widgets usage"
With this storybook addon: https://github.com/Kilix/storybook-addon-jsx, we have the opportunity to display examples just near their story. It could also be an opportunity to remove all our static examples (with a link to the right story...).

[2017-04-25 14:35] mthuret commented on #55
Should be fix with 4.0.0-beta.4

[2017-04-25 14:35] #55 closed

[2017-04-25 14:35] mthuret commented on #54
Should be fix with 4.0.0-beta.4

[2017-04-25 14:35] #54 closed

[2017-04-25 14:35] #52 closed

[2017-04-25 14:41] Haroenv commented on #59
Probably a removal too much in algolia/eslint-confit-algolia indeed

[2017-04-26 07:35] davidfurlong opened #61 "DefaultRefinement"
**Feature Request**

Currently its not clear how `defaultRefinement` behaves - it should be clearer that reseting / removing the refinement with `refine(null)` (or equivalent) will not remove the refinement if the `defaultRefinement` is set, but rather reset the refinement to the `defaultRefinement`.

Additionally I have use for an `initialRefinement` which acts like defaultRefinement except will

[2017-04-26 10:19] vvo commented on #59
Fixed, please upgrade eslint-config-algolia:

[code]

[2017-04-26 11:07] mthuret commented on #61
I'm interesting to see how you handle this use case with the library at the moment? Can you share a bit of code? I'm also interesting by the business use case behind it :)

Thanks!

[2017-04-26 12:48] davidfurlong commented on #61
@mthuret https://github.com/DeedMob/react-instantsearch-datepicker-widget/blob/master/DatePicker.js

Used currently like this:

[code]

[2017-04-26 13:38] mthuret commented on #61
That's true we do not remove `defaultRefinement` when clearing current refinements (whether from `<ClearAll>`, `<CurrentRefinements`> or by using the connectCurrentRefinements with `refine(null)`. That way we differentiate all the filters a user could add and wants to remove, from some default configuration that you may enforce. You're right we should be clearer in our doc.

That being said I'm no

[2017-04-26 13:49] davidfurlong commented on #61
You're right about the `connectCurrentRefinements` of course, that code needs to be refactored.

I posted this issue because I struggled to initially "remove a refinement" - because a) defaultRefinement has this unexpected behaviour and b) theres no call that removes a refinement - setting values to null doesnt seem like its the same as removing the refinement. With objects as refinement values, i

[2017-04-26 15:48] mthuret commented on #61
Yes, It definitely deserve a guide at least. We'll work on that :)

[2017-04-26 15:51] #59 closed

[2017-04-27 01:24] joaosoares commented on #53
Hi @mthuret! Sorry for the delay. Writing it that way gives me a JavaScript error, as there's no variable named option_values (that's just the refinement name).

I have tried to reproduced the issue in the jsfiddle you provided, but could not reproduce it. Then I created a sample app with create-react-app and also could not reproduce it. This leads me to believe that it is a weird issue on our app

[2017-04-27 07:20] Haroenv opened #67 "Support `className` to make `styled-components` and css frameworks usage easier"
**Feature: What is your use case for such a feature?**

You can style directly third party components with `styled-components` this way:

[code]

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Every widget/component should accept `className` property for the root container.

The only question here is to figure out how to cleanly support components that

[2017-04-27 08:30] Haroenv commented on #67
duplicate of #42

[2017-04-27 08:30] #67 closed

[2017-04-27 08:35] #53 closed

[2017-04-27 08:51] mthuret opened #69 "Guide: Be clearer about the default refinement behaviour and how refine is working"
See #61.

We should explain in our documentation what to expect when clearing refinements with default refinements (ie: they are not removed).

In the same time it would be nice to check for every connector how their `refine` function works, to set or remove a refinement. It should be consistent, but today it's not (for instance: `connectRange`).

We should wrote a guide about those results.

[2017-04-27 08:53] mthuret commented on #42
For reference, see also https://github.com/algolia/instantsearch.js/issues/2089

[2017-04-27 08:55] mthuret commented on #61
I'm closing this in favour of #69

[2017-04-27 08:55] #61 closed

[2017-04-27 21:17] THook opened #71 "Building @mentions with createConnector"
Hi all,

I'm trying to build an @mention into a textarea, using antd Mention component. But it seems that new props aren't communicated properly to the connected component.

I created a small Fiddle to show the issue : https://jsfiddle.net/8r928c4y/16/

If it is a misuse rather than a bug, feel free to close the ticket of course ;)

**Bug: What is the current behavior?**
I believe new props are no

[2017-04-28 06:40] Haroenv commented on #71
Hey, this seems like a great use case!

However, the jsfiddle you shared doesn't use react-instantsearch as far as I can see. Can you show what you've tried? A `createConnector` should be able to help here, where you connect to both the query and the hits.

Thanks for trying this!

[2017-04-28 07:48] THook commented on #71
Ahah, it seems like I forgot to save it.. Meh. Will rewrite something when I'm at work, sorry for the inconvenience!

[2017-04-28 08:21] THook commented on #71
There you go! I just forgot to save the draft! ;)

So, as you can see : `getProvidedProps` gets new hits from the `onSearchChange` Mention callback, and returns hits. But new props aren't communicated, at least the way I thought they would!

[2017-04-28 08:35] THook commented on #71
Oh ok, I changed the call on line 49 and it's all working fine now. Just had to explicitly bind props.hits to the hit formatting. React behavior misunderstanding I guess?

I'm updating and cleaning the Fiddle, feel free to share if it's needed, it's the least I can do ;)

[2017-04-28 09:22] Haroenv commented on #71
That's amazing, we will definitely make a guide for this. If you want and are as ⚡️ fast as you are on this issue, feel free to make a PR. Either in /examples or as a guide!

[2017-04-28 10:06] THook commented on #71
Sure! I'll push something in the evening

[2017-04-28 11:09] mthuret commented on #71
@THook if you need to access hits, query and refine depending of an entry, then you can try the `connectAutoComplete` connector. It's available with the v4.0.0-beta.

[2017-04-29 10:38] davidfurlong opened #73 "Different Configure across multi-index (beta)"
**Do you want to request a *feature* or report a *bug*?**

Feature (question): I would like to disable Geo-search filtering for records which don't have coordinates. This seems to be currently impossible in the settings, so it seems I could do this by splitting the non-coordinate records into a separate index & then using multi-index. However I am wondering whether this will work using the multi-i

[2017-04-30 08:57] THook commented on #71
Quick heads up : I came back to the fiddle in order to make a PR but it doesn't work as expected anymore. It seems like the query state is never updated. See logs of https://jsfiddle.net/8r928c4y/17/ . It happens both in my app and in the Fiddle

[2017-04-30 09:43] mthuret commented on #73
Yes, when using an <Index> component under an <InstantSearch> root component you can declare widgets that will target a precise index.
Using Configure, It's what we do for our stories with <Index/>, see: https://github.com/algolia/react-instantsearch/blob/master/stories/MultiIndex.stories.js

Also, I'm not sure to see why you would use several <Index> with the same indexName, but this should work.

[2017-04-30 13:19] davidfurlong commented on #73
I can't Configure aroundLatLng to be null (which the docs https://www.algolia.com/doc/api-client/javascript/parameters/aroundLatLng/ says it has as a default value) after setting it somewhere else.

[code]
Form Data:

aroundLatLng:null

[2017-04-30 13:23] Haroenv commented on #73
I think the `null` referenced there is when it’s not set at all. Can you try setting `Configure` without the prop at all vs setting it to `null`

If that’s the case, then #10 is the same.

[2017-04-30 13:30] mthuret commented on #71
Hi @THook, can you give me a heads up about what you're expecting when typing something in the mention textarea? I'm a bit lost with your functional use case.

[2017-04-30 13:42] davidfurlong commented on #10
I'd be surprised if the declarative syntax of Multi-index doesn't support multiple Configure objects - I'd expect in such a case

[code]

I would expect both index `a` and `b` to have the configuration of `someThing: 3` and only index `a` to have `somethingElse:5`. But nested configurations overwriting the other ones if that prop is omitted seems absurd.

[2017-04-30 13:45] davidfurlong commented on #73
I think not setting the prop as a means of removing it would be a terrible design decision.

[2017-04-30 13:46] Haroenv commented on #73
There’s no need to be rude here. I am trying to help figure out what the cause of the bug is, so that it can be fixed.

[2017-04-30 13:48] davidfurlong commented on #73
What I'm saying is I'm not going to test doing that because I think its really unlikely

[2017-04-30 13:49] davidfurlong commented on #73
and I'm not being rude

[2017-04-30 14:05] mthuret commented on #73
Okay I'll write your example done here @davidfurlong as it more related to this issue than the other one. (the other one is about not having Configure removing explicit `null` value from their own props).

[code]
If you write something like that, it means that `arountLatLng` will be applied for a and b. Same for `someThing`. `someThingElse` on the other hand will only be applied for a.

If I under

[2017-04-30 14:10] davidfurlong commented on #73
Thanks @mthuret yes that example belongs here instead.

I said that I was trying to remove the aroundLatLng option in `indexName` `a` by doing `aroundLatLng={null}` (as the docs state that this is the default value for the `aroundLatLng` search state. However my requests are then failed because null is not an acceptable value. Thus it was suggested by @Haroenv that I should remove the setting of `

[2017-04-30 14:20] mthuret commented on #73
Apparently, `aroundLatLng` doesn't accept null as a value (even though, it's mentioned that its default value is null. I'll check this point with the API team on tuesday, to clarify).

Then right now, to me the usage of this search parameters behave like: either you use it with values and it's applied, or you don't pass anything if you don't want this to apply. But this is more an API question tha

[2017-04-30 14:29] davidfurlong commented on #73
yep so this seems to be more of an API issue with setting `aroundLatLng` to be `null`.
I can do as you suggested & have done and its no longer responding with an error about aroundLatLng being null.

[2017-04-30 14:48] THook commented on #71
Hello @mthuret , I am expecting the dropdown values to match my query, exactly like Github mentions work. Typing "@a" and "@z" doesn't update anymore the dropdown suggestions accordingly. When you log the connector state, you can see that the query doesn't get updated on search change, at least on my chrome version

Hope it helps!

[2017-04-30 15:40] Haroenv opened #74 "connectAutocomplete can’t work if you’re in a single-index context"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

`connectAutocomplete` assumes that there are multiple indices, and this iterates over all of the keys to aggregate the hits

**Bug: What is the expected behavior?**

it should only do that if we’re in a multi-index context

[2017-04-30 16:01] Haroenv commented on #71
I made it work with `connectAutocomplete` (after #75 is merged) @THook.

![2017-04-30 18_00_27](https://cloud.githubusercontent.com/assets/6270048/25565809/f212f7fa-2dce-11e7-8e97-ff50a5631fba.gif)

Here’s the code for an app with the Mention component, to be made in a guide when #75 is merged.

[code]

[2017-04-30 17:45] davidfurlong commented on #73
I suspect having looked at the internal searchState in context that setting `aroundLatLng={undefined}` will have the desired effect (although this is not a great practice)

[2017-04-30 18:50] davidfurlong commented on #69
Thanks for moving the issue. I'd like to add that currently removing the refinement for `connectRange` using refine seems to be impossible once set - `refine(null)` and `refine({min: null, max: null})` both don't work. It may even make more sense to provide another function in the props which removes a refinement, rather than overloading the `refine` function

[2017-05-02 09:22] #74 closed

[2017-05-02 09:34] mthuret commented on #71
Hey @THook, we just released a new beta with the `connectAutoComplete` fix. Here's a jsfiddle https://jsfiddle.net/q3t2mLvb/ to illustrate how it works.

[2017-05-02 14:59] mthuret commented on #71
We added this example as a possible usage of the `connectAutoComplete` connector (see: https://github.com/algolia/react-instantsearch/pull/76).

[2017-05-02 14:59] #71 closed

[2017-05-02 16:48] bwanlin commented on #71
How would you add multi-index search in this mention component? thanks !

[2017-05-02 17:01] mthuret commented on #71
@bwanlin: what is the desired output?

The `hits` forwarded props of the `connectAutoComplete` has the following form `[{index1: hits, index2: hits, ...}]` when used with `Index`. See [this example](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/examples/autocomplete/src/App-Multi-Index.js) to have an idea.

[2017-05-03 13:23] Haroenv opened #79 "Pagination: pagesPadding is off-by-one"
**Do you want to request a *feature* or report a *bug*?**

bug

You can see this in https://jsfiddle.net/ar80rgpc/6/ actually

**Bug: What is the current behavior?**

when pagesPadding = 3 (default), two are visible before, and four after.

<img width="412" alt="screen shot 2017-05-03 at 15 16 09" src="https://cloud.githubusercontent.com/assets/6270048/25662175/d4a4af96-3013-11e7-8231-45bc2ad289bd

[2017-05-03 16:30] flouc001 opened #80 "Make 4.0.0 available via npm"
**Bug: What is the current behavior?**
Currently npm installs version 3.3.1 which doesn't include some vital bug fixes such as the critical bug addressed in commit a31fb4b7b

**Bug: What is the expected behavior?**
npm should install v4.0.0-beta5 and if users require v3.3.1 they should specify that in their package.json file.

**Bug: What browsers are impacted? Which versions?**
All applications u

[2017-05-03 16:34] mthuret commented on #80
You can use the tag "beta" if you want to use right away our v4.0.0 betas :)

The release version of the v4 should be available soon (beginning of next week at the latest).

Also, I might release a 3.3.2 containing only this fix.

[2017-05-03 16:45] flouc001 commented on #80
I completely forgot about tags! Thanks I'll use the beta tag for now and then hope back into production builds when 4.0.0 goes live. I do think a31fb4b would benefit everyone using this repo.

[2017-05-03 21:19] neilrichler opened #82 "Broken links to Discourse"
The following pages have broken links to Discourse.

We should update the links to point to https://discourse.algolia.com/tags/react-instantsearch

The affected pages are:
https://community.algolia.com/react-instantsearch
https://community.algolia.com/react-instantsearch/examples/Demos.html
https://community.algolia.com/react-instantsearch/examples/Recipes.html

[2017-05-04 08:27] #82 closed

[2017-05-04 15:07] #27 closed

[2017-05-04 15:08] mthuret commented on #80
3.3.2 has this fix now.

[2017-05-04 15:08] #80 closed

[2017-05-05 14:26] flouc001 commented on #80
Thank you :+1:

[2017-05-10 11:28] bobylito opened #85 "infinite hits: should we load the previous pages"
When loading a page that use the infinite hits widget on a page that is not the first one (eg. page 3), neither the connector or the widget loads the previous pages for the initial rendering.

The question is: should we load the previous pages?

[2017-05-10 14:54] flouc001 opened #86 "Search State Parameter"
# Question
I have a React+Redux application where I reproduce search state from a query URL. It seems passing this search state to the InstantSearch component is not sufficient enough to reproduce the search. Do I need to use virtual widgets to reproduce the refinements? If so this seems a bit clunky as I'll have to have many virtual widgets each reproducing refinements. Also if this is the case y

[2017-05-11 07:16] JStonevalley commented on #85
I would argue that the option to load previous pages is essential.
We want to provide a seamless browsing experience and when browsing through items it is not uncommon that people want to check out the item in more detail. In our app that results in them being routed to an ItemDetailView. When the user navigates back we would like to restore the scroll position to the place where they were located

[2017-05-11 07:54] mthuret commented on #86
Hi @flouc001

You're right, the search state himself it's not sufficient for Instant Search to make the correct request. For that you need the corresponding widget to be mounted (either regular or virtual if you don't want any rendering). That's because each widget contains the search business logic, including what search parameters to set.

We should definitely make our guide clearer about that i

[2017-05-11 08:28] Haroenv commented on #86
You could also use [Configure](https://community.algolia.com/react-instantsearch/widgets/Configure.html) to set refinements manually, that should send a request automatically.

[2017-05-11 08:36] mthuret commented on #86
@Haroenv Actually if the refinement is something covered by a widget, it's easier to use it directly.
For the rest of the search parameters that are not covered, then `<Configure/>` should be used.

[2017-05-11 09:58] flouc001 commented on #86
Thank you for your suggestions!

[2017-05-11 10:09] ylac opened #87 "Feature Request: Provide loading and error props for react native hits connectors."
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

Require loading/error info for React Native app.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Could you please add the loading (currently under searchResults.searching) and error variables as provided props for all the Hits conn

[2017-05-11 10:12] vvo commented on #85
Should we even allow for url synchronisation or "page" concept when using a "load more" button?

From the user POV there's no concept of page X when using load more/infinite hits. If we do not sync the page to the url when using loadMore (aside from implementation challenges), if you copy paste the url you will just get back to page one.

For a UI that is using "infinite browsing", where page numb

[2017-05-11 10:29] Haroenv opened #88 "Deploy examples live"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

You can see easily how an example looks

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Adding either a deploy.now.sh button, deploying them in CI or making sure netlify deploys this too

**What is the version you are using? Always

[2017-05-11 10:31] Haroenv commented on #85
In my experience Safari keeps the page in memory, and back button works, but in Crome it goes to page 1

[2017-05-11 11:24] mthuret commented on #87
Hi @ylac,

Those variables are accessible through our `createConnector` api. See: https://community.algolia.com/react-instantsearch/guide/Conditional_display.html

You can use this method to build your own `<Loading/>, <Error/>` etc, component.

However, we're thinking to provide an intermediary api to do that, that will not require any usage of `createConnector`.

Let me know if this help

[2017-05-11 13:23] ylac commented on #87
Thanks for your reply. I was more looking to use the connectInfiniteHits connectors but with loading/error props. Is there an easy way to do that without copying the whole connectInfiniteHits connector?

[2017-05-11 13:41] mthuret commented on #87
I'm not sure to get why you'll need that information present inside the hits connector?

You got several possibilities here:

1. Conditional rendering of component

[code]

2. pass the error to another component to do the conditional rendering inside it

[code]
3. build your own `<Loading/>, <Error/>` widgets (based on the create connector) to do something more declarative like:

[code]

Will one

[2017-05-12 00:42] ylac commented on #87
Ok I got it to work like possibility 2. Thanks for your help.

[2017-05-12 00:42] #87 closed

[2017-05-12 12:23] adrien-gueret opened #89 "Access all items properties from transformItems"
**Do you want to request a *feature* or report a *bug*?**
Submit a feature.

**Feature: What is your use case for such a feature?**
I use the `<Menu />` component in order to filter my items according to some tags. Tags have this format:

[code]

And the component is used like this:

[code]

The `<Menu />` component has a prop `transformItems` : I use it in order to sort the menu items according t

[2017-05-12 12:33] Haroenv opened #90 "Allow using of the Places dataset"
**Do you want to request a *feature* or report a *bug*?**

feature

**Feature: What is your use case for such a feature?**

You can easily use the Places index

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

adding a `placesApiKey` prop  to `<InstantSearch />` will allow you to use an `<Index>` with the places index.

In is.js places is handled as a sep

[2017-05-12 14:08] raphi commented on #90
👍

[2017-05-13 21:46] mvanlonden opened #91 "range connector with multiple attributes"
Looking at the [beta docs on custom connectors](https://github.com/algolia/react-instantsearch/blob/master/docgen/src/guide/Custom_connectors.md) and since `connectRange` doesn't serve my use case I thought I would post it here before taking a stab at the custom connector.

A sample record looks like
[code]
I would like to use a range connector to find records that fall within a specific range. If

[2017-05-15 00:28] mvanlonden commented on #91
This seems to do the trick? For a component like
[code]
Probably missing some things but it seems to work. Just tweaked the `connectRange` component.
[code]

[2017-05-15 13:44] mthuret commented on #89
I'm closing this as for now having facet metadata is not supported by the API.

Currently the way to solve this is either to have a static list elsewhere, or to concatenate all the metadata with the label and split those inside `transformItems`.

I'll reopen this later if any change.

[2017-05-15 13:44] #89 closed

[2017-05-15 14:15] Haroenv opened #92 "[HierarchicalMenu] limit gets applied before transformItems"
**Do you want to request a *feature* or report a *bug*?**

**bug**

**Bug: What is the current behavior?**

The values get truncated by `transformValue` before the `transformItems` is applied, that means that the truncation will change the sort

see [connectHierarchicalMenu.js#L188-L193](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/src/connectors/connectH

[2017-05-15 14:36] mthuret commented on #91
Hi @mvanlonden,

If I understand correctly you're trying to recreate the [`<RangeInput/>`](https://community.algolia.com/react-instantsearch/widgets/RangeInput.html) but having the min and the max being inside two different attributes?

May I ask what's your business use case behind this?

[2017-05-15 15:19] mthuret commented on #90
@Haroenv @raphi I'm not sure we want to allow the browsing inside the Places dataset directly from RIS but rather propose a widget for RIS inside places.

Indeed it was an issue that already existed there: https://github.com/algolia/instantsearch.js/issues/1773. I didn't recreated it as it was not a high priority (=> we would rather have first a solid geo loc example using google). Of course this

[2017-05-15 16:50] mvanlonden commented on #91
Sure. I'm creating a filterable list of house designs which includes filtering by attributes like square footage, price, number of bedrooms and number of bathrooms. A design might have multiple variants like "with garage" or "with double master suite" which could specify different values for any of the attributes. A record in algolia represents the base model and all of its variants. So if the bas

[2017-05-16 14:34] vvo opened #95 "Add migration guides link to the guide section of the website"
As a user of react-instantsearch, I may not be checking discourse every day so to be able to move to V4 I would be happy having a section in the guide like "Migration guides".

Where we could link to the release notes on discourse for every major version.

What do you think?

[2017-05-16 14:42] mthuret commented on #95
It's present inside the Changelog.md but yes, we can definitely add a new section it would be more visible.

[2017-05-16 16:21] mthuret commented on #91
@mvanlonden: in that case, isn't it possible to use multiple `connectRange`?

One for the main attributes, and one for its variants.
Then each connected component should only display one input and set the min === max.

Will this work?

[2017-05-16 16:32] mvanlonden commented on #91
I'm not sure I understand. You mean nesting the hoc? Since a base model can
have multiple variants there is a range of values for an attribute in the
data model. The base model might have 3 bedrooms and it might have 4
variants one with 4 bedrooms, one with 5, another with 4, and one with 6.
So then in the algolia record there​ is a minBedrooms attribute of 3 and a
maxBedrooms attribute of 6. Does

[2017-05-16 20:13] JStonevalley commented on #85
@vvo In our experience the backbutton does not work. When syncing the state with the url. However; we might be using it wrong. I would happily be trold that is the case and learn how i should do it properly.

[2017-05-17 17:08] #95 closed

[2017-05-18 08:42] mthuret commented on #91
@mvanlonden The way I understand what you're trying to do is that you need to let the user enter one value per attributeName. And the composition of all of them form a Range.

That's why I was wondering if using a connectRange per attributeName where the min === max wouldn't do the tricks.

[code]

If I'm wrong about your use case maybe a small mock-up of the UI and interaction would hep.

[2017-05-18 11:45] tobiastheil opened #100 "How to Refresh Hits after adding a new Object?"
Hey,

I am displaying results in my Single Page Application with `<Hits />`.

After adding a new Page (including Indexing) I would like to trigger a refresh of the Hits.

client.clearCache() does not work.

Any hints?

[2017-05-18 15:42] mthuret commented on #100
Hello @tobiastheil,

I believe that unmounting your current InstantSearch instance and mounting a new one can do the trick.

[2017-05-19 07:52] tobiastheil commented on #100
Hey,

I have tried that. I have also tried adding a delay. Sometimes it works, sometimes is doesn't. The UX of it isn't that great.

Can I somehow trigger a search and then reset it?

[2017-05-19 08:51] tobiastheil commented on #100
My solution is that I hide the search when the query is empty. Instead of the <Hits /> component I present a List of all the items based on an internal Array that I can "control"

[2017-05-19 08:51] #100 closed

[2017-05-19 08:54] mthuret commented on #100
Can you share some code to help me see how you solve this?

[2017-05-19 09:03] Haroenv commented on #73
Setting undefined is [equivalent](http://stackoverflow.com/a/32233058/3185307) to not setting a prop in React, so this makes sense. Null and false will propagate down, while undefined acts as if it doesn’t exist.

I think this question has been solved now?

Have a nice day!

[2017-05-19 09:03] #73 closed

[2017-05-19 09:23] tobiastheil commented on #100
[code]

[2017-05-19 18:04] mvanlonden commented on #91
@mthuret no this is not what I'm trying to accomplish. Screenshot below is from the site.
![UI Screenshot](https://puu.sh/vV9ML/6b1d64827d.png)
Here you can see a record and a subset of its corresponding filters. This particular record has a range in price, `minPrice` - `maxPrice` or `500,000` to `550,000`. The price range component on the right should be able to filter for that record. So if a us

[2017-05-22 15:36] mthuret commented on #17
**Context of the experimentation:** usage with Next.js. The goal was to get from the server a page containing all the results.

**Difficulties:** In order to get all the results at the first render, we need to be able to compute those results before it and inject it. The difficulty came from the fact that the search parameters are computed by each mounted widgets after the first rendering, same fo

[2017-05-22 15:41] davidfurlong commented on #17
Could this work:
Not rendering on the server, using a HOC (what we currently do, although we dont use Next).

[2017-05-22 15:42] davidfurlong commented on #17
I also dont understand why you propose solving SSR just for Next.js and not generally. Although Next.js is gaining popularity I dont see it being used by serious companies

[2017-05-22 15:43] Haroenv commented on #17
It’s an example @davidfurlong, once you can get the DOM rendered for first paint with one SSR solution, it can be used in more situations

[2017-05-22 15:43] mthuret commented on #17
@davidfurlong: I just replace this phrase with this "you can use React InstantSearch but won't benefit of a good SEO (having all the results since the first rendering).". Is your comment still applying?

About next.js, it was the context of the POC. I'm pretty sure this API can work with other SSR technique.

[2017-05-22 16:01] davidfurlong commented on #17
Its not just a question of SEO but also performance. First render on server is much quicker than rendering on the client after the bundle has been downloaded - our react-instantsearch part is rendered empty for approx 2s until its rendered on the client.

[2017-05-23 09:26] flouc001 opened #102 "MultiRange Label Object"
# Question
Should [`MultiRange`](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/src/widgets/MultiRange.js) accept `Object` typed variables passed to it's label property to support JSX? Currently it throws a warning as it only expects type `String`.

[2017-05-23 09:40] mthuret commented on #102
Hi @flouc001

That's a choice we made, translations such as `labels` are only accepting strings.

If you wish to have a complete different render then you should use the `connectMultiRange` connector.

`MultiRange` also accepts a `transformItems` props if you need to add information without touching the DOM.

What are you trying to achieve in term of display?

[2017-05-23 09:55] flouc001 commented on #102
Hi @mthuret

That's unfortunate. The render is completely fine and gives me the desired look and feel however I get a PropType warning telling me I should be using a `String` when I am in fact passing a JSX `Object`.

It's just a warning so it can be ignored however it would be nice to add objects to the acceptable PropTypes. However like you say the decision was made.

Thanks for your reply!

[2017-05-23 09:56] mthuret commented on #102
I'm curious, can you share the look and feel of what you're doing?

[2017-05-23 10:08] flouc001 commented on #102
So I have created a React `Component` called `Icon` which essentially takes properties and renders a FontAwesome formatted `<i>` element. I am replicating the `StarRating` widget from just using the `MultiRange` widget instead. To make it look nice I use FontAwesome [stars](http://fontawesome.io/icon/star/) for the label property. Here's an example:

    <MultiRange attributeName="rank"
        it

[2017-05-23 10:58] mthuret commented on #102
That's good to know. I'm closing this for now.

I'll let you know if there's any evolution about this subject.

[2017-05-23 10:59] #102 closed

[2017-05-23 12:37] mikaa123 commented on #17
Since there is the `resultsState` prop on `InstantSearch`, it could work with any SSR approach. Really like the API!

[2017-05-23 19:26] mvanlonden commented on #91
@mthuret is there any additional clarification I can provide? Do you understand the use case?

[2017-05-24 09:16] Kikobeats opened #105 "StarRating: Calculate based on score attribute"
StarRating component doc says:

[code]

Currently my rating score is represented as a number between `0` to `1`.

The widget can't handle it; Does it need a number between `0` to `6`?

I supossing that because the max number of star I see are `6` at Storybook.

It would be deseable the calculate the number of star based on the attribute `min`/`max` value.

Example:

- If your `max` is `1`, then it

[2017-05-30 08:56] mthuret commented on #105
Hello @Kikobeats,

This widget doesn't handle half stars.

That being said you can already represent your max value as 3 stars. Just use 3 for max. (It means that your highest rating attribute must be 3 then).

[2017-05-30 09:04] mthuret commented on #91
Hi @mvanlonden, sorry for the long delay.

May I ask why you need to have two attributes "minPrice" and "maxPrice" to handle a range on prices, instead of using only one attributes "price"?

[2017-05-30 09:07] mthuret commented on #17
Next steps:

[ ] : POC featuring URL Sync
[ ] : Implementation
[ ] : Guide
[ ] : Beta release

[2017-05-30 09:15] mthuret opened #106 "Examples: add a view source code link"
Here: https://community.algolia.com/react-instantsearch/examples/Demos.html

[2017-05-30 09:55] Kikobeats commented on #105
could be sense expose a function in the component API for calculate the number of stars?

[2017-05-30 12:53] mthuret commented on #105
I'm not sure to understand.

Let say you have records with a `rating` attribute that goes from 1 to 3. Then, by default, the StarRating widget will display three rows going from 1 stars to 3 stars.

[2017-05-30 13:10] Kikobeats commented on #105
Ok let me try, thanks!

[2017-05-30 13:10] #105 closed

[2017-05-30 15:01] #58 closed

[2017-05-30 21:16] redox opened #107 "Documentation: connectors code sample"
While browsing the **Connectors** pages, we don't explain from where to import the connectors nor how to use them. Would be cool to have a small snippet of code:

[code]

[2017-05-30 21:17] redox commented on #107
So we do have examples for some of them (like the `connectHighlight`; but the `import { connectHighlight }` is missing)

[2017-05-31 08:54] mthuret commented on #107
Ideally we should add a connector usage example inside the storybook and link the source code of that story. The storybook is not yet tested but at least the code is executed often when developing.

[2017-06-01 08:43] mthuret opened #111 "Having the search state compatible with all our other libraries"
Use case:

For example, you're using React-InstantSearch for a web application and a native mobile client for the mobile app. Right now, there's no way to share the state between those app. It means that RIS can't provide enough information to build the state that is needed for the native client.

Proposal:

TBD

[2017-06-02 13:58] shalomvolchok commented on #16
Just browsing through issues to see if anyone was asking for this. This would be a great feature to have. What I actually came looking for was a connector that would allow retrieving a list of objects. My use case is to be able to render a list of featured products and use algolia as the source of truth to pull out product data. Something like this:

[code]

I see that we can do it currently with

[2017-06-02 14:06] mthuret commented on #16
Hi @shalomvolchok,

Why not using another `<InstantSearch/>` to display those records? You'll need to add a `featured` attribute on them and configure your second instance to actually retrieve only items that are featured.

Otherwise you could use directly `algoliasearch` to fetch those records using getObject. You can also pass this client to `<InstantSearch/>` for being used by the instance.

[2017-06-02 14:07] Haroenv commented on #16
Getting single objects can *now* be done by doing this until we provide a connector for retrieving specific hits:

[code]

Then you can map over `Hit` components.

[2017-06-02 14:45] shalomvolchok commented on #16
Thanks for the quick replies!

@mthuret, I want to be able to pass in a dynamic list that could include any of the products in Algolia. If I understand your suggestion, you're saying to tag the results in Algolia but that seems like it would be a static solution?

@Haroenv  This could work for now, I have something similar that I started testing.

@mthuret @Haroenv Right now I have a template that

[2017-06-02 14:51] mthuret commented on #16
How often those `featured` items are changing? To me it can be dynamic, the same way you'll have to know the objectId on the front-end side, you can actually update those records on the server side.

Regarding the client you'll instantiate it once, and then InstantSearch will use it. Then I don't think there's a need to play with the context. Just pass it along as a prop.

Obviously when the singl

[2017-06-02 15:00] shalomvolchok commented on #16
Well I'd like to have the functionality to change them independently from the index. For example, so that we could a/b test one list of featured items vs another. Or to show a list of recently viewed products to a specific user.

I'll pass the client into InstantSearch and down as props for now.

Thanks for the help :) And love the way this library and Algolia work. Great service and great pattern

[2017-06-02 15:11] Haroenv commented on #16
I’m not near to a computer now, but I think you can do something like this:

[code]

And then use that configure in a separate `<Index>` for featured items.

[2017-06-02 16:03] shalomvolchok commented on #16
@Haroenv I tested your suggestion with the code below and it totally seems to do what I need. I assume something like this is what you had in mind? Thanks!

[code]

[2017-06-02 16:27] Haroenv commented on #16
Indeed, that’s what I was suggesting! I’d write

[code]

instead though, a bit more obvious 🎉

[2017-06-02 16:30] shalomvolchok commented on #16
I tried that first, but I got an error from Algolia because in the first reduce iteration `filters` is just an ID and it doesn't get `objectID:` in front of it. Maybe a simple way to fix that, but first thing to my mind was just add the map...

[2017-06-02 16:31] Haroenv commented on #16
Ah interesting, could you share that in a codepen, seems like a bug 👍

[2017-06-02 16:39] mthuret commented on #16
@Haroenv I didn't know that we could filter by objectID, I thought it was not working. That's cool!

Then I think @shalomvolchok that you can also skip the Configure + map/filter step by just using a VirtualRefinementList or a VirtualMenu. Something like:

[code]
It even seems that directly using a Menu or RefinementList is possible as nothing is displayed.

That's a nice use case using the multi

[2017-06-02 16:41] shalomvolchok commented on #16
@Haroenv https://codepen.io/anon/pen/MoWYPG?editors=0010#0

@mthuret ok, let me have a try with that as well...

[2017-06-02 16:42] Haroenv commented on #16
not that it’s a big improvement, but

[code]

also works. Whatever you find more legible

[2017-06-02 16:52] Haroenv commented on #88
It would be nice if they were deployed just like the “big” examples are.

[2017-06-02 17:16] shalomvolchok commented on #16
OK, pulled all that into a HOC and ended up with this. Seems to satisfy all my use cases.

[code]
I use the HOC like this:
[code]
How does that seem?

[2017-06-02 17:46] shalomvolchok commented on #16
Hmmm... Maybe I misunderstood. I was thinking that `<Index>` could give me another instance of the same index to play with. But do I need a completely different `index_name`? Also, it seems that I can only have one list, a second list seems to refine the ids from the first. Also, my search seems to refine my featured products list... Have I really missed something here and this just needs a little

[2017-06-02 20:25] mthuret commented on #16
I think I was a little too fast here... indeed you can't use the multi indices API because its made to target different indices. In your case you should use another `<InstantSearch/>` instance.

Like this:

[code]

[2017-06-02 21:04] shalomvolchok commented on #16
OK, thanks for the reply. I'm out of the office today, but I will give it a try in the morning and confirm I've got it working.

[2017-06-03 09:36] shalomvolchok commented on #16
Yes, I can confirm that got everything working. Appreciate the help :+1:

[2017-06-03 11:04] mthuret commented on #16
That's cool @shalomvolchok! Happy coding :)

[2017-06-03 11:22] pixelastic opened #112 "[docs]: Autocomplete does not close correctly"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
When typing a search query on the website, there is no way to close the autocomplete unless we select a result.

![2017-06-03_13h21m29](https://cloud.githubusercontent.com/assets/283419/26753130/99938134-485f-11e7-928d-f05bb2636e48.gif)

**Bug: What is the expected behavior?**
Clicking outside the

[2017-06-03 11:37] pixelastic opened #114 "[docs]: Community icon not showing properly"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Clicking on the "Algolia Community" link in the head will show a dropdown of our community projects, but some of them are missing icons.
![image](https://cloud.githubusercontent.com/assets/283419/26753209/b30b44ec-4861-11e7-873e-fb2b6d9da20a.png)

**Bug: What is the expected behavior?**
All projec

[2017-06-03 11:43] Haroenv commented on #112
We should move to the community header. There are some other bogs with this search bar too. Cc @jonasba

[2017-06-03 16:46] pixelastic commented on #42
After years of doing CSS at different scales, the way I found the easiest to write and maintain is using an approach similar to [tachyons.css](http://tachyons.io/): hundred of re-usable classes that do each one thing and one thing only.

You end-up writing HTML like this: `<div class="pa3 bg-red white ml3 tc">`. Each of those class has one responsability, and once you get used to the terseness it'

[2017-06-04 03:31] gilesbutler opened #117 "Connector items returning wrong values"
Not sure if this is a bug or if we're doing some thing wrong. When using the [connectRefinementList](https://community.algolia.com/react-instantsearch/connectors/connectRefinementList.html) widget we're getting strange results from the provided `items` prop. The docs say that each items `value` prop should be a string: `type: array.<{count: number, isRefined: boolean, label: string, value: string}

[2017-06-04 16:15] pixelastic opened #118 "[docs]: Confusing connectHighlight example"
I'm quite confused as the way highlighting is working in React InstantSearch. I need my highlight to be enclosed in `<span class="highlight"></span>`, so I defined `highlightPreTag` and `highlightPostTag` in my index settings, but those are locally overriden by the library.

I looked at options on how to define a custom markup in the `Highlight` component, but could only find a way to change the H

[2017-06-04 18:11] pixelastic commented on #22
I add my voice that this would be very useful. I can't find an elegant (ie. one that does not involve regexp and `setDangerouslyInnerHTML`) way to do it :/

[2017-06-04 18:49] pixelastic opened #119 "[InfiniteHits]: "Load More" button is displayed when there are no more results"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
When using the `InfiniteHits` widget, if I type a query that results in very few results, the `Load More` button is still displayed while there are no more records to load. Clicking on it does not do anything.

You can test it in the [storybook](https://community.algolia.com/react-instantsearch/st

[2017-06-05 14:21] njt1982 opened #121 "React Native & Menu facet"
I'm trying to implement the `Menu` (https://community.algolia.com/react-instantsearch/widgets/Menu.html) on my app but getting a JS error about the element type being invalid (got undefined, likely forgot to export your component).

[code]

This all works fine if I remote `Menu`.

I'm clearly doing something wrong, but I cannot find any documentation about using a Menu facet/filter on react native

[2017-06-05 14:24] njt1982 commented on #121
It doesn't look horrifically different to https://github.com/algolia/react-instantsearch/blob/master/stories/Menu.stories.js

[2017-06-05 14:27] njt1982 commented on #121
ok so `react-instantsearch/native` doesn't export a Menu... So that explains that error, I think? https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/native.js

[2017-06-05 15:07] njt1982 commented on #121
So importing from dom causes this:

![image](https://cloud.githubusercontent.com/assets/384976/26789730/1341368e-4a09-11e7-812f-19b31bc6890a.png)

[2017-06-05 17:06] njt1982 commented on #121
ok, current progress...

Instead of `<Menu... />` I'm now doing `<ConnectedEventsFilter attributeName="events" />` along with this:

[code]

Pro points:
* this does not error and I even get the Text on the screen and my console has `this.props.items` as an array of facet items with count and label....

Con points:
* I have to build the widget markup myself?!

I feel like I am missing something her

[2017-06-05 18:15] njt1982 commented on #121
hmmm so this error:
![image](https://cloud.githubusercontent.com/assets/384976/26796925/1f50ae36-4a23-11e7-90cd-9820101537c5.png)

Seems to indicate that something is using non-react elements (https://stackoverflow.com/a/38238220/224707)...

It looks like using one of the provided components does not use React Native elements...
https://github.com/algolia/react-instantsearch/blob/9afd0eff249c87379

[2017-06-05 20:30] njt1982 commented on #121
Ok so THIS lets me render a facet out using Native Base CheckBox's...

[code]

But my problem now is trying to get it into a Drawer...

[code]

However, this throws errors due to the `ConnectedCheckboxRefinementList` not being able to pickup the context from the `InstantSearch` (as its outside it).

If I invert those wrappers (so Drawer is inside the InstantSearch), then the Drawer is not rendered

[2017-06-06 08:08] mthuret commented on #114
I think it's the same thing than here => RIS must be updated with the new header from @JonasBa => https://github.com/algolia/react-instantsearch/issues/40

[2017-06-06 08:12] mthuret commented on #117
Hi @gilesbutler,

Actually this is the normal behaviour :) There's a typo in the documentation. `value` is an array of string because actually it contains all the already selected value plus the value itself if the value is not selected yet, and all the already selected value minus the value itself if the value is selected. It's a precomputed value for the select/unselect value behaviour of the re

[2017-06-06 08:16] vvo commented on #106
Nice, we could do a split overlay:

[code]

[2017-06-06 08:20] vvo commented on #111
Yes for this, being able to express the state of a search UI in a common way in all our InstantSearch libraries and being able to serialise this state to either helper or REST API requests is key for the future of InstantSearch.

[2017-06-06 08:21] vvo commented on #88
I think you meant recipes?

[2017-06-06 08:28] mthuret commented on #118
@pixelastic I did some modifications that were not pushed yet to production about this example but definitely regarding your feedback they were not enough. The right example is:

[code]
To be used like:

[code]

highlightProperty is the former path, you need to indicate the structure that contains the highlighting values: _highlightResults or _snippetResults.

[2017-06-06 08:38] mthuret commented on #119
It misses our `disabled` style:

[code]

[2017-06-06 08:38] Haroenv commented on #88
Yep, see also https://github.com/zpnk/deploy.now/issues/17#issuecomment-306295664

[2017-06-06 08:43] pixelastic commented on #118
Thanks, it's much clearer. You still have a few small typos (`s/highligtedHit/highlightedHit` and `hit={hit}').

I think the documentation would be enhanced with this example.

By going the custom connector route, aren't I missing some of the features/edge-cases that are handled in the default Highlight component?

[2017-06-06 08:49] vvo commented on #88
I am unsure we want to use zeit/now, only because we already have GitHub pages, netlify so adding a third deploy provider: unsure.

What we could do is deploy those recipes just as how examples are deployed: by adding them to our webpack/flow.

[2017-06-06 08:51] mthuret commented on #121
HI @njt1982,

Thank you for all this feedback. Actually we do not provide react native widgets yet, so you can only use connectors. It means that you need to implement your own `Menu` using the `connectMenu` connector. Also, our connectors can't be used outside an `<InstantSearch/>` instance. Because you're trying to implement a react native app you'll have to use multiple `<InstantSearch/>` insta

[2017-06-06 09:03] mthuret commented on #118
Have you some features/edge-cases in mind?

[2017-06-06 09:13] pixelastic commented on #118
Nope, I just have the feeling that by using the connector I'm entirely bypassing the work you did on the official `Highlight` component. And as I don't know what it's doing under the hood I was just wondering if maybe there were edge-cases I was missing.

[2017-06-06 09:20] mthuret commented on #118
This work is done inside the `highlight` function :).
The `Highlight` widget only creates the markup.

Just by curiosity why couldn't you just reuse our own classnames?

[2017-06-06 09:26] njt1982 commented on #121
Thanks @mthuret - the way I got around the nesting problem (at 1.30am last night!) was to add this to one of my elements inside InstantSearch `ref={(ref) => { this.vm = ref; }}` - then my Drawer content is rendered from a method which checks for the presense of `this.vm`. If its not present/set yet then it bails and returns null. If it is set, then it renders the custom widgets inside a wrapper wh

[2017-06-06 09:39] mthuret commented on #121
You should definitely not pass any context as props as its internal and can be changed but use another `<InstantSearch/>` instance inside your drawer :) You'll also have to use a VirtualSearchBox and a VirtualMenu inside the drawer.

In the example I gave you you'll find how we sync the `searchState` between different screen. Even though here it's just a drawer you can use the same strategy.

I'm

[2017-06-06 09:41] njt1982 commented on #121
No errors, no - but it just didn't render the hits (a white area). I think it WAS rendering them somewhere, but the layout was all wrong. And the draw came in from the side as a 10px high bar and there was no grey overlay (or underlay?!). If I removed the hits, it all rendered fine (but obviously without any result set!). I messed around with all the flex stuff for hours, no luck.

I'll have a loo

[2017-06-06 09:42] mthuret commented on #121
Let me know how it goes. If you're still stuck maybe sharing a repo with the issue could be easier :)

[2017-06-06 09:48] mthuret commented on #121
You could use: https://repl.it/languages/react_native or https://snack.expo.io

[2017-06-06 10:13] pixelastic commented on #118
Ideally, I'd like to take advantage of my already existing CSS classes. I already have classes that do highlight, and I would like to apply those classes to the highlight element.

As a workaround, I have been using `.ais-Highlight__highlighted` and used SCSS to `@extend` it to add the styling from my initial class, but this is far from optimal. The way `@extend` works in SCSS creates cascading pr

[2017-06-06 10:22] njt1982 commented on #121
@mthuret  Thank you for the tips! Passing the searchState around has simplified things a lot. Fewer wrappers ;) Hopefully, if anyone else hits this issue before it's been documented properly, they'll find this thread ;)

However, I'm still not 100% sold on having to configure an InstantSearch in multiple places. It seems to mean "duplicating" settings like `appId`, `appKey` and `indexName`.

[2017-06-06 11:34] mthuret commented on #121
You can have a configuration file with those in order to not repeat them everywhere :)

[2017-06-06 12:32] julienpa commented on #42
@mthuret @pixelastic what about testing with a component-level option where we can pass a set of classes for each (sub-)component? Basically it would use my initial suggestion but at a more granular level.
On the implementation side, it would mean checking the presence of this attribute and add the provided classes for the RIS component with the specified class, e.g.
[code]

[2017-06-06 12:37] redox commented on #42
In the meantime, SASS inheritance could be an alternative (not the most DRY, but cool for POCs)?

[code]

[2017-06-06 12:40] Haroenv commented on #42
Would go with only using the "element" as key of that object, and if that key is present, add an extra class. It's not ideal since it's an object prop, but otoh, I think it  would be reasonably simple to inject in the bem function (If provided includes same key as in function, then output two. The props.classes or whatever can then be passed through from the component to the function.

[2017-06-06 13:00] pixelastic commented on #42
@redox: SCSS `@extend` has a few drawbacks when it comes to selectors priorities. It's a hack that can be used as a workaround on a small project, but it will lead to issues in large scale. For the record, that's how I solved my issue so far, but it makes me write CSS in a completly different way than the rest of my app, just for RIS. In the long term, it makes the approach brittle as RIS is addin

[2017-06-07 08:37] mthuret opened #123 "When changing the hitsPerPage configuration on the fly, connectInfiniteHits doesn't react well"
See: https://discourse.algolia.com/t/infinite-hits-with-skip-and-limit/1538/3

Basically when you change the number of hitsPerPage on the fly, then you end up with duplicates element.

[2017-06-08 01:42] gilesbutler commented on #117
Thanks for getting back to me @mthuret - sorry for the late reply, I got hit with food poisoning!

It seems like a bit of an odd implementation but I'm probably just looking at it from our use case. Which is that we're trying to use it with [react-select](https://jedwatson.github.io/react-select/). I find it strange that `value` needs to change at all, maybe I'm missing something. But for each ite

[2017-06-08 06:16] Haroenv commented on #117
Shouldn't that be a connectMenu since a drop down can only have one value?

[2017-06-08 11:30] gilesbutler commented on #117
@Haroenv react-select has a `multi` option so you can select more than one option. I've got it working now by using the `label` prop instead of `value`. Feels a bit hacky but seems to be working ok. I'm still pretty sure there is something wrong on Algolia's end though. I've seen the `value` prop come through as null, an empty string and a string with the value in it. As well as an array with the

[2017-06-08 11:58] mthuret commented on #117
@gilesbutler That's because `react-select` uses its own model and keep track of the selected data. This kinda messed up with the way we are computing the values. But it's ok, it still can work :)

Here's a working example using React InstantSearch.

[code]

Also here's another example of the usage of the connectRefinementList connector. You can see how those pre-computed values make things easier.

[2017-06-08 22:07] njt1982 commented on #121
@mthuret the issue I have now is that I can search in the SearchBox and I can refine from my Drawer (and these refinements apply to the Hits)... However the query from the SearchBox is not being passed to the Refinements. I can see it's being propagated via state.searchState to the Drawer, am I also meant to pass that state into the connectedRefinementList's?

[2017-06-09 06:52] gilesbutler commented on #117
Awesome, thanks @mthuret. Makes more sense :) Appreciate your help 👍

[2017-06-09 06:52] #117 closed

[2017-06-11 11:43] Kikobeats commented on #16
I'm doing a hacky workaround similar to yours approach, but in my case I want to be possible display different widget based on a search filter.

HOC looks like:

[code]

[source code](https://github.com/windtoday/windtoday-marketplace/blob/tabs/src/app/Home/index.js#L9)

so I defined a [HomeProducts](https://github.com/windtoday/windtoday-marketplace/blob/tabs/src/app/HomeProducts/index.js#L25) co

[2017-06-11 12:00] shalomvolchok commented on #16
@Kikobeats the example HOC I posted in full didn't end up actually working as expected. What @mthuret suggested, that did work, was to wrap every different instance of search results with its own `<InstantSearch/>`. Without this I got the same results as you are seeing and other behavior I didn't want. So basically, I think something like this should work for you:

[code]

[2017-06-12 08:49] #118 closed

[2017-06-12 14:49] #123 closed

[2017-06-13 10:14] vvo commented on #42
Simple proposal for you to review:

[code]

[2017-06-13 10:17] pixelastic commented on #42
So what should I have to pass, as a user? the `myClasses` object or the `defaultCompute` method called for every time a class if to be added?

[2017-06-13 11:26] olance opened #126 "[Theme] Hierarchical menu has no height"
I'm using `<Panel>` components to wrap my different refinement components.
I have a `margin-top` on the panel root to space my panels:
![image](https://user-images.githubusercontent.com/314079/27080204-307be86a-503b-11e7-96a4-6eaec3712194.png)

However as you can see, `Marcas` is not spaced from the categories menu even though the margin is applied.

The reason for that seems to be that the `.ais-

[2017-06-13 11:31] vvo commented on #42
You would have to pass a CSSClassNames method where you can map to anything or use the default class name.

This also allows you to easily add any prefix.

[2017-06-13 12:00] julienpa commented on #42
@vvo does it mean that with the code snippet you shared, we could override classes of any RIS component just by updating the `myClasses` object?

[2017-06-13 12:04] pixelastic commented on #42
What would the `CSSClassNames` method signature be? From what I understand it only needs to take the initial RIS classname as input and return a new set of classes. I don't understand what the `defaultCompute` is doing here.

[2017-06-13 14:09] vvo commented on #42
This is a proposal only for discussing it, it's a prop on the main InstantSearch component that you can use to customize CSS class names.

[code]

You can do pretty much anything with that, from overriding the default prefix to changing the BEM notation or providing more CSS classes to one element (bootstrap)

[2017-06-13 15:03] julienpa commented on #42
I like the idea! Basically you expose the internal BEM function and you allow the user to either use it literally or to customize the output?

[2017-06-13 16:51] pixelastic commented on #42
Oh I see. That's a terrific idea, gives a lot of power to integrate with any library that way. A function would let a users add classes, change them, apply conditional changes. I love it.

[2017-06-14 08:53] Haroenv commented on #126
I guess since they’re floating, we need a clearfix there.

[2017-06-14 12:54] olance commented on #126
@Haroenv I tried quickly but couldn't have it to work... I might have missed something 😅

[2017-06-18 23:23] Kikobeats opened #131 "[Question] Waiting hits"
Hello, folks

I'm trying to setup a content placeholder until `hits` are available.

Live demo: https://tabs--windtoday-app.netlify.com/#/search

For that, I'm using a connector around `connectInfiniteHits` because I need an extra things not available in `connectInfiniteHits`, like the number of results.

It looks like:

[code]

so I use `noResults` for determinate if `hits` is ready or the query

[2017-06-19 08:50] mthuret commented on #131
Hi @Kikobeats

I'm not sure to see the issue here, on the link you gave (with page=3), I can see an actual content. Maybe it's not the good one? Can you try to isolate the wrong behavior using a [jsfiddle](https://jsfiddle.net/vvoyer/ar80rgpc/2/), it would help me understand better.

Also, why not getting the `searchResults.searching` variable to know if the content is loading?

[2017-06-19 16:08] Kikobeats commented on #131
Hmm lol, working in production but non on development, I suppose that is a bug from my side 🤔

One thing, what means `es` folder in the `react-instantsearch` bundle? Should I use it if I'm using webpack and babel stack?

[2017-06-19 16:08] #131 closed

[2017-06-19 18:55] khrome83 commented on #21
@mthuret i am looking for this functionality. Reading the API and the examples, it is very unclear to me how to make this work.

We are trying to implement this right now. Can you offer and advice short of building out the example? The one using the "react-autocomplete" seems to throw errors when I change the data set and does not allow keyboard. The mention example has keyboard support, but is ta

[2017-06-19 21:14] olance opened #133 "[Theme] RefinementList items labels don't wrap nicely"
When there isn't enough space to have refinement list labels displayed on a single line, the text and facet counts both wrap under the checkbox in a not-so-stylish fashion:

<img src="https://user-images.githubusercontent.com/314079/27306119-bcd85736-5544-11e7-99ad-3823aca7d299.png" width="285">

I propose the use of `flexbox` for a nicer rendering:

<img src="https://user-images.githubusercontent

[2017-06-20 08:55] mthuret commented on #21
Hi @khrome83,

You currently you have two options for this:

1. You can use an external autocomplete React component and use our `connectAutoComplete` connector to achieve what you want.

You'll get access to the `hits`, the `query` and the `refine` function that will allow you to update the query. Check this documentation: https://community.algolia.com/react-instantsearch/connectors/connectAutoCo

[2017-06-20 10:13] redox opened #134 "[Documentation] Add an example of instantiation based on a remote call to get the API key"
**Do you want to request a *feature* or report a *bug*?**

Documentation enhancement.

**Bug: What is the current behavior?**

The documentation expects developers to have an API key while instantiating the `<InstantSearch />` component.

**Bug: What is the expected behavior?**

What if I want to use per-user Secured API keys and therefore need to call an internal endpoint to get the Secured API k

[2017-06-20 11:26] khrome83 commented on #21
@mthuret - ok that makes sense.

I found out that when I removed out index's, I had things blow up. But it was because the "multiSelection={true}". This attribute was referring to multiple indexes instead of selecting multiple items in the list apparently. Just made it confusing to work with.

Trying to determine how to add keyboard support now. Thank you!

[2017-06-20 11:33] mthuret commented on #21
It you're using [`react-autosuggest`](https://github.com/moroshko/react-autosuggest) the keyboard should be already working.

See here: https://community.algolia.com/react-instantsearch/storybook/?selectedKind=<Index>

[2017-06-20 12:09] khrome83 commented on #21
The example you shared does not appear to use the `react-autosuggest`. In the example I downloaded from the AutoComplete option for multiple Index, the keyboard does not show it working at all. Maybe it was but there was no feedback?

[2017-06-20 12:23] Haroenv opened #135 "[theme] SearchBox needs -webkit-appearance: none"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

Safari shows the SearchBox as a default one

<img width="456" alt="screen shot 2017-06-20 at 14 22 22" src="https://user-images.githubusercontent.com/6270048/27332851-ef169d00-55c3-11e7-956c-f414e0d330a9.png">

**Bug: What is the expected behavior?**

our style overriding the webkit appearance

[2017-06-20 12:34] mthuret commented on #21
I'm not sure of what example you're talking about, maybe you can send me the link :)

This one that I linked earlier does support keyboard: https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/examples/autocomplete/src/App-Multi-Index.js (base on react-autosuggest)

[2017-06-20 12:39] khrome83 commented on #21
yeah, when I installed the locally, it did not show any keyboard support. I don't know why. I set up the same example in a codepen and I have it working. I am honestly not sure what is going on. Like I said, it may just be that I am missing the feedback (highlight on down arrow of selected item).

I switched my example to use the CSS from the react-autocomplete code pen. I am trying to add highlig

[2017-06-20 14:02] vvo commented on #133
Seems legit.

[2017-06-20 16:02] iam4x commented on #135
I experienced this bug as well, after a fast investigation its because nothing is prefixed with vendors. Does autoprefixer run correctly with storybook?

[2017-06-21 11:15] mthuret commented on #21
You're mixing concept here. You don't need the connectHits if you use the connectAutoComplete because you already get the `hits` from the `connectAutoComplete` connector.

Then you can totally use the `<Highlight>` widget inside the hit template.

Here's an example for a single hit autocomplete:

https://codepen.io/mthuret/pen/VWbgxZ?editors=1111

[2017-06-21 12:42] khrome83 commented on #21
Ok that makes sense. Thank you for that!

[2017-06-21 17:10] harshmaur commented on #107
Often, I need to find what underlaying connectors does all the components use so that I can take that and modify as per custom needs. It would be great if the snippet could be included in the Connectors docs.

[2017-06-21 20:35] Haroenv commented on #135
It’s weird that this didn’t happen before, did something in the toolchain change since May-ish?

[2017-06-22 07:53] mthuret commented on #135
I switched to storybook 3 and so it now uses webpack 2. This conf is probably missing.

[2017-06-22 12:27] Haroenv commented on #133
We should still have the floating as a fallback for older browsers right?

[2017-06-22 14:38] blech75 opened #137 "infinite loop when rendering a conditional loading message with children"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**Bug: What is the current behavior?**

(See below for full description.)

Attempting to use a connected "loading message" component (one that renders static content when loading and its children when finished) causes an infinite loop in certain circumstances.

* when `children` contains the `<Stats />` component, `searchResults.sear

[2017-06-23 11:47] harshmaur opened #140 "RefinementList is getting checked after the results are refined. Bad UX for slow internet connections"
Hello,

using **react-instantsearch** - latest

I tried to throttle my network and selected refinements, it seems like the checkbox gets selected after algolia is able to make the network call and fetch the results, this could lead to a bad UX as the user might think its not yet selected and click again which would make another API call.

Wanted to know how we can go around this.

Thanks!

[2017-06-23 15:31] olance commented on #133
@Haroenv I guess we can, but I don't know how far we're going regarding older browsers compatibility?
Most browsers were compatible in early 2014 – Microsoft was a bit late to the party with a fully compatible implem 2 years ago. It feels like good enough to me.

[2017-06-23 17:15] Haroenv commented on #133
We support IE9 for the JavaScript, not sure if we should do the same for the style.

[2017-06-23 17:18] Haroenv commented on #135
I can still see the issue live in the storybook

https://community.algolia.com/react-instantsearch/storybook/?selectedKind=SearchBox&selectedStory=default&full=0&down=1&left=1&panelRight=1&downPanel=storybooks%2Fstorybook-addon-knobs

`appearance: none` | `-webkit-appearance: none`
---|---
<img width="324" alt="screen shot 2017-06-23 at 19 17 29" src="https://user-images.githubusercontent.com/6270

[2017-06-23 20:25] mclapa commented on #14
I also see this as a problem as I have it set up in the header of my page, and every navigation between pages causes another POST

In turn I have about 2200 requests while dev (out of 100k) which will quickly fill up when it goes live.

I'm thinking about creating a component with it at the top-most parent and passing it down, perhaps it won't re-render when the component itself gets re-rendered,

[2017-06-26 07:41] vvo commented on #133
I believe we could safely drop IE9 support as for react-instantsearch. InstantSearch.js is natively compatible only with >= IE10 (at least last time I did it it was the case).

Even if babelrc says IE9, I am not even sure this actually work on IE9.

[2017-06-26 13:29] mthuret commented on #135
The docs wasn't push into prod yet.

[2017-06-26 13:29] #135 closed

[2017-06-28 07:16] Haroenv commented on #134
I think this would be done by only conditionally rendering the component. I didn't try it yet, but I suggest trying something like this:

[code]

does this give you something to start with @cmcollin41 ?

[2017-06-28 07:16] Haroenv commented on #134
Obviously this should be tested before putting in a guide.

[2017-06-28 08:31] mthuret commented on #134
@Haroenv, fell free to test it and put it inside a new guide.

[2017-06-28 08:53] #19 closed

[2017-06-28 08:59] Haroenv commented on #134
For reference, it seems to work, here a codesandbox with that pattern: https://codesandbox.io/s/6REGRN1EO

[2017-06-28 09:50] mthuret opened #144 "When releasing, update all our examples react-instantsearch version"
At some point we switched between latest and beta, but it would be better if those versions used on our example could follow the last version released.

[2017-06-29 08:19] mthuret commented on #137
Fix in 4.0.6

[2017-07-03 12:18] mthuret commented on #23
https://www.smashingmagazine.com/2009/03/breadcrumbs-in-web-design-examples-and-best-practices/

[2017-07-03 14:18] davidfurlong commented on #17
Is it much easier  to server render without using/with fixed  searchParameters? I'd be willing to attempt it if you expect it to be as this solves the problem for us in most use cases

[2017-07-03 21:46] sepehrfakour commented on #22
I'd like to add my +1  to this. 👍

[2017-07-03 21:58] vvo commented on #22
@sepehrfakour Add reaction to original post :)

[2017-07-03 22:03] sepehrfakour commented on #22
@vvo Done. Thanks!

[2017-07-03 22:32] Haroenv commented on #144
basically the same issue as algolia/instantsearch.js#2211

[2017-07-03 22:37] Haroenv commented on #140
What I suggest as an improvement is to put the state of the checkbox as checked as soon as a user clicks, but also put it as `disabled={true}`. Once the request comes back, the `disabled={false}`. This sort of pattern should come back in all of the Widgets probably

[2017-07-04 03:41] harshmaur commented on #140
That makes sense! However I am not sure if you are going to include it in the library itself? This is doable if I use connectors.

[2017-07-04 07:07] Haroenv commented on #22
A related workaround can be found at the Yarn website [source](https://github.com/yarnpkg/website/blob/cae3051dba751ea0088eb475f33b8024b5a27571/js/src/lib/util.js#L45-L138). Here sorting is also handled, so that should not matter for most implementations. The implementation is not much more than a `.split()` on the [`highlightTags`](https://github.com/yarnpkg/website/blob/cae3051dba751ea0088eb475f

[2017-07-04 07:10] Haroenv commented on #107
I think we can learn from the documentationjs work that @bobylito did for IS.js v2, which does have generated code samples

[2017-07-04 09:58] vvo commented on #140
This is a tricky subject (slow connections). Ultimately every click on a refinement list can lead to different results (where some other might no more be available).

For example we could check the box asap but then it provides a fake view to the user, he can select other categories that might disappear when response comes back.

Thus a more generic solution would be to lock widgets when the respo

[2017-07-05 02:42] harshmaur commented on #140
So I was thinking about this, In React-Instantsearch, every `single` change is  triggered by a `refine`, Would it be possible that multiple `refines` can be clubbed together and made a single query?

So basically we will let the users quickly click around and apply the filters and we `debounce` all the refines and combine and make a single query.

Does that make sense?

[2017-07-05 06:27] Haroenv commented on #140
Yes, but it's not as simple as just debouncing, since that would be hurting the users that actually *do* have a good connection. In any case, that's probably something that should happen in the Helper, rather than individually in each InstantSearch version

[2017-07-05 07:09] harshmaur commented on #140
Why not? I dont think debouncing hurts people with good connection, making an api call will have some latency on the user's location, its the same as debouncing on search box.

[2017-07-05 08:32] mthuret commented on #140
@harshmaur I did see some UI interfaces that were very confusing because of the search as you type experience along with the debouncing.

In any case, this discussion reminds me this refineHook asked feature => https://github.com/algolia/instantsearch.js/issues/1994

It's still on the backlog, but not top priority for now.

[2017-07-05 08:44] harshmaur commented on #140
@marielaures Yes! And it can always we connected. :)

[2017-07-05 15:34] vvo commented on #140
The issue is that each refine sends a different set of results and allowed filtering options set. Which mean you can't bundle them since they might no more be relevant.

Example:
- refinementList shows sci-fi and romance genres
- click on sci-fi genre
- UI updates, romance is no more selectable
- => if we allowed for bundle, we would show a state that is not relevant/true

[2017-07-05 18:14] harshmaur commented on #140
Oh Yeah, I didnt think of that fact!

[2017-07-06 19:03] leonardobaggio opened #150 "SearchBox skipping some keys when text is typed fast"
Hi folks!

I've followed the instructions at Algolia Community and have set up a demo using the sample code (and the "bestbuy" sample index).

As soon as I typed the first few words I've immediatally noticed a huge lag in the textbox, like in the gif below.

**Me, trying to type "The quick brown fox jumps over the lazy doggo"**
![image](http://i.imgur.com/eFAoAvD.gif)

I've take a look at the cons

[2017-07-07 08:27] mthuret commented on #150
Hi @leonardobaggio,

Could you try two things:

1. Use the library without raven and see if you still have those warnings?

2. Use the version 4.0.4 of react-instantsearch with your actual code and tell us if you still have a lag?

[2017-07-07 19:35] leonardobaggio commented on #150
Hi @mthuret ! Thank you for your reply.

Coincidentally, I've tested the library without raven and heap sometime earlier before I checked your comment here, but this issue remained (I didn't analysed the logs since nothing had changed).

However, I've mistakenly included the component in a production build today and, for a unknown reason, everthing seems to works just fine, except by the fact the

[2017-07-10 11:28] vvo opened #154 "Move to webpack 3"
Now that webpack 3 [is out](medium.com/webpack/webpack-3-official-release-15fd2dd8f07b), we should use it, use the new features of it. Along with maybe the autodll plugin. @iam4x has a good experience on this so maybe he could help.

The goal is not to be left behind in term of build tools.

[2017-07-10 11:35] rayrutjes commented on #154
For the read: https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b

[2017-07-10 14:48] leonardobaggio commented on #150
I've checked and noticed that this may occur even without the CSS.

Also, I can reproduce the same issue in Algolia InstantSearch Material Example (https://community.algolia.com/react-instantsearch/examples/material-ui/)

**The quick brown fox...**
![9xvkqpezs5](https://user-images.githubusercontent.com/18285859/28023597-b8e9b9b4-6564-11e7-97e5-7f9faca87996.gif)

Ok.. my workstation is runing some

[2017-07-10 16:52] mthuret commented on #150
I reproduce it by stressing a bit my mac, that's clearly a bug, and it was introduce with this commit => https://github.com/algolia/react-instantsearch/commit/0945958111c9c428b37a94d67bc535a11a15b361

So, if you run 4.0.4 you shouldn't experience the same thing. Maybe you can confirm?

I'll investigate to see if some code can be change to keep the fix or if we'll need to rollback.

Thanks!

[2017-07-10 20:30] leonardobaggio commented on #150
Confirmed @mthuret! thank you!

![dfinddic0q](https://user-images.githubusercontent.com/18285859/28038288-c4c00a2e-6594-11e7-948d-b4c88137d4db.gif)

The searchbox stills have a laggish feeling but it does not skips the keys anymore.

[2017-07-11 18:47] mrmojica opened #156 "AlgoliaHighlighter(Highlight) - setState(..)Warning"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Hi, I am using react-instantSearch with the connectAutoComplete connector using react-autosuggest. I am getting the following warning message:

setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Pleas

[2017-07-11 18:48] Haroenv commented on #156
Thanks for your replication repository, we’ll take a look at this ASAP!

[2017-07-11 18:54] mrmojica commented on #156
Thanks for the quick response!

[2017-07-11 19:00] Haroenv commented on #156
I have a slight hunch that #150 is related. Can you try it with v4.0.4?

[2017-07-11 19:15] mrmojica commented on #156
I was hoping it might have been due to the version, but we are using v4.04.

[2017-07-12 08:36] denkristoffer commented on #156
I'm seeing the same behaviour with 4.0.7.

[2017-07-12 08:36] denkristoffer commented on #150
Seeing the same behaviour with 4.0.7, some characters are skipped.

[2017-07-12 10:26] mthuret commented on #137
The fix was not the good one.

[2017-07-12 11:08] mthuret commented on #156
I released a 4.0.8 and 4.1.0-beta.1 that fix this.

@mrmojica are you sure you were using 4.0.4 because the commit @Haroenv pointed was indeed the culprit.

[2017-07-12 11:08] #156 closed

[2017-07-12 11:08] mthuret commented on #150
I released a 4.0.8 and 4.1.0-beta.1 that fix this.

[2017-07-12 11:08] #150 closed

[2017-07-12 12:18] denkristoffer commented on #150
Hmm, this is still happening for me with 4.0.8 although the issue in #150 seems to be fixed.

[2017-07-12 12:19] mthuret commented on #150
@denkristoffer what is still happening? #150 is this issue.

[2017-07-12 13:19] denkristoffer commented on #156
Hmm, this is still happening for me with 4.0.8 although the issue in #150 seems to be fixed. (Sorry I originally posted this on the wrong issue).

[2017-07-12 13:39] mthuret commented on #156
@denkristoffer I ran your repo but wasn't able to reproduce the warning. It happens when you type something in the searchBox?

[2017-07-12 13:48] denkristoffer commented on #156
@mthuret Yes, or when I change the result page. I will see if I can extract some code to reproduce the problem and show it here.

[2017-07-12 14:14] harshmaur opened #159 "SSR: Client Side Routing gives error."
Hello,

I was successfully able to remove all <NoSSR /> Tags and integrated it with react-instantsearch ssr feature.

However in next.js which also supports client side rendering on click of <Link /> tag, I am getting this error.

Here is the screenshot of the example. https://cl.ly/1j3l002F1V19

All I did was create another file with the same code as index.js and used <Link /> tag to route the pa

[2017-07-12 14:21] mthuret commented on #159
Are you using beta0 or beta1?

I published a beta1 this morning containing a fix to remove those kind of warnings. Maybe it's related.

[2017-07-12 14:26] harshmaur commented on #159
Hmm right!! The errors are gone now! Thanks!

[2017-07-12 14:26] #159 closed

[2017-07-12 16:45] mrmojica commented on #156
I updated to 4.0.8 and no warnings! Thanks for all the help!

[2017-07-17 07:35] vvo opened #160 "Move to latest eslint-config-algolia"
The [eslint-config-algolia](https://github.com/algolia/eslint-config-algolia) has been updated in many ways recently.

We should update to the latest version and also remove the commit hook. I have experienced issues with it and so did other contributors. It's slow most of the time and redundant with the CI test script, editor auto formatting that already take cares of this formatting/linting chec

[2017-07-17 07:51] vvo opened #161 "Examples/demos dev and preview workflow"
The goal of this issue is to simplify our examples/ demos/ dev and preview workflow for both contributors and users.

Today some demos/ are live and examples/ are not. For the former one it's not that easy to read/see the code and for the later it's not easy to see it live/working.

For every example demo that we link from our website, we should use CodeSandbox dual preview/edit to showcase them.

[2017-07-17 07:59] vvo opened #162 "Upgrade all deps and use singapore/renovate"
It seems that https://github.com/singapore/renovate would be a good overall solution to our struggle about being uptodate in term of dependencies on the project as a whole. We tried greenkeeper without luck in the past. Renovate can update dependencies on multiple lock files projects.

Let's upgrade all our deps first then put renovate in our repository, there's an easy to use app and the author s

[2017-07-17 08:04] vvo commented on #162
taking this one

[2017-07-17 08:04] vvo commented on #160
taking this one

[2017-07-17 08:13] Haroenv commented on #161
re: responsive codeSandbox:  CompuIves/codesandbox-client#35

[2017-07-17 10:57] vvo commented on #154
Taking this one

[2017-07-17 11:38] CompuIves commented on #161
Wow, this is great to hear! The editor of CodeSandbox isn't responsive yet, but the embed is. If you go to https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/packages/react-instantsearch/examples/react-router-v4 on mobile you'll see a version that defaults to preview for mobile.

Embeds are also editable if the user wants to play with the sandbox, though you can't save. In

[2017-07-17 11:41] Haroenv commented on #161
In that case, maybe we should just embed, but the embed link seems to work as external page just fine too -- for most usecases

[2017-07-17 11:41] mthuret commented on #161
Not sure we want to do that, demos and recipes are not really the same thing. The first ones are demonstrating Algolia capabilities, where the later is demonstrating how you can use React-InstantSearch with React technologies. I would keep it separate.

Also, how do we handle React Native / Server side rendering example as it can't be codesandbox?

[2017-07-17 11:55] vvo commented on #161
This one can't be put on CodeSandbox indeed.

As for demos/examples. As a user I would want to have a single Examples items and page where we list first the full featured examples and then the community/react router/ssr examples.

But at least having a single page and single way to showcase/dev those examples would be good. What do you think?

[2017-07-17 12:04] mthuret commented on #161
One part will hide the second, so in the end we'll need a Menu on top or on the left. In the end, I'm not sure what we're trying to solve with the one page. If it's a naming issue maybe we should just change names.

[2017-07-17 12:23] mthuret opened #164 "Scrolling Top for Pagination is also Scrolling Top when a refinement is triggered"
What's happening:

When using `<ScrollTo>` to listen to a pagination change (default behaviour with `scrollOn` being "page"), it also scroll to if a refinement is made on any other widget if pagination was never used or if pagination is >=2.

What should happen:

When clicking on another widget than pagination no scroll should occur.

Causes:

Every time a refinement is made, the pagination is res

[2017-07-17 12:27] #17 closed

[2017-07-17 12:29] mthuret commented on #121
I'm closing this, feel free to reopen it @njt1982 if you still have issues.

[2017-07-17 12:29] #121 closed

[2017-07-17 12:39] davidfurlong commented on #17
Closed by https://github.com/algolia/react-instantsearch/pull/145

[2017-07-17 13:55] vvo opened #168 "SSR : bug on highlighting"
**Do you want to request a *feature* or report a *bug*?**

Bug

**Bug: What is the current behavior?**

The next.js example has a weird behavior on reloading, it shows `co<em>ca</em>` as text instead of the actual co**ca**:

![2017-07-17 15 54 09](https://user-images.githubusercontent.com/123822/28271213-3b3c194a-6b08-11e7-8e8c-61b93131de31.gif)

**Bug: What is the expected behavior?**

It should

[2017-07-17 14:57] #154 closed

[2017-07-17 15:56] mthuret commented on #168
The root cause of this bug became for the timestamp present in our highlighted tags.

A first request is made to recover the first results, they have a tag like: ais-higlight-timestamp1.

When the app is finally rendered with those injected results, then the highlightedTags changed and are now: ais-highlight-timestamp2.

I can see several ways to fix this:

1. Removing the timestamp.
2. Somehow pa

[2017-07-17 16:34] alexandremeunier opened #169 "Errors persist forever"
**Do you want to request a *feature* or report a *bug*?**

Bug

**Bug: What is the current behavior?**

When performing two requests, if the API responds to the first one with an error, but the second one does not error, the error state is persisted in the connector.

[![Edit r0EryLBWB](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/r0EryLBWB)

**Bug: What is the

[2017-07-18 07:56] mthuret commented on #168
cc @vvo @marielaures @Haroenv

[2017-07-18 08:11] Haroenv commented on #168
Yes, I think that it's reasonable to expect that people won't put `__ais-highlight__` in their data more than `__ais-highlight-123123__`

in [highlightTags.js](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/src/core/highlightTags.js) I would suggest the following diff:

[code]

cc @rayrutjes who discussed this yesterday in Vue InstantSearch, where the concl

[2017-07-18 09:07] mthuret commented on #169
The `error` is not reset to `null` when a new request is performed (`createInstantSearchManager`)

[2017-07-18 09:38] mthuret opened #171 "React Router example is no longer working"
see: https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/packages/react-instantsearch/examples/react-router

This example demonstrate react-router v3. Deps was upgraded to 4.1.2.

cc @vvo

[2017-07-18 13:53] pixelastic opened #172 "Docs: Header behaviour not consistent with other websites"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**

The current documentation website indicates that I should "Click to go to community, hover to access latest community projects" on the "Community part". But hovering does nothing, and clicking will open the latest community projects.

cc @JonasBa

**Bug: What is the expected behavior?**
Hovering

[2017-07-18 14:29] Haroenv commented on #172
Yep, I think this has been covered in #112 #40

We should definitely move soon

[2017-07-19 09:40] danielbentov opened #173 "Uncaught TypeError: util.inherits is not a function"
Trying to use the lib.

[code]

![image](https://user-images.githubusercontent.com/8301213/28360914-9a21b3d4-6c7f-11e7-8133-a730be17a555.png)

But getting this error on the client.
Happens on Chrome.
We are using webpack 1.15.0
Npm 5.0.2
React 15.6.1
Node 6.9.2

![image](https://user-images.githubusercontent.com/8301213/28360929-a719c28e-6c7f-11e7-8420-c4df8807967c.png)

![image](https://user-imag

[2017-07-20 11:38] mthuret commented on #172
I asked @JonasBa, He will handle all issues regarding the header.

[2017-07-20 11:40] mthuret commented on #173
Hi @danielbentov, could you give us a small repo reproducing the issue you're facing as it would be easier for us to understand.

Thanks in advance!

[2017-07-20 11:50] vvo commented on #171
Do you think we could now ditch the v3 example? V4 has been out for quite some time now

[2017-07-20 11:52] mthuret commented on #171
Considering react-router is known to completely change their API each time and that I don't know if indeed everyone is willing to migrate I'd rather keep it here. Can be renamed though, to make it explicit that it's v3.

[2017-07-20 11:54] Haroenv commented on #171
I would also do that, have the current `latest` be `react-router` and others that are still there `react-router-vX`

[2017-07-20 11:57] vvo commented on #168
the timestamp is used to limit the attack surface: it's harder to inject a timestamp at exactly the right moment to be displayed on a victim running APP.

Server-side wide this does not make much sense because we could be in situations where the generated timestamp is exactly the same for all requests to the html content (example: a nodejs service sending html of react-instantsearch).

The part th

[2017-07-20 12:07] rayrutjes commented on #168
Not sure this adds much given the string is escaped anyway.

I'm currently working on a POC where we would escape all highlighted values at data retrieval to measure the impact on perfs.

The current implementations we have are not optimal for Algolia friendly users, in a sense that all the values now contain that weird placeholder. What if someone just wants to use the _highlightResult.<attr>.val

[2017-07-20 12:27] vvo commented on #164
Yes, I think we had the discussion some time ago, it's disturbing that it does it on every widgets. nice find

[2017-07-20 12:50] mthuret commented on #168
@vvo The flow of resolution with SSR is this:

1. A query is performed with an external helper to retrieve the first results. Currently it's using the preTag/postTag by default => em. But it could use our custom module HighlightTags and have something like ais-highlight-timestamp1.

2. Those results are given as a prop of <InstantSearch/>. It's now that the app is rendered and the html generated a

[2017-07-20 12:52] harshmaur opened #177 "href links in NextJS not coming"
Hello,

I wanted to know why href links as just `#` in the next js example in pagination widget, while it works in the eCommerce demo.

In order for google to crawl the next pages, its necessary to have the href links inside the <a> tags

[2017-07-20 13:38] vvo commented on #168
If that's the real issue (because then when rendered react instantsearch tries to replace ais-highlight-timestamp) then we should expose as properties inside the HighlightComponent the generated tokens and pass them to the helper.

This should resolve the issue since when rendered it will do the good replacement and then the react-instantsearch rendered frontend will just use new ones (as it is to

[2017-07-20 14:20] mthuret commented on #169
@alexandremeunier  Should be fix with 4.0.9 (and soon on 4.1.0-beta)

<a href="https://codesandbox.io/s/PNmY1MxR6">
  <img alt="Edit PNmY1MxR6" src="https://codesandbox.io/static/img/play-codesandbox.svg">
</a>

[2017-07-20 14:24] #171 closed

[2017-07-20 14:24] #169 closed

[2017-07-20 14:27] alexandremeunier commented on #169
Super awesome @mthuret thanks! 🙌 💯

[2017-07-20 14:40] davidfurlong opened #178 "SSR PoweredBy"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

Trying to SSR `findResultsState` with included PoweredBy Component => `ReferenceError: location is not defined`

https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/src/connectors/connectPoweredBy.js#L20

**Bug: What is the expected behavior?**

 Check if on t

[2017-07-20 14:46] mthuret commented on #178
Thanks for the feedback @davidfurlong!

We'll fix the poweredBy.

About the guide, I'll try because I thought it was possible to have it not as the root component but by forwarding correctly the props. I'll try again and let you know. And if you want to share some code, feel free it's awesome if you make it works for your use case :)

[2017-07-20 14:54] davidfurlong commented on #178
Relevant additional changes:

[code]

[code]

[code]

[2017-07-20 14:56] davidfurlong commented on #178
Additionally it doesn't play nice with react-router so you need to manually only do this duplicate deep render on the routes you need it on

[2017-07-20 15:39] mthuret commented on #177
Hi @harshmaur,

Can you confirm that this occurs only when entering the page without any refinements made?

I suspect a wrong usage of the Router. I'll check it out, thanks!

[2017-07-22 07:18] harshmaur commented on #177
I am not sure If I understand you correctly. It happens to me on every case. with or without refinements.

[2017-07-23 08:32] danielbentov commented on #173
Hi @mthuret,
I can not create a repo that will mimic our product (we have 5 years of code there).
I can tell you that it seems that working with node 6.11.0 and Webpack caused the issue.
You are using util.inherits in your code.

https://github.com/webpack/webpack/issues/1019
https://github.com/defunctzombie/node-util/issues/17

[2017-07-24 07:10] vvo commented on #162
Now need to install renovate, @mthuret I'll leave this one for you.

[2017-07-24 07:12] vvo commented on #160
Removing myself from this issue, might not have time

[2017-07-24 08:22] bobylito opened #180 "Migrate to new Helper and JS Client"
In the coming months, we'll have new versions of the client and the helper. Let's get ready :)
https://github.com/algolia/algoliasearch-helper-js/issues/521

[2017-07-24 08:34] mthuret commented on #173
I didn't succeed reproducing the issue based on webpack 2 and node 6.11.0. I'm also confused because you indicate that you're using webpack 1.15.0 and node 6.9.2?

@bobylito, as it seems to be related to helper, did you already encounter this issue?

[2017-07-24 11:52] mthuret commented on #173
Also @danielbentov, can you indicate which version of react instantsearch you are using. And if you're not using 4.1.0-beta.2, can you try with it?

[2017-07-24 15:00] danielbentov commented on #173
Still happening with 4.1.0-beta.2

![image](https://user-images.githubusercontent.com/8301213/28529742-001fbd5c-709a-11e7-9828-67ca29f6c035.png)

[2017-07-25 05:59] harshmaur opened #185 "Error: Cannot declare two hierarchical facets with the same name"
Hello,

I am using react-instantsearch on next.js with ssr support.
The problem I am getting is super difficult to reproduce but once it comes, it affects the whole project I can give the code and the stacktrace to help it debug properly.

[code]

[code]

My Hierarchical Widget looks like the above.

[2017-07-25 07:05] Haroenv commented on #185
Do you have multiple `<HierarchicalMenu>`s?

[2017-07-25 07:08] harshmaur commented on #185
Nope, My whole project has just one mention of <HierarchicalMenu /> which is on the product Listing page. I am wondering if this could be an issue with SSR, since initially it renderes on the server and then frontend kicks in which replaces the whole instance and before unmounting the previous one, the new one mounts.

[2017-07-25 09:55] mthuret commented on #178
Fix with 4.1.0.beta3

[2017-07-25 09:55] #178 closed

[2017-07-25 09:55] mthuret commented on #177
Fix with 4.1.0.beta3

[2017-07-25 09:55] #177 closed

[2017-07-25 09:55] mthuret commented on #168
Fix with 4.1.0.beta3

[2017-07-25 09:55] #168 closed

[2017-07-25 12:12] mthuret commented on #185
Hi @harshmaur,

I tried adding:

[code]
to our next-app recipes and it works fine.

Maybe you can do a small repo that is reproducing your issue? Are you doing something specific with the attributes?

Thanks!

[2017-07-25 14:59] vvo commented on #160
@mthuret if you are doing this, you can also remove husky and lint-staged, no more the need of formatting staged files if we have renovate + lint in CI + autoformatting in editors. Just extra work

[2017-07-25 15:59] mthuret commented on #162
Renovate is up :)

[2017-07-25 15:59] #162 closed

[2017-07-25 17:01] harshmaur commented on #185
Hi @mthuret Yes, I understand that it works fine, it works fine for me as well. However in my production application, many users are using it having different configurations so its coming for them. Sometimes it came for us as well during development. Kind of super hard to reproduce. I am trying to do it. However I am not sure how to fix it properly.

[2017-07-26 07:44] mthuret commented on #185
Well I'm not sure that's related to SSR then, as it should have failed with the basic example I tried.
This error happens if two hierarchical menu widgets having the same attributes are mounted at the same time. That's why I was asking if you have some kind of dynamic way of setting the attributes? Also are you doing some kind of conditional display?

[2017-07-26 08:03] harshmaur commented on #185
Okay so this is kind of weird, its coming up when the server is running on an ubuntu machine. While on a mac machine its fine. I dont know what could be the reason.

[2017-07-26 08:15] Haroenv commented on #185
Do you have a different version of node on these?

[2017-07-26 08:52] #160 closed

[2017-07-26 14:45] marielaures commented on #23
# ConnectBreadcrumb

## Exposed props

- attributes : List of attributes to use to generate the hierarchy of the menu. See the example for the convention to follow.
- separator : Symbol used for separating hyperlinks
- rootURL : The originating page (homepage)
- transformItems: Function to modify the items being displayed, e.g. for filtering or sorting them. Takes an items as parameter and expects

[2017-07-26 14:52] marielaures commented on #23
## Breadcrumb (Widget)

## Description
A breadcrumb is a secondary navigation scheme that allows the user to see where the current page is in relation to the website or web application’s hierarchy.
In terms of usability, using a breadcrumb reduces the number of actions a visitor needs to take in order to get to a higher-level page.

## Props
- attributes: List of attributes to use to generate the

[2017-07-26 15:55] davidfurlong opened #209 "poweredby link doesnt conform to accessibility standards"
PoweredBy Widget:

Using lighthouse

Elements Have Discernable Names
Screen readers and other assistive technologies require annotations to understand otherwise ambiguous content.

Links do not have a discernable name.
Link text (and alternate text for images, when used as links) that is discernible, unique, and focusable improves the navigation experience for screen reader users. Learn more.
View

[2017-07-26 15:59] Haroenv commented on #209
Is adding a `title` enough according to Lighthouse, or do they prefer `aria-label`?

[2017-07-26 19:00] harshmaur commented on #185
The server, my mac machine and the ubuntu machine all run on 8.1.2
Also I added NoSSR around the hierarchical refinement and now its fine. So I am assuming there is something going on with NextJS specifically too since, all of my pages stop working when that error comes even though the code is only on product-listing page.

[2017-07-26 20:37] davidfurlong commented on #209
@Haroenv the title attribute is not read by screenreaders by default. Given the ambigious content of the link I would recommend the  `aria-label` property https://dev.opera.com/articles/ux-accessibility-aria-label/#accessible-name-calculation

[2017-07-26 20:53] Haroenv commented on #209
That's what I thought. Let's get this done. If you're quicker, it should be translation key like in other components, with a default value of "search by Algolia, learn more" I think. Feel free to open a PR 😊

[2017-07-27 05:23] roma98 opened #213 "[bug] syntax errors in react-instantsearch-theme-algolia css"
Hello,
I have realised that the instantsearch css contains a few errors, if you search for `"" 2` in the file (both version `3.0.0` and `4.0.0`), you'll find 3 references for `content: "" 2; }`
I found out after having a character "2" displaying randomly in my page.
For performance reasons, I also have inlined the code in `index.html`, also revealing another error on line `@supports (src:local("")

[2017-07-27 08:29] vvo opened #215 "Start testing React 16"
It's out! https://github.com/facebook/react/issues/10294

There will be soon a way to activate async rendering too (No idea what that means).

The sooner we try it the better usually for this kind of dependency.

Last time for React 15 we did not do it while we discovered breaking changes in React 15 (once released). See https://github.com/algolia/react-element-to-jsx-string/issues/56#issuecomment

[2017-07-27 11:31] Haroenv commented on #215
see #212 and #211

[2017-07-27 13:11] mthuret commented on #215
I'm currently in the process to write tests for all our recipes. We'll merge those PR afterwards (only concerns react-native example).

And yes, we should tried the beta on all the rest of the code.

[2017-07-27 15:31] #209 closed

[2017-07-27 15:32] mthuret commented on #185
@harshmaur I'll tried with our example hosted on zeit to see what's going on.

If you have a fallback in the mean time that's good!

[2017-07-28 08:17] conblem opened #219 "[Question] Expected file size addon"
Hello together

I was just experimenting with your awesome library
and im loving it this far.
But I couldn't help myself and noticed,
that just adding this component resulted in a 284kb chunk.

Is this expected?
Im using preact-cli.

[code]

[2017-07-28 08:26] mthuret commented on #213
Thanks for reporting this @roma98. We'll have a look shortly :)

[2017-07-28 08:39] Haroenv commented on #219
You're right, we're currently working on decreasing the size of the module. It's mostly because we have some polyfills in the Algolia Helper and in the Algolia JS Client.

see also https://github.com/algolia/instantsearch.js/issues/1725, it has some workarounds, it's supposed to be significantly less than 285kb, is that minified and gzipped?

A possible workaround is importing from the exact files

[2017-07-28 08:53] conblem commented on #219
Thanks for the fast answer i got quite an improvement.

Before: 284kb | 70kb Gzipped
Now: 207kb | 60kb Gzipped

But this is still quiet strange, maybe it has something todo with Preact/PreactCompat.

[2017-07-28 09:15] Haroenv commented on #219
Unfortunately that's the best that will be able for now, but we're busy making the packages that we depend on higher actively.

Closing for now, since no significant gains could be made, but we'll comment here once we've made significant improvements.

I hope you'll still have a good time implementing search with `react-instantsearch`

[2017-07-28 11:38] Kikobeats commented on #16
Hey guys, are you tracking this issue?

I saw new 4.1.0 beta version is shipping SSR (that's awesome, thanks folks 🎉 )

I think that this issue is higly related with create unique URL per each database record and expose it using SSR to be possible optimize content for SEO.

[2017-07-28 11:53] vvo commented on #164
Maybe we went too far at the begining, we should just have coded the scrollTo inside the pagination element with a DOM selector (dirty but that's the only usecase today :D)

[2017-07-28 12:11] vvo commented on #213
@LukyVj Can you help here? See code: https://github.com/algolia/react-instantsearch/blob/c1e751a973f5c54684efa2da96418ae52de93cdc/packages/react-instantsearch-theme-algolia/styles/_Toggle.scss#L33-L35

[2017-07-28 12:12] vvo commented on #213
Solved the first issue, as for the second one I would go for removing the rule since it seems only valuable within font-face but @LukyVj might know more.

[2017-07-28 12:16] vvo commented on #219
Could you use a bundler analyzer @conblem so we see what's wrong?

https://github.com/samccone/bundle-buddy
https://github.com/robertknight/webpack-bundle-size-analyzer
https://github.com/danvk/source-map-explorer

[2017-07-28 12:20] roma98 commented on #213
Awesome guys thanks!

[2017-07-28 12:21] vvo commented on #213
Wait it's not completely solved, we will need to fix the second one and do a release :)

[2017-07-28 13:40] Haroenv opened #221 "[dev] use the storybook-addon-a11y to have accessible components"
the [storybook-addon-a11y](https://yarn.fyi/storybook-addon-a11y) addon is used to monitor components for being (aria) accessible. It's using aXe behind the scenes, so it seems like it's good.

Related to #60 and #107 as it's part of the "make the storybooks better used" task 😄

[2017-07-28 15:15] marielaures commented on #23
This is the first version of the Breadcrumb component I've been working on! Happy to have any feedback :) @mthuret @Haroenv @vvo

[2017-07-28 15:38] Haroenv opened #222 "Make the connector docs more usable"
The terms "provided props" and "exposed props" are confusing, even after you've already used connectors. I propose that there's an example on every connector page that explains clearly in what spot each type is used. Here listed for clarity in case this issue gets indexed in Google before we get around it:

---

## Exposed props

Once a component is connected, these props become available on the c

[2017-07-28 15:42] Haroenv commented on #23
Overall this looks good to me, it's a good idea to call it `Breadcrumb` instead of `HierarchicalBreadcrumb`. A question I have is how to deal with the levels that are visible. Do you start to roll over to the deepest one after `visibleLevel` or something would be reached? Doing that would make it really nice to support smaller screens, where we maybe only want to have two levels visible. The user

[2017-07-30 08:36] Haroenv commented on #219
The size difference is caused by https://github.com/webpack/webpack/issues/2867

[2017-07-30 13:05] catamphetamine opened #225 "<RefinementList/> when no refinements are available is empty"
`<RefinementList/>` just renders an empty element when no refinements are available.
This is nonsense when viewed from a user's perspective.

My current workaround is:

[code]

Still it won't work in an international application not to mention it's not the way it should have been implemented.

[2017-07-30 13:21] danielbentov commented on #173
@mthuret I fixed it with the following code:
node-libs-browser is using inherits 2.0.1.
It's a Webpack bug.
`
npm i util@0.10.3 --save

Adding to webpack
resolve: {
  alias: {
    util$: path.resolve(__dirname, 'node_modules/util')`

[2017-07-31 07:21] mthuret commented on #173
@danielbentov awesome! I'm closing this, then.

Don't hesitate to reach to us again for any questions about the lib :)

[2017-07-31 07:21] #173 closed

[2017-07-31 08:13] mthuret commented on #225
Hi @catamphetamine,

You're right, we do not provide this option to our RefinementList widget.

However you can use our [`connectRefinementList`](https://community.algolia.com/react-instantsearch/connectors/connectRefinementList.html) connector to build easily your own refinementList and implement this logic using internationalisation if you need to.

Does this help?

[2017-07-31 11:27] catamphetamine commented on #225
Using `connectRefinementList` connector just because the authors of the library forgot to output "No results" in case of no refinement `items` is kinda retarded if that's what you're asking.
Still if you find that a suitable solution then you can close this issue.

[2017-07-31 11:42] Haroenv commented on #225
Could you be a bit more polite please, this behaviour is against our [code of conduct](https://github.com/algolia/community-code-of-conduct)

[2017-07-31 11:45] catamphetamine commented on #225
@Haroenv Could you fix the library then, this behaviour is against my code of writing good software

[2017-07-31 12:44] mthuret commented on #225
Hi @catamphetamine thanks for sending us this feedback. In many situations when your refinement list is empty then you also don't have any hits showing. Thus our users will display "No hits matching" and hide the widgets completely rather than displaying "No hits" - "No categories" -  "No pagination" etc..

This is a tricky subject of the whole instant-search experience: showing the right amount o

[2017-07-31 12:57] catamphetamine commented on #225
Well, ok, since you even wrote back, I'm gonna adjust my dictionary a bit towards your liking.

Our exact use case is this:

![image](https://user-images.githubusercontent.com/477167/28778620-ce52cade-7608-11e7-9640-ba682c9bdc71.png)

Notice how weird the empty panels look – your library should have said "No results".
Notice also that the "facet value search" input is still visible which is a bug

[2017-07-31 13:28] vvo commented on #219
Ah thanks for that!

[2017-07-31 14:39] mthuret commented on #225
That can be definitely weird yes if you're using titles. Currently we decided to solve this issue by providing the [`<Panel>`](https://community.algolia.com/react-instantsearch/widgets/Panel.html) component. The idea is to wrap a widget that has refinements and its title. That way you're able to remove everything and provide a good no results page. By using the `<CurrentRefinements>` and `<ClearAl

[2017-07-31 14:54] mthuret commented on #164
Maybe, I don't know if people uses it in another way

[2017-07-31 17:00] catamphetamine commented on #225
@mthuret Oooh. You have that...

[code]

Seems that it's using the `context` and some kind of tricky callback magic but as long as it works that will do.
So I guess one can copy and paste that `context` handling code and use `canRefine` in a collapsible wrapper component to output the "No refinements" message.

And the search field bug is worked around using CSS:
[code]

Ok then, I'll call it a dr

[2017-07-31 17:01] #225 closed

[2017-08-02 07:28] Haroenv opened #229 "[dev env] convert to a proper monorepo structure"
Today we're using the traditional Lerna file structure, where we have a `packages` folder, in which multiple `package.json`s are used. We have our own proprietary `yarn boot` script, which links up these dependencies manually.

We want to switch to a library to handle this for us, so we don't have issues with that anymore (see https://github.com/algolia/react-instantsearch/commit/a80dcd5db3a4c9d59

[2017-08-02 16:06] vvo commented on #23
Nice API doc!

What is the purpose of `rootURL`?

[2017-08-02 16:22] Haroenv commented on #23
@vvo that's the root of all links if you want to have a complete url instead of `/some/things`, right? I wonder if we can't just make it relative by default (If I understand it correctly)

[2017-08-03 08:20] marielaures commented on #23
Yes @vvo @Haroenv usually on websites, people have a "Home" label as the root of their breadcrumb (screenshot attached).
By default, it refines with the empty query but you can also add the URL of your choice
![screen shot 2017-08-03 at 10 14 28](https://user-images.githubusercontent.com/21305268/28912504-cb6825ca-7834-11e7-9db6-badebe68fe56.png)

[2017-08-03 08:22] vvo commented on #23
Got it, thanks! So when you do not provide rootURL there's no "HOME" added right?

[2017-08-03 08:24] marielaures commented on #23
For now, "Home" is always displayed: it either refines with the empty query, or it redirects to the `rootURL` provided by the user if any!

[2017-08-03 08:28] mthuret commented on #23
In term of use case: you got a website with an autocomplete on its homepage that displays some categories. If you click on one of those categories you are redirected to the instant search page with some refinements pre-made. But then, you don't want you're "Home" root label to perform an empty query and stay on an instant search page, but rather go back to the root or another fix page. Does it mak

[2017-08-03 08:46] #144 closed

[2017-08-03 08:50] vvo commented on #23
Yes it makes sense

[2017-08-03 09:36] Haroenv commented on #164
solved in #202 (for future reference)

[2017-08-03 14:42] mthuret opened #233 "Introduce a new API to handle conditional display use case"
Currently, when some conditional display is needed (like a no results page), you're forced to use the `createConnector` API.

This API is very internal to `react-instantsearch`and even if, for performing some conditional display you only touch its surface, it shouldn't be needed by our end user. We need a dedicated API.

I can see several options:

1. Easiest solution, you test the condition and r

[2017-08-03 15:44] vvo commented on #233
I very like the first approach, what does props contains?

[2017-08-03 16:11] mthuret commented on #233
Indeed `props` is not needed.

[2017-08-03 16:22] marielaures commented on #233
I really think it is a great addition, saving people from having to use the connector if all they need is to display a "no results" page.
I think I would prefer the second one for the sake of clarity: the condition is written only once, and it is made very clear what is going to happen if the condition is met, and what is going to happen if it isn't, all condensed in one place (the `<Choose />` co

[2017-08-03 16:46] Haroenv commented on #233
We should take inspiration from `<Switch />` in React Router

[2017-08-03 16:47] vvo commented on #233
Can you provide more details? And maybe enhance the proposal.

[2017-08-03 16:48] Haroenv commented on #233
It just made me think of that feature, I haven't used it in-depth though, that's why I didn't go more into detail

[2017-08-04 13:56] mthuret commented on #233
That's another possible variation. Instead of having an "If, elseIf, else" pattern we can use a switch and render the first valid condition.

3.
[code]
I'm not sure we should just render the first valid condition and if not, then I don't see much value compare to the `<If>`.

[2017-08-07 12:13] Haroenv commented on #233
I'm thinking about this again, and what I think would be interesting here is a connector instead of a component. A component will always feel limited and we will have to make sure that it works with every use case. However something that would work well is:

[code]

Now this connector could have a few names:

- `connectConditionalDisplay`
- `connectState`
- `connectSearchState`

This seems more fl

[2017-08-07 12:29] mthuret commented on #233
Those components will rely on a connector that will be exposed.

So I guess the question is more => should we just provide the connector to hide `createConnector` or should we go further to include a declarative syntax ready to use.

[2017-08-08 08:08] Kikobeats opened #239 "InfiniteHits: error trying to retrieve page greater than one"
Hello!

I detected this problem time ago, but I didn't find a way to isolate it. But now yes!!

## How to reproduce it

1. Clone nextjs example

[code]

2. Use `InfiniteHits` instead of `Hits`

https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch/examples/next-app/components/app.js#L72

3. Run the application, it will works fine at first time, bu,t if you try to

[2017-08-08 08:32] mthuret commented on #239
Hi @Kikobeats

The `Infinite Hits` doesn't play well with Pagination yet. It means that you shouldn't have a Pagination widget on a Infinite Scroll page and you also shouldn't save the `page` inside the URL.

I believe that this is also related to #85.

[2017-08-08 11:37] Kikobeats commented on #239
Oh, that's true. I close that in favour of #85

[2017-08-08 11:37] #239 closed

[2017-08-08 11:41] mthuret commented on #185
Should be ok on 4.1.0-beta.5. Can you try @harshmaur?

[2017-08-08 11:41] #185 closed

[2017-08-08 12:33] harshmaur commented on #185
Thanks a lot, I will check.

[2017-08-09 06:22] Kikobeats commented on #85
why not determinate if load previous page using a prop?

`loadPrevious=false|true`

[2017-08-09 06:46] Kikobeats opened #244 "Error associating filters per each item"
Hello,

I'm trying to build a more mobile friendly way to apply filters.

<img width="462" alt="screen shot 2017-08-09 at 08 36 22" src="https://user-images.githubusercontent.com/2096101/29108128-ea014180-7cdd-11e7-8500-177127c98155.png">

The idea is, instead of have an aside with all filters to apply, each `Hit` show as `Tags` the filters that you can apply when you click on it.

In this case, m

[2017-08-09 07:25] Haroenv commented on #85
IMO we should never load "all up to page X", but allow a user to click or scroll for "show previous", just like "show next"

[2017-08-09 07:56] mthuret commented on #244
Hey @Kikobeats, that's funny because we are currently trying to build that experience with @Haroenv!

If I summarise what you're trying to do, you want to have a RefinementList on every Hit to refine the tags, right?

Currently mixing connectors within connectors is not really possible with React InstantSearch, especially when it means have N time the same widget on the same attributeName.

We're

[2017-08-09 07:56] mthuret commented on #85
Do we know websites allowing that experience? Does they handle url sync in that case?

[2017-08-09 08:08] rayrutjes commented on #85
Very interesting discussion.
Here is my opinion if that can help.
When you actually share the URL of an infinite scroll page, I don't think the page matters like @vvo said.
What matters is probably the filters and things like that.
For me the solution would be that users remove the page from URL sync when they do infinite scrolling.

The only "nice" behaviour, is the one described by Haroen, the b

[2017-08-09 11:32] Haroenv commented on #244
So as said, it's not possible to nest connectors like this, you'll have to pass around props.

https://codesandbox.io/s/7LD7EJ14r

What happens here is that every Hit has a component for the keywords. Once you click on a keyword, this event listener is called with its keyword. This then passes through to the Search component, where it is set in the state, and deduplicated.

This state is set as `d

[2017-08-09 13:09] Haroenv opened #246 "Consider using Danger for non-test tests"
[Danger](http://danger.systems/js/) is really awesome, it allows to enforce rules like which branch to do a PR on, or enforcing ESLint, but in a way that's easy to write, and more maintainable than bash scripts. The dashboard team uses the ruby version already. Some rules that could be added:

* eslint enforcing
* commit convention
* enforcing yarn.lock to be updated if package.json is updated
* [

[2017-08-09 13:09] mthuret opened #247 "Build is failing on travis ubuntu trusty (uglifyjs)"
For reference => https://travis-ci.org/algolia/react-instantsearch/jobs/262597189

ERROR: `dist/umd/Core.min.js.map` is not a supported option
    at DefaultsError.get (eval at <anonymous> (/home/travis/build/algolia/react-instantsearch/node_modules/uglify-js/tools/node.js:21:1), <anonymous>:79:23)
    at fatal (/home/travis/build/algolia/react-instantsearch/node_modules/uglify-js/bin/uglifyjs:268

[2017-08-09 13:11] mthuret commented on #246
What rules would you add right now?

[2017-08-09 13:13] Haroenv commented on #246
Would start small, but the ones I suggested in that list seemed applicable to react-instantsearch

[2017-08-09 13:59] mthuret commented on #246
Yes ok.

However I'm not sure we should add those ones.

enforcing shorter PRs
size difference
enfocing a pr description

[2017-08-10 05:54] Discordius opened #251 "Meteor usage: Same error as instantsearch.js"
I am running react-instantsearch on Meteor, and I seem to be getting the same bug as is documented here: https://github.com/algolia/instantsearch.js/issues/1024

But the suggested bugfix appears to be instanstsearch specific, so I can't fix it. Here is a screenshot:
<img width="1666" alt="screen shot 2017-08-09 at 10 53 10 pm" src="https://user-images.githubusercontent.com/9090789/29156226-94113ff

[2017-08-10 06:09] Haroenv commented on #251
Seems like you have the same issue indeed. Can you give a replication repo so I see exactly how you're requiring what?

[2017-08-10 06:14] Discordius commented on #251
Ah, just solved it! I didn't find anything under Meteor in this repo, but this was addressed in the instantsearch.js repo here:

https://github.com/algolia/instantsearch.js/issues/1807

[2017-08-10 06:14] #251 closed

[2017-08-10 08:47] Haroenv commented on #251
Glad you found the solution, these kinds of issues are super hairy to debug. Enjoy your day!

[2017-08-10 08:47] Haroenv commented on #244
What still needs to be explained now is how to efficiently do it for multiple attributes

[2017-08-10 10:41] Haroenv opened #252 "Make it possible to refresh a InstantSearch instance"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

When you add an object to your index, you want the frontend to be updated. Right now this can be done _slightly_, by having a custom client, calling `.clearCache` and then somehow triggering a new search (mounting/unmounting or simulating an event in the input), but that's qu

[2017-08-10 11:34] mthuret commented on #244
And write the proper guide :)

[2017-08-10 11:43] mthuret commented on #252
I agree we should do something about this use case.

What would be the API of such a widget? How do you expect to use it? Same for the connector?

What that would bring compare to a simple function?

Can you clarify the concept of a  "definitely search" button?

[2017-08-10 11:49] Haroenv commented on #252
for "definitely search", I had a use case in mind, where none of your filters are actually applied until you press a button to search (not exactly our ideal usecase), but now that I think about it again, that would need another concept.

The widget would be rendering a button, on click, the results would refine. You could add that component yourself dynamically whenever you get a notice from your

[2017-08-10 13:08] mthuret commented on #252
This would mean adding a side effect to call the clearCache inside the refine function (which the purpose is to return a new searchState based on the current one). I'm not a fan of the idea.

Why not just having a regular `refresh` function. I'm also wondering if could have something directly on the `<InstantSearch/>` component.

[2017-08-10 13:22] Haroenv commented on #252
How can you call that function then?

[2017-08-10 13:39] mthuret commented on #23
Present in 4.1.0-beta.5.
Will be release as a stable version soon.

[2017-08-10 13:39] #23 closed

[2017-08-10 13:54] mthuret commented on #252
Either with another HOC or indirectly by having

[code]

I thing it's good to explore options and compare each trade-off of them :)

[2017-08-10 16:36] Haroenv commented on #252
As possible UI inspiration, here's what this message looks like in Safari DevTools search

<img width="225" alt="screen shot 2017-08-10 at 18 35 03" src="https://user-images.githubusercontent.com/6270048/29181256-c4cf019a-7dfa-11e7-82e8-d1fa68b835d0.png">

[2017-08-10 22:17] Kikobeats opened #254 "index name serialization at URL"
I noted that `indexName` at `<InstantSearch/>` is not serialized into the URL:

![](https://d26dzxoao6i3hh.cloudfront.net/items/3Y0e0u3f1Y0g382c3D0J/Screen%20Recording%202017-08-11%20at%2012.13%20am.gif?v=27692e71)

I can understand why, but could be possible do it? I have different indexes and I retrieve the properly index from the user selection, so how to do it persistent into the URL.

Also I

[2017-08-10 22:31] catamphetamine commented on #14
@mclapa Thread hijacker, no thread hijacking!
We're also having this issue when using filters inside `react-modal` which unmounts contents on close.
The virtual widgets workaround would most likely work but since we're not constrained by mobile SDK here we decided to try the quick old-school pure CSS modal approach instead.

[2017-08-11 06:30] Haroenv commented on #254
Serializing the URL is a user concern in React InstantSearch, it should be possible. What you should do in this case I think, is indeed `Index`, and enable the result that has been serialized.

Can you provide a bit more detail into what you need that's not offered right now?

[2017-08-11 16:26] Kikobeats commented on #254
I suppose this functionality have to live into `<Index />` component, but it needs to be updated for support it.

Currently, I have this:

[code]

where the value of the `indexName` is determinated using the UI (also the application provide a default value). It works fine.

If I do something like:

[code]

It throws an error:

[code]

I suppose because `<Index />` wasn't designed to be used with t

[2017-08-12 02:30] Discordius opened #255 "MultiIndex search: Highlight works fine, but Snippet fails to render"
I am trying to do a search on multiple Indexes, but for some reason when I try to use the Snippet widget in my second Index, it doesn't display anything. The Highlight component for the same attributeName displays just fine. Running Chrome Version 60.0.3112.90. Here is the relevant code:

[code]

And the Snippet in this hitComponent is then failing to show the highlighted Snippet, but works fine w

[2017-08-14 06:01] harshmaur commented on #185
Works!

[2017-08-14 07:48] Haroenv commented on #244
I just made a new version that works with multiple attributes too: https://codesandbox.io/s/oY1klpZYB

[2017-08-14 08:38] LukyVj opened #256 "[ New design ] Sidebar issue"
On some pages of the new documentation, the sidebar is really buggy.

Branch:  `feat/new-design`
Example: https://puu.sh/x9FjQ/e9fab971b7.png

[2017-08-14 08:51] Haroenv commented on #256
Shouldn't it overflow like it did before?

[2017-08-14 08:53] LukyVj commented on #256
Not related to overflowing

[2017-08-14 09:03] rayrutjes commented on #256
We've got the same issue on Vue, it is related to the script doing the positioning.
Probably an edge case.

[2017-08-14 09:17] LukyVj commented on #256
Yep, that's why I notified @bobylito :)

[2017-08-14 10:15] Kikobeats commented on #244
I did same purpose but different approach using `filters` fields at `Configure`:

https://github.com/windtoday/windtoday-app/commit/85b0954d2c513c0a07c3a00dd97d2549c089df4b

I think your approach is better, but probably too verbose; in my case I need to add like 7 o 8 `VirtualRefinementList` and states.

Could we isolate this into a HoC?

[2017-08-14 10:37] Haroenv commented on #244
This kind of logic should live in user space IMO

[2017-08-14 11:42] Haroenv commented on #244
I just edited that example, so that less is needed when you want to have a lot of attributes.

[2017-08-14 11:51] Haroenv opened #257 "withSearchbox shows "no results" until three characters are typed when there's another refinement"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

https://codesandbox.io/s/oY1klpZYB

1. refine in one of the refinementLists
2. search in another refinementList
3. see `No results` until three characters are typed

**Bug: What is the expected behavior?**

See the result immediately

**Bug: What browsers are impacted? Which versions?**

All AFA

[2017-08-15 08:14] Kikobeats commented on #244
It works like a charm, currently implemented at windtoday-next.herokuapp.com and working fine.

Thanks @Haroenv for your effort 😄

[2017-08-15 10:26] Haroenv commented on #244
I’ll keep this open until the guide is merged

[2017-08-16 09:03] mthuret commented on #254
Hi @Kikobeats,

Having an Index component using the same index name that the default one (on InstantSearch) is a supported syntax.

It seems that the warning refers to the newly SSR feature (mentioning 'resultsState'). I'll try to reproduce it or better you could provide us a live example (codesandebox is great for that).

Does this warning prevent you to serialize the index name in the url? They

[2017-08-16 09:06] mthuret commented on #257
Can you precise your workflow because I couldn't see it using your example?

1. I click on "react" on the first refinement list
2. I search for "g" on the second one
3. I can see four results

[2017-08-16 09:33] mthuret commented on #255
Hi @Discordius,

Did you add the attribute name 'body' to the [attributesToSnippet](https://www.algolia.com/doc/api-reference/api-parameters/attributesToSnippet/#attributestosnippet) settings of the 'dev_comments' index? (tab display of the dashboard)?

[2017-08-16 09:46] Haroenv commented on #257
Whoa you’re right, I can no longer reproduce it. It must have been some kind of fluke 🤔 I’ll reopen if I can reproduce it again.

[2017-08-16 09:46] #257 closed

[2017-08-16 13:47] mthuret opened #260 "New design issues"
Here are some thing I noticed about the new design (cc @LukyVj)

- [ ] API => every widgets/connectors / Guides: less space between each part
- [ ] API => every widgets => make the storybook link (see live example) more visible
- [ ] Code sample => less space at the top/bottom. More space with the content
- ex : [React InstantSearch | ⚡ Lightning-fast search for React and React Native apps](http:/

[2017-08-17 05:00] Discordius commented on #255
Ah, I apologize! I figured this out a few days after I posted this.

The problem was indeed the attributesToSnippet settings, which I didn't find documented in the react-instantsearch page for the relevant component.

[2017-08-17 07:37] mthuret commented on #255
Great to hear that you fixed it @Discordius! Let's improve the doc here :)

[2017-08-17 09:38] #79 closed

[2017-08-17 12:34] mthuret opened #263 "Style customisation API"
When designing our widgets we choose to only give the ability to override their style using our BEM classnames.

This has limitations: you can't add your own classnames and use Bootstrap-like css framework. See https://github.com/algolia/instantsearch.js/issues/2089

We also have some limitations with the usage of CSS-In-JS librairies like describe here: https://github.com/algolia/instantsearch.js

[2017-08-18 02:28] ppshein opened #264 "React instantsearch encounter error on PreactJS"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**Bug: What is the current behavior?**
React Instantsearch absolutely not working on PreactJS.

**Bug: What is the expected behavior?**

**Bug: What browsers are impacted? Which versions?**
Google Chrome(Version 60.0.3112.90)
- node v7.0.0
- npm 3.10.8

**Feature: What is your use case for such a feature?**
[code]

**Feature: What is

[2017-08-18 09:12] Haroenv commented on #264
Can you send your complete configuration in a form that’s as simple as possible? We’ve had people using it with preact, so it should work. Did you enable preact-compat?

[2017-08-18 09:36] ppshein commented on #264
[code]

I'm currently using **preact-cli**  and installed dependencies with **npm**.

[2017-08-18 09:42] mthuret commented on #264
By making a small search I found this: https://github.com/developit/preact-cli/issues/269

[2017-08-18 09:51] ppshein commented on #264
@mthuret I start with `preact create my-great-app` that's gonna be problem to search that file.

[2017-08-18 12:22] mthuret commented on #264
@ppshein a quick fix is just to add a file name `preact.config.js` at the root of your app created with preact-cli.

The content:

[code]

With that I make it work locally.

[2017-08-18 12:47] Haroenv commented on #264
don’t you want to have `process.env.production` be `"production"` for dead code elimination?

[2017-08-18 13:18] JStonevalley opened #265 "Highlight Widget does not work for attribute 'objectID'"
**Do you want to request a *feature* or report a *bug*?**
bug

Cannot reproduce with the bestbuy index since objectID appears to be unsearchable on a global level.

**Bug: What is the current behavior?**
'<'Highlight attributeName='objectID' hit={user} '/>' does not work. Nothing is shown.
objectID is added to the searchable attributes in the global index settings.
**Bug: What is the expected beha

[2017-08-18 13:33] Haroenv commented on #265
Did you add `objectID` to `attributesToHighlight` in your index settings, I think it might not be possible altogether though, I just tested around a bit.

From what I can tell now, `objectID` can’t be highlighted. You’ll have to have a second attribute with the same value for highlighting

[2017-08-18 13:37] mthuret commented on #265
This is a limitation of the API, it does not highlight the objectID field as it's not really an attribute of the record.

[2017-08-18 13:37] #265 closed

[2017-08-18 14:13] #255 closed

[2017-08-18 16:02] ppshein commented on #264
@mthuret that's sweet while developing. But to build for production, I've encountered following errors:

[code]
but that error is not occurred when I removed that code,

[code]

[2017-08-18 17:23] mthuret commented on #264
Indeed I followed what's here: https://github.com/developit/preact-cli/issues/244 and was able to use `yarn run dev`, `yarn run start` and `yarn run build` (and launch through build files using a python server).

Content of the preact.config.js

[code]

I'll spend more time on this next week.

[2017-08-22 09:04] mthuret opened #271 "Provide UrlSync provider"
**Use case:** Today if you want to have an url synchronisation we provide recipes but we don't provide a ready-to-use module. However there's a pattern that is always there (pushing after N ms) and this could be abstracted. Also it could be great to provide ready-to-use provider for the most popular way to handle url sync.

Also, there's an underlying issue when it comes to synchronise our JS libr

[2017-08-22 09:16] Haroenv commented on #271
For the record, the urlSync provider we use in Yarn (which is mostly based on the issue here) is potentially responsible for the "sends more than one request per query", so we should be careful that our connector doesn't have that issue

[2017-08-22 09:20] mthuret commented on #271
@Haroenv that seems like a bug to me. If you used the recipes we provided and can find a fix, please fix them. Also I wasn't able to saw this behaviour in our e-commerce demo (using a simple browser url sync).

[2017-08-22 12:33] Haroenv commented on #271
Okay. Then the issue is coming from somewhere else. Thanks for checking

[2017-08-23 10:58] iam4x commented on #264
Hello @ppshein

In order to help you on this one, which doesn't look easy to fix we would need:

* Your OS and the version of it (Mac, Windows, Ubunutu...)
* A github repository with an minimalist reproduction case

When we will able to reproduce the issue on our side it will be pretty easy for us to fix it.

Thank you.

[2017-08-23 22:50] mclapa opened #273 "<Highlight> Not handling integers/floats"
**Bug: What is the current behavior?**
When using the Highlight component

[code]
If unit_number is not a string then that component will not return anything.

**Bug: What is the expected behavior?**
Should convert it to a string and then do the string operations on it

**What is the version you are using? Always use the latest one before opening a bug issue.**
"react-instantsearch": "^4.0.10",

T

[2017-08-24 03:29] ppshein commented on #264
I've done as embedded external javascript file into my preact project as follow, because while I building preact, I got warning that bundle file size is over 200kb (as not standard size of preact :))

[code]

[2017-08-24 06:28] Haroenv commented on #273
Yes, it's not possible to highlight numbers as numbers in Algolia. Best option is to have a string for displaying as text (highlighting), and a number if you want to use it for Range or similar.

This can't be solved in React InstantSearch, so I'll close it, but I put it on our internal feedback board.

Have a nice day!

[2017-08-24 06:28] #273 closed

[2017-08-24 06:31] Haroenv commented on #264
You can also just import instantsearch.js if you want to use that, it uses preact already so that should definitely work

[2017-08-24 08:12] Kikobeats commented on #16
Hey,

I build a simple solution that works like a charm:

[code]

Basically, I'm injecting the `ObjectID` into `filters` field at `<Configure/>`:
https://github.com/windtoday/windtoday-app/blob/v3/components/App.js#L116

Then, if the objectID is present I determinate render a Single Hit view component:
https://github.com/windtoday/windtoday-app/blob/v3/components/App.js#L126

This component need t

[2017-08-24 08:20] mthuret commented on #16
Awesome @Kikobeats! Great example that others can follow!

We might still want to add a widget that will hide a bit this :)

[2017-08-24 08:41] Kikobeats commented on #85
I want to share my user case, just for be possible design the best solution for all 😄.

In [my application](https://next.windtoday-co), the user can click in a hit to get more details. The probability that the user click in a hit that live in `page=1` is low compare with click in the rest of pages, so, major part of the time users clicks in `page>1` and this is what happens:

![](https://d26dzxoao

[2017-08-24 08:50] mthuret commented on #85
@Kikobeats can I see that using the V3 branch of your app?

[2017-08-24 09:28] Kikobeats commented on #85
@mthuret yes

[2017-08-24 09:29] mthuret commented on #85
@Kikobeats awesome, I'll have a look :)

[2017-08-27 04:32] pyankoff opened #285 "{flex: 1} doesn't work inside <InstantSearch> component"
Is there a way to pass `{flex: 1}` to <InstantSearch> component? The only way I found is to change the component code inside the library:

[code]

[2017-08-27 21:35] MelodiiLy opened #286 "Only show the result after search button is clicked, and Index problem"
Hello, I'm using react-native.

From the tutorial (https://community.algolia.com/react-instantsearch/Getting_started_React_native.html), I can connect algolia and display all the data on my ListView. Also, I can do the search with the search box. Great.

However, how to 'hide' the 'Hits' (all the data) at the beginning? For example, I have 50 user data, and I want a search box + Empty ListView (bl

[2017-08-28 08:38] mthuret commented on #286
Currently if you don't want to display the hits of the empty query you'll need to use [conditional display](https://community.algolia.com/react-instantsearch/guide/Conditional_display.html). I detailed this and give a [live code sample](https://codesandbox.io/s/VMKOr8GX) in this discourse thread: https://discourse.algolia.com/t/need-guidance-explicit-example-on-how-to-incorporate-createconnector/2

[2017-08-28 08:40] mthuret commented on #285
Hi @pyankoff,

What styling issue did you have? What are you trying to achieve? If you can provide a [codesandbox](https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/packages/react-instantsearch/examples/react-router) it would help me determinate if there's an improvement to make or if it can already fix.

Thanks!

[2017-08-28 12:09] mthuret opened #289 "Pictures inside hits and slow network"
Use case: you have a slow network and you're displaying pictures inside your hits. When searching as you type, old picture are still displayed even though the results are not the same anymore. Here is a gif explaining the issue better:

![bug-picture](https://user-images.githubusercontent.com/6885378/29772852-d3493dd6-8bfa-11e7-81bd-cb855df04bcd.gif)

Explanation: Seems to be a behaviour of React,

[2017-08-28 13:10] pyankoff commented on #285
Hi @mthuret , sorry forgot to mention its React-Native. Red container should be fullscreen, but `InstantSearch` doesn't have `{flex: 1}` styling:

[code]

[2017-08-28 13:42] vvo commented on #233
Could `condition` access not only the searchState but also the results? This could also be an opportunity to clearly define a result object shape that we could document (one index, multiple index..).

As I am just back from vacation this could be completely out of scope, let me know :D 🏖

[2017-08-28 13:47] mthuret commented on #233
`condition` would have access to `searchState` and `searchResults` yes :)

[2017-08-28 14:03] vvo commented on #233
As much as I love the 1. proposition, it always seems a bit weird to have to use two IFS with the same condition but inverted to be able to do conditional rendering.

Proposal from @Haroenv is good because it adds the lower level layer and at some point if we find it repetitive we can add more higher level structures.

Here's another proposal just for the sake of discussion:

[code]

What do you t

[2017-08-28 15:39] mthuret commented on #285
Why not having the view with flex:1 on top of `<InstantSearch>` like we do on our [react-native ](https://github.com/algolia/react-instantsearch/tree/master/packages/react-instantsearch/examples/react-native) recipe?

Something like:

[code]
![image](https://user-images.githubusercontent.com/6885378/29780904-bd278108-8c17-11e7-8493-8e3d159e6884.png)

Will that work for you?

[2017-08-28 16:14] pyankoff commented on #285
There is a hardcoded height for items view there:
[code]
If you change these hardcoded values to `{flex: 1}` height goes to 0 (there 38 results, but you can't see them):
![image](https://user-images.githubusercontent.com/5276914/29782286-e93690f0-8bd0-11e7-9d36-aabe8b8c8072.png)

[2017-08-28 16:25] vvo commented on #246
Are there any issues we face today in term of productivity as for the way we collaborate over GitHub? If yes and obvious one yes we should fix them. Otherwise I don't think it's worth it (but for the sake of learning danger)

[2017-08-28 16:37] MelodiiLy commented on #286
@mthuret Thank you so much for your help. I will take a look your code sample and give you the feedback whether it works (Hopefully it works!).

For the **Index**, in the documentation (https://community.algolia.com/react-instantsearch/guide/Multi_index.html), this is about how we use it in ReactJS. I feel the docs about react native is still very limited (though they are pretty similar!).

The co

[2017-08-28 16:45] mthuret commented on #286
Yes, you can import Index from native.

You're right we improved a bit the documentation for react-native publishing a getting started but we have still things to do :)

It should be usable in the same way than for a normal React app. If it does'nt then I'll investigate :)

[2017-08-28 16:48] MelodiiLy commented on #286
@mthuret Okay, I will try to solve these two problems and let you know the results. Thanks for the quick reply! :)

[2017-08-28 20:56] MelodiiLy commented on #286
@mthuret The conditional display using createConnector works. However, the **Index** doesn't work. I tried 2 ways but no one works.

[code]

[code]

[code]
If I don't use **Index** tag, either one works (using MyHits directly).

[2017-08-29 08:31] mthuret commented on #286
Do you have any error? What is the behaviour?

I tried this and it was working:

[code]

[2017-08-29 08:40] mthuret commented on #233
@vvo I'm not sure about this one, it looks like a `router` syntax except that here when you're using the if/else you're more in a middle of you page component and I would expect something more like:

[code]

[2017-08-29 08:45] mthuret commented on #264
@vvo here a repository using preact-cli with instantsearch: https://github.com/mthuret/preact-cli-react-is

It contains the fix using `process: mock`

[2017-08-30 09:55] kmatrah opened #292 "[doc] Filtering on null/not-null values"
Today our engine doesn’t support filtering on null (or not-null) values. Some users want to use the Toggle
 widget to do that and it's not possible. We can add this information in the doc [here](https://community.algolia.com/react-instantsearch/widgets/Toggle.html) and also provide a quick solution to manage that case (like Marie gave on [Discourse](https://discourse.algolia.com/t/how-to-create-a-

[2017-08-31 08:10] vvo commented on #233
Ok, let's go for only the connector for now and see if there's any obvious conditional rendering agnostic library we can showcase in the guide?

[2017-08-31 08:27] mthuret commented on #254
@Kikobeats: can we close this?

[2017-08-31 08:28] Kikobeats commented on #254
yes!

Using `</sortBy>` all works fine 😄

[2017-08-31 08:28] #254 closed

[2017-08-31 09:42] mthuret commented on #289
To solve this is to take advantage of the `onLoad` event of pictures to know when we can render it instead of the placeholder. The only difficulty here is that this manipulation needs to be repeated at every keystrokes/refinements and in a way that if the network is fast enough it doesn't look weird.

For our example using this component https://github.com/FormidableLabs/react-progressive-image al

[2017-09-01 20:11] dguo opened #301 "[doc] Incorrect field name in the searchResults documentation"
The docs for the shape of the `searchResults` object appears to be wrong for a field. See [this section](https://community.algolia.com/react-instantsearch/guide/Custom_connectors.html#getprovidedpropsprops-searchstate-searchresults-meta-searchforfacetvaluesresults). Instead of `loading`, the field [looks like](https://github.com/algolia/react-instantsearch/blob/0d008e9105c8d9729f220b99860b1020491e

[2017-09-01 20:29] MelodiiLy commented on #286
It works! Thanks!

[2017-09-01 20:43] MelodiiLy commented on #286
However, I can't use **createConnector** with multiple **Index**, can you please test it?

All other cases :
Hits with no Index, Hits with single Index, Hits with multiple Indices, createConnector with no Index, createConnector with single Index, works.

[2017-09-03 01:30] dguo opened #302 "Components seem to trigger onSearchStateChange when unmounted"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Hi, I've run into two issues while integrating React Instantsearch into my website, and they seem to have the same root cause. For context, my website is implemented as a SPA, and I'm using React Router v2.

1) I put the `SearchBox` in my website's header. I want to use [react-responsive](https://

[2017-09-03 16:14] vinhlh commented on #252
Could we provide an option to clear specified records?

[2017-09-04 07:24] Haroenv commented on #252
What exactly do you mean by that, @vinhlh; I have the feeling it might be an unrelated issue, feel free to open another issue for that.

[2017-09-04 07:27] Haroenv commented on #264
Let's close this, since it seems to be fixed when the process it mocked.

[2017-09-04 07:27] #264 closed

[2017-09-04 07:58] mthuret commented on #302
Hi @dguo,

It's expected that every time a component is unmounted `onSearchStateChange` get called because it means that a new request has been made => some filters could have change, etc.

However I did fix something about this and SPA and it's the issue you're referencing here => if the whole <InstantSearch/> instance unmount (most probably because of a click on a link), then `onSearchStateChang

[2017-09-04 12:53] mthuret opened #304 "Can't update prop `indexName` of Index"
Use case: you're using the `Index` component and want to change its `indexName` prop (potentially because it's dynamic).

Bug: nothing happen as the new value isn't taken into account and no search is performed.

Proposal:

Multi index is handled through the context but the widget manager has it statically. Once it's set, it's never updated. Here are the step of what needs to be done:

1. Store th

[2017-09-04 13:03] mthuret opened #305 "Forward searchState after the initial query"

[2017-09-04 13:04] mthuret opened #306 "Remove usage of transistionState in favor of refine for Configure"

[2017-09-04 13:07] mthuret opened #307 "HierarchicalMenu: Add search for facet values"

[2017-09-04 13:08] mthuret opened #308 "Example: improve geo search example"
#1860

[2017-09-04 13:08] mthuret opened #309 "Recipe: dynamic facetting"
algolia/instantsearch.js#2071

[2017-09-05 01:25] vinhlh commented on #252
I mean, this issue is about adding an object to the index. What I did concern is similar: removing an object from the index.
I don't want to clear the whole client cache but only deleted objects. Should we?

[2017-09-05 08:15] noclat opened #310 "InfiniteHits with multi-index: hits don't update"
When using `<InfiniteHits />` inside a multi-index setup, hits inside `<Index>` don't reload when `Load more` has been pressed at least once. The first dataset behaves correctly.

The expected behavior is: when I load more results for the second dataset, and then edit the query in the searchbox, hits update and only display page 1.

Here's the same code as the multi-index example from this repo, s

[2017-09-05 08:38] Haroenv commented on #252
It will be more efficient to clear the cache than to store which objects are deleted; it will also not be simple to actually know which objects are deleted, so clearing the cache on a certain moment seems better to me.

[2017-09-05 09:32] roma98 commented on #137
Hello,
I also just stumbled upon the exact same problem.
I get an infinite loop when rendering <Hits> as the child.

[2017-09-05 14:43] mthuret commented on #310
That's a tricky bug :)

This happen because the page is not reseting to 1 when using the searchbox.
Currently, every "shared" widgets doesn't reset the page to 1 for all the indices.

Possible way to fix it: when refining on "single" indice, check if the search state contains indices. If yes, reset also the page for them.

[2017-09-05 14:53] noclat opened #311 "Multi-index reorder: HitsPerPage don't update"
I have a multi-index results page, with hits bundles (1 bundle = 1 index) and I'd like to allow users to reorder the bundles dynamically (on my own version, it's drag and drop, but for the demo purpose it's a simple button).

<img width="752" alt="screen shot 2017-09-05 at 16 57 08" src="https://user-images.githubusercontent.com/1834312/30067541-66a0c304-925b-11e7-82b8-921738c34769.png">

To repro

[2017-09-05 14:59] noclat commented on #311
Update: actually even the Hits don't move, only the titles change.

[2017-09-05 15:06] mthuret commented on #311
I believe that this is also a consequence of this issue: https://github.com/algolia/react-instantsearch/issues/304

Closing it :)

[2017-09-05 15:06] #311 closed

[2017-09-05 15:19] vvo commented on #263
That's some massive research and API proposal, GG!

Do we already have an example of that? Mostly curious

Any small example?

Provide an example so we can better understand the struggle versus your proposal, thanks!

This looks like a good solution. We got away of react themeable mostly because it was complex to understand everything it was doing, we thought we might just remove it and add someth

[2017-09-05 16:33] oliviertassinari commented on #263
@vvo Thanks for the introduction, I can speak for the tradeoffs we have chosen with Material-UI

We have explicitly removed this option in order to be able to optimize our class names length in production. But we lose this no brainer override option.

The most interesting part from Material-UI would be the `classes` property [section of the documentation](https://material-ui-1dab0.firebaseapp.com/

[2017-09-05 16:37] oliviertassinari commented on #263
We also have an even more powerful override mechanism that relies on the context to change the style even **before it's injected** into the DOM. [But it's probably not relevant here](https://material-ui-1dab0.firebaseapp.com/customization/themes/#customizing-all-instances-of-a-component-type).

[2017-09-06 17:04] dguo commented on #302
Thanks for the detailed reply, @mthuret. I understand now why it's called on unmounts. I'm definitely not unmounting the whole instance, so it seems that I'll have to follow your suggestion to use multiple `InstantSearch` instances.

For your consideration, it would be nice if `onSearchStateChange` could provide some context on what caused the change. If I knew that it was due to an unmount of the

[2017-09-06 17:04] #302 closed

[2017-09-07 12:07] mthuret commented on #252
I did some research about this API request and here is what I propose:

1. adding a prop `refresh` on InstantSearch
2. when set to true, we clear the cache and we make a new search
3. `refresh` should be then to false using a React lifecycle hook or `onSearchStateChange`.

@VincentCtr @georgejor @pyankoff @LaurentLousky @vinhlh @vvo @Haroenv: what do you think?

[2017-09-07 12:22] #289 closed

[2017-09-07 13:03] Haroenv commented on #252
I'm not 100% convinced, but with the `onSearchStateChange` it's pretty simple to implement. Would love to see this pattern possible, and that's a reasonable solution 😄

[2017-09-07 13:11] vvo commented on #252
LGTM 👍

[2017-09-07 14:22] vvo commented on #271
Can you show a more complete example that uses:
- createUrlSyncProvider
- react-router

?

[2017-09-07 15:16] mthuret commented on #271
Yes sure, here is how you would use `createUrlSyncProvider` (here for browser url sync)

[code]

As for React-Router, it would be the same usage as BrowserUrlSyncProvider, a component that wrap InstantSearch.

[2017-09-07 16:30] LaurentLousky commented on #252
Yeah that looks good to me as well!

On Thu, Sep 7, 2017 at 4:11 PM Vincent Voyer <notifications@github.com>
wrote:

[2017-09-07 20:10] dericcain opened #313 "How to use a refinement on every request to lock down results"
I have a index that contains a list of products. On a specific page on my site, I only want to show products with an attribute of `color="red"` and `size="small"`. These constraints need to be transparent to the user and need to persist with every search at all times.

Now I saw [this guide on virtual widgets](https://community.algolia.com/react-instantsearch/guide/Virtual_widgets.html), but I fou

[2017-09-07 23:13] Haroenv commented on #313
You can use `filters` prop in `Configure`

[2017-09-08 07:13] kesavan49 opened #316 "Multi index with same not working as expected in reactive-instancesearch"
**Do you want to request a *feature* or report a *bug*?**

**Bug: What is the current behavior?**

**Bug: What is the expected behavior?**

**Bug: What browsers are impacted? Which versions?**

**Feature: What is your use case for such a feature?**

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

**What is the version you are using? Always use the latest

[2017-09-08 08:05] mthuret commented on #316
The multi index syntax can't perform N requests targeting the same index but with different configuration.

If you have this:

[code]

The query will be shared by the two indices, but first will only have one hits per page and second 5 hits per page.

For your use case you should use several InstantSearch components. You can share the search state between them if needed.

Does this help?

[2017-09-08 08:09] mthuret commented on #313
Hi @dericcain, in your case if you use the virtual widget you could have something like:

[code]

Is it clearer? Did you try it?

[2017-09-08 12:26] dericcain commented on #313
@mthuret I see now. I did not understand why the docs would use a `VirtualMenu` but now it makes sense. I believe I will update the docs to be more explicit about why the use of the `VirtualMenu` was chosen.

Thanks!

[2017-09-08 12:26] #313 closed

[2017-09-08 12:59] vvo commented on #271
LGTM and really looking forward to also the pre-built providers.

One thing maybe to draft an API for too is an easy way to:
- alias state parameters ("state.query": "s")
- ignore state parameters (ignore: ["state.page"])

What do you think?

[2017-09-09 14:01] kesavan49 commented on #316
Hi mthuret ,

Thanks for response. I am using different config for each index you can see in my code.

[2017-09-10 01:05] markmiller21 opened #319 "Unable to resolve module 'crypto'"
I am currently trying to implement react-instantsearch into my React Native Project and am running into a fatal build issue.  I am getting an error that I am unable to resolve a module called "crypto".  I tried to get around it by installing crypto into my project but still got the same error.  I haven't seen any reference to an error similar to this on any sources online so I imagine it is a new

[2017-09-10 10:18] Haroenv commented on #319
related issues: https://github.com/algolia/algoliasearch-client-javascript/issues/463 https://github.com/algolia/algoliasearch-client-javascript/issues/291 https://github.com/algolia/algoliasearch-client-javascript/issues/162 https://github.com/algolia/algoliasearch-client-javascript/issues/84

I thought we fixed this 🤔 I’ll try some things Monday. It would be really helpful if you try to make a M

[2017-09-11 11:35] mthuret commented on #319
Hi @markmiller21,

I recently tried (last week) using expo 20.0.0 and React 16.0.0-alpha.12 with React InstantSearch 4.1.0 and everything was working fine.

Some things that I can see is the import of the InstantSearch component. Are you importing it like:

[code]

One other test you can do is trying to launch our expo example app and tell us if it work? => https://github.com/algolia/react-instant

[2017-09-11 11:39] mthuret commented on #316
Hi @kesavan49,

Could you reproduce your issue using this codesandebox template: https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/packages/react-instantsearch/examples/multi-index

Please also note that there are two known bugs that are currently in the process to be fixed:

* InfiniteHits with multi-index: hits don't update https://github.com/algolia/react-instantsearch

[2017-09-11 14:33] mthuret commented on #285
We could forward the style props to InstantSearch maybe?

@pyankoff to be sure to understand: if you remove completely the fix height on our example, it still work. I believe that's because the navigation library we use has fixed some stuff. Why would you need to add { flex : 1 } to it?

[2017-09-12 01:20] markmiller21 commented on #319
I created a MVCE using the newest version of Expo and I found that it was working.  After doing this I upgraded my expo version and it solved the issues that I was having.  Thanks for the help :)

FWIT: I was on Expo V17.0.0 & upgraded to Expo V20.0.0.  The instantSearch component stopped producing the node module error on V19.0.0

[2017-09-12 01:20] #319 closed

[2017-09-12 04:14] kesavan49 commented on #316
HI @mthuret

I have produced issue in codesandbox. Please find the following link

https://codesandbox.io/embed/qz668kp3lj

Thanks

[2017-09-12 06:32] mthuret commented on #316
Hi @kesavan49,

I'm sorry, we had a misunderstanding. Indeed React InstantSearch multi indices wasn't design to be used with the same index but with different configuration. If you have several hitsPerPage, then the latest will be applied.

In your case you should use different InstantSearch component. We have an `onSearchStateChange` hook on it to be able to retrieve and share the `searchState`.

[2017-09-12 11:33] bobylito opened #320 "Query rules guide"
Query rules is a new feature in the Algolia engine. Even though most of the impact is in the engine and most of the answer modifications should be hidden, we have identified two cases where we need to provide some help on how to integrate them:
 - when a result is promoted
 - how to access custom data from the rules engine

The idea is to make a guide for that.

This is linked to https://github.co

[2017-09-12 15:32] mthuret commented on #286
Hi @MelodiiLy, I'm sorry I didn't see your answer.

Implementing a complete widget compatible with multi indices using the `createConnector` is not easy. You need to have a lot of knowledge of the internal of react instantsearch.

If you need to access `hits`, `query` and the `refine` function you should use our connectAutoComplete connector. If that's not enough can you explicit your use case?

I

[2017-09-13 04:17] kesavan49 commented on #316
Thanks for your help. But this wont help for me.

[2017-09-13 08:04] Haroenv commented on #316
Hey @kesavan49, can you go a bit more in detail why you need this pattern and why our suggestions wouldn't work? A practical use case will help us in finding the best solution and designing APIs with your use case in mind in the future

[2017-09-13 16:27] noclat opened #322 "Snippet white space characters"
On using the `<Snippet>` element, I end up having some leading and/or trailing white spaces. On the screenshot below, the “what” is a bit shifted to the right:

<img width="220" alt="screen shot 2017-09-13 at 18 17 29" src="https://user-images.githubusercontent.com/1834312/30388446-08e7b82a-98b0-11e7-8606-31ae7eaeb87d.png">

In that example, when inspecting the code, I actually have a line break c

[2017-09-13 16:37] noclat commented on #322
The record actually has a white space:

<img width="150" alt="screen shot 2017-09-13 at 18 35 42" src="https://user-images.githubusercontent.com/1834312/30389159-6640beac-98b2-11e7-8117-a555deb1c545.png">

[2017-09-13 18:58] Haroenv commented on #322
In this case, you’ll be able to use `connectSnippet` and `trim()` the value

[2017-09-14 07:53] mthuret commented on #322
I'm closing this as it will be on the user side like @Haroenv mention and as we've seen with @noclat

The connector to use is `connectHighlight` (which is used for both the Highlight and Snippet widgets). See here: https://community.algolia.com/react-instantsearch/connectors/connectHighlight.html

[2017-09-14 07:53] #322 closed

[2017-09-14 11:41] #304 closed

[2017-09-14 11:41] #310 closed

[2017-09-15 15:00] mthuret commented on #233
I'm wondering what should be the API in case of multi indices.

Let's imagine we have something like:

[code]

Should `connectConditional` let access to all the `searchResults` and then imply something like:

[code]
or should we directly provide the `searchResults` corresponding to the index you're under and then you'll have something like:

[code]

cc @vvo @marielaures

[2017-09-16 06:03] Haroenv commented on #233
Maybe the indexName can be a prop?

[2017-09-18 08:30] mthuret commented on #233
Here what I'm wondering is more is there a need of giving access to all `searchResults` or having the one corresponding to your context enough?

After some thought about it, I believe we should provide all `searchResults` like we do for autocomplete. You could create a whole no results page taking into account every `searchResults` at the same time.

[2017-09-18 11:35] vvo commented on #233
@mthuret Aside from conditionally displaying widgets, would their be other usecases for connectConditional? I am asking because it seems to be an easy way to access InstantSearch data without the need of createConnector. What do you think?

Should we still make it easy to get "current index" versus "all other index" results? Like {searchResults, allSearchResults}?

[2017-09-18 12:36] mthuret commented on #233
We can have this strategy yes :) Top :)

Apart from `conditional display` this can be used for other thing yes. Typically if we don't provide a dedicated widget for `query rules`, you'll use this widget. So maybe `connectConditional` isn't the right name @vvo ?

[2017-09-18 12:40] vvo commented on #233
Yes that's the question I asked myself. Since this widget allows you to connect any part of your application to InstantSearch data (state, results) maybe we name it just:
- connect
- connectData
- connectStateResults
- any other idea?

No precise idea but I feel like there's no specific conditional feature, just connecting to data and then using it to do conditional rendering.

[2017-09-18 12:52] mthuret commented on #233
`connectStateResults` at least says to what you get access to. Otherwise could be `connectInstantSearchData` but a bit long.

[2017-09-18 13:46] vvo commented on #233
looks good to me too.

[2017-09-18 17:30] catamphetamine opened #351 "<RefinementList/> defaultRefinement has the wrong PropType"
It is claimed to be an array
https://github.com/algolia/react-instantsearch/blob/fe0c01c12e78abc8d4071b2aa917043d02121b79/packages/react-instantsearch/src/connectors/connectRefinementList.js#L79

But it's not as far as React is concerned
https://github.com/algolia/react-instantsearch/blob/fe0c01c12e78abc8d4071b2aa917043d02121b79/packages/react-instantsearch/src/connectors/connectRefinementList.js#

[2017-09-19 14:32] mthuret commented on #263
About a better integration of css frameworks: after discussing this with @vvo we came to the conclusion that using a css framework shouldn't be difficult. It is now because we compute a lot of logic directly in our widgets (Like the Pagination one) where we could ultimately compute those under the connector.

Instead of providing a mapping classnames API what we are proposing to do is:

 - Create

[2017-09-20 09:20] Haroenv opened #355 "In some cases there are multiple identical requests"
**Do you want to request a *feature* or report a *bug*?**

bug

**Bug: What is the current behavior?**

a single refinement (any of them) cases N requests with the exact same parameters

**Bug: What is the expected behavior?**

one request per exact same parameters

**What is the version you are using? Always use the latest one before opening a bug issue.**

4.0.10

This is visible in

- [refining

[2017-09-20 09:27] mthuret commented on #355
I think we can go for the deduplicate requests solutions only after understanding what is causing the bug (even though we find out that we don't have better solutions than deduplicating requests for now).
cc @Haroenv @vvo

[2017-09-21 20:13] vvo commented on #355
Finding the root cause is a priority, as for fixing like you said it can depend on our strategy (inside RIS, or inside the helper). Still the helper must be smarter on this part (pending request, same parameter, reuse request).

[2017-09-22 12:36] mthuret commented on #215
https://github.com/storybooks/storybook/issues/1868

[2017-09-25 08:26] pixelastic opened #371 ""NaN person" in Tourism demo"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
The [Tourism demo](https://community.algolia.com/react-instantsearch/examples/tourism/) is displaying "Nan perso"
![image](https://user-images.githubusercontent.com/283419/30798978-9fd66892-a1db-11e7-9df2-a03bf4287b73.png)

**Bug: What is the expected behavior?**
Only valid numeric values should b

[2017-09-25 16:11] vinhlh opened #376 "Always trigger search when mounting"
If having a `Configure` element, `react-instantsearch` will trigger a request when mouting, depsite we don't do any thing with search feature yet.

[code]

**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
A redundant request
<img width="905" alt="screen shot 2017-09-26 at 12 08 18 am" src="https://user-images.githubusercontent.com/261283/3081877

[2017-09-25 16:16] mthuret commented on #376
Hi @vinhlh,

As for now there's no API to disable the first query but that's something on the RIS backlog to consider.

I'd prefer to go for this kind of API than coding a particular use-case. (ie: when only Configure type widget, do not search). But let's discuss about it!

[2017-09-26 04:22] frozenfung opened #382 "before search start function / after search finish function"
**Do you want to request a *feature* or report a *bug*?**

feature

**Feature: What is your use case for such a feature?**

I am wondering is it possible for customization before/after per request is sent.

For example, I want to use tools like [bootstrap alert](https://www.w3schools.com/bootstrap/bootstrap_alerts.asp) so that when user change search state they will see simple alert like **Loading

[2017-09-26 08:18] mthuret commented on #382
Hi @frozenfung, thanks for the feedback :)

For the `afterRequest`, you have the `onSearchStateChange` function that is called every time something is refined, I believed it can serve what you're looking for.

Also we compute a `searching` field that you can access using this: https://community.algolia.com/react-instantsearch/guide/Conditional_display.html#displaying-content-when-loading
Warning:

[2017-09-26 08:21] samouss opened #384 "connectorRange ignores min / max boundaries on first call"
If you set boundaries on a widget related to `connectRange` (`RangeSlider`, `RangeInput`), there are ignored on the first call. In the given example the boundaries are set to `30` and `100`. The UI is align with the options but in the results we still have the products with prices out of bounds.

When you change the values of the slider, then reset it to the initial position the results is correct

[2017-09-26 08:33] mthuret commented on #384
Thanks for spotting this @samouss!

To precise it's the props `min` and `max` that are not taking into account for the first request.
`defaultRefinement` is ok.

[2017-09-26 16:21] #371 closed

[2017-09-26 16:21] #292 closed

[2017-09-26 16:22] #351 closed

[2017-09-26 17:29] guybowden commented on #91
just returning to this @mthuret / @mvanlonden - I have a business use case here whereby we have a min and max occupancy of a trip.. e.g. a trip can take between 4 and 10 people. I would like to have a simple input where I only show trips that can take 5 people.

my doc would look something like this:
[code]

With the current `connectMultiRange` I can only perform a min/max comparison of a single a

[2017-09-27 08:16] frozenfung commented on #382
Thanks for fast reply! I think connectState is what I need.

[2017-09-27 08:16] #382 closed

[2017-09-27 08:28] mthuret commented on #91
Hi @guybowden, thanks for broughting this subject up, I kinda forget about it.

Based on your two feedback, we should definitely move forward with this.

In the meantime is using the connector that @mvanlonden showed would help you?

[2017-09-27 08:33] guybowden commented on #91
Thanks for the reply.. I've not tried the connector above, but reading through it, it seems to be a similar problem so should be OK to use. I am currently evaluating Algolia, so now I know that this is possible, it helps me make any decisions.

[2017-09-27 08:40] mthuret commented on #91
@samouss you might also be interested by this use case.

[2017-09-27 09:48] mthuret commented on #215
Step to get there:

- [ ] Ensure that storybook is working with 16

- [ ] Fix our Enzyme test using the new adapter strategy

[2017-09-28 11:25] Haroenv opened #404 "only display createConnector warning once"
**Do you want to request a *feature* or report a *bug*?**

bug(ish)

**Bug: What is the current behavior?**

the createConnector warning is fired on every search

**Bug: What is the expected behavior?**

the warning is fired only once

**Bug: What browsers are impacted? Which versions?**

any

**What is the version you are using? Always use the latest one before opening a bug issue.**
4.1.2

[2017-09-28 11:56] Haroenv opened #405 "connectStateResults, use undefined instead of null"
if undefined would be used for `searchState` and `searchResults`, it can be given a default parameter and destructured, but now it's null

[2017-09-30 20:36] boaticus commented on #215
As mentioned, defaultProps not being static on List is still throwing this warning:

`Setting defaultProps as an instance property on List is not supported and will be ignored. Instead, define defaultProps as a static property on List.`

[2017-10-02 06:41] joshuataylor commented on #22
Would this also be the ticket to track when an array is used, and we search within the array? For example:
[code]

So I can search for "hello", and it would return this record, but would be useful to be able to filter this, as I currently do something like this:

[code]

It would be nice if I could highlight the found results inside of an array.

Sorry if this is not the correct ticket, if I need

[2017-10-02 07:56] Haroenv commented on #22
Regardless of if we should implement this or not, what we usually advice is for one "item" to be one object. You can use DISTINCT to group the different objects together then. Basically here you'd have two different hits, and there wouldn't be a need to map it.

Regardless of that, it is probably possible to access the `_highlightResult` and get the highlighted string there

[2017-10-02 07:58] Haroenv commented on #229
Yarn workspaces work great for client and crawler, we should do this here.

cc @vvo

[2017-10-02 12:38] joshuataylor commented on #22
That's not a good idea, especially given the pricing of algolia. Sure it might work if you have unlimited records, but also means you have to index way more anyway... just for highlighting of found items in the array? I don't want to filter, just highlight the match. I'll take a look at `_highlightResult`.

[2017-10-02 15:33] noclat opened #414 "Can't catch network error on refine()"
I generate API keys that expire quiet quickly, and when the user keeps the tab open on background and comes back after the token has expired, the `refine()` function called inside a custom search box using `connectSearchBox` throws a network error I cannot catch. I'd like to be able to handle the error and refresh the page when Algolia returns that error, but could not find any way to do that.

![

[2017-10-02 16:31] Haroenv commented on #414
Did you try `componentDidCatch` in react 16? I think it might be related

[2017-10-02 18:41] vvo commented on #229
Answer is YES. This is a great chore to do but yarn workspaces + renovate is awesome. We could then remove a lot of custom and brittle setup code.

[2017-10-02 20:29] vvo opened #415 "Add editorconfig"
This ease collaboration and enforces things like:
- indentation style
- strip white space
- always add an empty line

Example:

[code]

WDYT?

[2017-10-03 05:55] denkristoffer opened #417 "connectStateResults should give access to props"
**Do you want to request a *feature* or report a *bug*?**

Bug

**Bug: What is the current behavior?**

I am using `createConnector` to access props, searchState and searchResults and do some calculations in the `getProvidedProps` function. After version 4.1.2 I get the warning that I should use the new `connectStateResults` instead. However that doesn't let me access props the way `createConnecto

[2017-10-03 07:43] Haroenv commented on #415
indent_style and indent_size are redundant with prettier and eslint, but WFM

[2017-10-03 09:41] vvo commented on #415
As discussed in IS.js repo, this also allows us to ensure every files are going through those rules, not just JavaScript files.

So that when saving a markdown file you do not endup with weird diff because some spaces are extraneous.

[2017-10-03 09:50] vvo commented on #415
Quick note: seems like prettier has no parameters around this, weird

[2017-10-03 12:12] vvo commented on #415
Done in IS.js https://github.com/algolia/instantsearch.js/pull/2435

[2017-10-04 08:21] mthuret commented on #417
Hi @denkristoffer,

Thanks for your feedback, I actually wondered myself if `props` was something useful to access in this context. I'm curious to know what's your use case with them :)

[2017-10-04 08:24] mthuret commented on #414
@noclat Also `connectResultsState` should let you access the error => probably just the error message though, I'll need to check.

[2017-10-04 08:26] mthuret commented on #415
@vvo works for me

[2017-10-04 08:42] denkristoffer commented on #417
I'm only using it to get the `attributeName`. The idea was to make my connector generic enough that it could be used for different attributes in the future.

[code]

[2017-10-04 08:47] mthuret commented on #417
I see, I'll add it back soon :)

[2017-10-04 09:24] mthuret commented on #215
@boaticus I'm in the middle of cleaning and upgrading everything :)

[2017-10-04 16:52] samouss opened #428 "connectRange ignore boundaries when refine"
When boundaries are set the user is still able to select a range outside of it.

**Step to reproduce with `RangeInput`:**

* set the max boundary to `300`
* set the max input to `450`
* look at the query parameters you will have `"price<=450"` instead of `price<=300`

**Possible solution:**

We have to handle the logic in `connectRange` to avoid input values to go above the limit (for user that us

[2017-10-04 17:08] samouss opened #429 "connectRange don't handle floating values"
When we set the input with a floating value it will be parse as an integer.

**Step to reproduce with `RangeInput`:**

* increase the min value to `3,45`
* submit your range
* the next value render in the min input will be `3`
* look at the query parameters you will have `"price>=3"` instead of `price>=3.45`

**Possible solution:**

We need to avoid to consider value as integer in `connectRange`.

[2017-10-04 17:15] samouss opened #430 "With `RangeInput` impossible to reset the refinement"
When you set a range with `RangeInput`, if you want to reset the refinement with the inputs it's impossible. The component disable the possibility to send empty value.

**Step to reproduce with `RangeInput`:**

* submit the form a first time
* set the inputs to an empty value
* submit the form a second time
* look at the query parameters the refinement is still set `"price>=0.39","price<=799"`

Is

[2017-10-06 14:19] mthuret commented on #405
@Haroenv, can you gave an example of what you're trying to write?

[2017-10-06 14:37] noclat commented on #414
Works like charm 👍

[2017-10-06 14:37] #414 closed

[2017-10-09 09:00] #415 closed

[2017-10-09 09:39] mthuret opened #443 "Move some business logic from component to connectors"
Some component can be hard to do when using our connectors (like Pagination for instance).

Here is an opportunity to perform a refactoring to ease those, and furthermore ease the usage of bootstrap-like css framework.