[2018-06-07 07:40] Haroenv commented on #1312
Hey @rtman, for that it'll be best to use `connectInfiniteHits` and use `hits.filter(isDuplicateOfUserProvided)`. Does that make sense?

[2018-06-07 07:43] Haroenv commented on #1313
Hey @PatchOnKnee, this is indeed not too trivial of a use case. A month ago or so I made something with @samouss to work with dates (inclusive and exclusive), but it hasn't made its way back as a core API since we were thinking about naming a lot. Note the `restrictResultsToStrictRange` prop given. See the sandbox here: https://codesandbox.io/s/kwklo3rz63

Does that solve what usage you had in min

[2018-06-07 23:19] rtman commented on #1312
@Haroenv  Yup totally, I was actually thinking of doing something like that but I wondered if there was a built in way with react-instantsearch. This works good tho!

[2018-06-07 23:19] #1312 closed

[2018-06-08 15:13] samouss commented on #649
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-08 15:13] #649 closed

[2018-06-08 15:16] samouss commented on #709
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-08 15:16] #709 closed

[2018-06-08 15:18] samouss commented on #896
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-08 15:18] #896 closed

[2018-06-08 15:19] samouss commented on #927
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-08 15:19] #927 closed

[2018-06-08 15:20] samouss commented on #938
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-08 15:20] #938 closed

[2018-06-08 20:09] #180 closed

[2018-06-09 08:27] #301 closed

[2018-06-11 12:56] noclat opened #1326 "Doc: limit attribute isn't documented on MenuSelect widget"
By default, the MenuSelect widget limits to 10 options. I tried using the `limit` attribute to expand it to 100, and it worked. It's not documented here:
https://community.algolia.com/react-instantsearch/widgets/MenuSelect.html

[2018-06-11 14:18] #1326 closed

[2018-06-12 15:40] wallawe opened #1329 "No way to get refinement count?"
I have searched far and wide to no avail. I do not want to get the `CurrentRefinements`; Rather I just want to get a number of refinements currently applied. Is this possible?

(asked on stackoverflow as well here: https://stackoverflow.com/questions/50821523/how-can-i-get-the-current-refinement-count-using-algolia)

[2018-06-12 19:57] Haroenv commented on #1329
You can use `items.length` when doing `connectCurrentRefinements`. This will give you the number of refinements.

[2018-06-12 20:04] wallawe commented on #1329
@Haroenv thanks for your response. Does this work if I'm trying to get the count of multiple different components, e.g. `Menu`, `RangeInput`, `RefinementList`, etc?

[2018-06-13 05:49] #1329 closed

[2018-06-13 12:07] davidfurlong commented on #584
I think this can be closed https://community.algolia.com/react-instantsearch/server-side-renderings/findResultsState.html

[2018-06-13 12:11] Haroenv commented on #584
Thanks! seems like this is clear enough indeed

[2018-06-13 12:11] #584 closed

[2018-06-21 12:04] MacKentoch commented on #1291
I really don't understand the current implementation.
This is completely uncommon (*= users will loose time in implementation*) and too rigid.

Why making things so strange / difficult (*widgets in React-Native?*) when you better give us a Context like API or HOCs (*standard and commonly used ways*)?

[2018-06-21 13:10] Haroenv commented on #1291
There are higher order components available to make your own widgets @MacKentoch, see https://community.algolia.com/react-instantsearch/connectors/

[2018-06-21 13:33] MacKentoch commented on #1291
Yes that is a good start.

Maybe is that just a problem of documentation (*example of documentation issue with Configure widget saying there is no props*):
<img width="880" alt="capture d ecran 2018-06-21 a 15 22 28" src="https://user-images.githubusercontent.com/11223428/41721840-452ed31a-7567-11e8-9d40-afdfb2789e63.png">

But as an example of strange things is:
- why would I have to use a `Confi

[2018-06-21 13:52] marcobiedermann opened #1361 "Autocomplete Example"
I've noticed that in you autocomplete example (https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/examples/autocomplete) the value inside the search box does not get updated after you select a value from the autosuggestion suggest box.

Do you have any hints how to fix this?
I wanted to implement this on my own project and have the same issue.

[2018-06-21 14:41] Haroenv commented on #1291
Hmm, that example of "no props" is definitely a mistake, it should accept all algolia query parameters.

The reason we chose to have different components is because we wanted the behaviour be component-based. This works for React on web, but also on Native.

This is because we see React InstantSearch as a UI-driven framework. This makes it declarative, rather than imperative, and is more readable

[2018-06-22 11:33] samouss commented on #1361
Thanks a lot for the notice. I've added a [PR](https://github.com/algolia/react-instantsearch/pull/1366) to fix the issue.

[2018-06-22 15:57] #1361 closed

[2018-06-22 15:59] samouss commented on #1313
I'm closing this one since it's inactive, feel free to re-open an issue.

[2018-06-22 15:59] #1313 closed

[2018-06-22 22:25] jpowell opened #1370 "Prevent re-render when not necessary"
**Feature: What is your use case for such a feature?**

Don't re-render components when props + state don't change.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Use `PureComponent` for the components & returned widgets after being connected?

**What is the version you are using? Always use the latest one before opening a bug issue.**

5.1.0

**Every

[2018-06-23 15:38] marcobiedermann commented on #1361
@samouss Thank you very much for the quick fix!

[2018-06-25 08:41] samouss commented on #1370
We already have a `shouldComponentUpdate` hook inside the function that creates the connector. Indeed the "view" components don't use `shouldComponentUpdate` or `PureComponent`. The latter won't avoid extra renders because most of the time props are not shallow equal. Most of the time it's completely fine to let React do the render.

Do you have any performance issue with React InstantSearch? If s

[2018-06-25 16:09] jpowell commented on #1370
Our use case is wrapping a Google maps component with the `HitsConnector` rendering the maps component alongside a location list component. The re-render is causing a flicker in the maps view even when the filtered list doesn't change. There's no state change in the controlling component to necessitate a re-render which led me down the path of the aforementioned utility to investigate.

Any ideas?

[2018-06-26 10:40] samouss commented on #1370
Yes a possible solution is to implement a deep comparison inside `shouldComponentUpdate`. Is it possible to give us a small example of what you are trying to do? It will be easier to give you a more suitable solution. You can find a template on [CodeSandbox](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/React%20InstantSearch). Thanks!

[2018-06-27 08:59] marcobiedermann opened #1396 "Sync an AutoComplete with the rest of the search"
I've noticed that if you select something using the autocomplete searchbox, the results (hits) won't get updated: https://codesandbox.io/embed/github/algolia/react-instantsearch/tree/master/examples/autocomplete

Simply add the `<Hits />` component and see the result after selecting something via searchbox.

![image](https://user-images.githubusercontent.com/5244986/41963957-21ba194e-79f9-11e8-845

[2018-07-02 11:22] samouss commented on #1396
Yes indeed it's because once the value is selected `react-autosuggest` clear the suggestions. Since the suggestions are cleared React InstantSearch will reset the hits to the empty query. You can still access the selected value with the callback [`onSuggestionSelected`](https://github.com/moroshko/react-autosuggest#onSuggestionSelectedProp).

The usage of the an autocomplete may differ from one im

[2018-07-02 18:25] chenhoward opened #1406 "connectRange with numericAttributesForFiltering"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
I want to be able to use the rangeInput for numericAttributesForFiltering (that I set through the JS API).
When I manually remove the disable attribute, the rangeInput works correctly.
The reason I don't make it a facet is that it would explode the data size.

**Feature: What i

[2018-07-03 15:58] rtman opened #1407 "_geoloc object is allowed to be nested?"
Hi,

Just wondering if the _geoloc object is allowed to be nested?

Such as:

[code]

I'm not sure if algolia is picking up the geo data in my records if they are entered as such (above).

[2018-07-03 17:17] samouss commented on #1407
The `_geoloc` must be at the root of the records otherwise it won't be picked as a location by the engine. You can find more information about that in this [Discourse](https://discourse.algolia.com/t/how-to-get-geolocation-under-nested-attribute/3577/3) thread.

[2018-07-03 17:17] #1407 closed

[2018-07-03 18:20] rtman commented on #1407
@samouss thanks!

[2018-07-04 09:30] samouss commented on #640
We released a new version `5.2.0` that split the package into multiple ones. Those new packages are compatible with tree-shaking (on Webpack 4+). You can find more information about the migration process & motivations [in the documentation](https://community.algolia.com/react-instantsearch/guide/Migration_guide_package_import.html). Don't hesitate to give us feedback!

[2018-07-04 09:30] #640 closed

[2018-07-04 09:31] samouss commented on #219
We released a new version `5.2.0` that split the package into multiple ones. Those new packages are compatible with tree-shaking (with Webpack 4+). You can find more information about the migration process & motivations [in the documentation](https://community.algolia.com/react-instantsearch/guide/Migration_guide_package_import.html). Don't hesitate to give us feedback!

[2018-07-04 09:31] #219 closed

[2018-07-04 09:33] samouss commented on #308
Hi @nicolasrouanne just to let you know that we released the [`GeoSearch`](https://community.algolia.com/react-instantsearch/widgets/GeoSearch.html) widget. Don't hesitate to give us feedback on it.

[2018-07-04 10:17] samouss commented on #1406
Thanks for the feedback! I didn't get what you meant by "explode the data size". You are talking about the size of the Algolia response? Did you actually tried to use this attribute as `attributeForFaceting` rather than `numericAttributesForFiltering` ? I ask those questions to have a bit more context.

The thing is that in the `connectRange` connector we heavily rely on `facet_stats` (for the pla

[2018-07-04 16:30] temitope commented on #16
@romafederico i agree, just following this discussion helped me understand algolia from react perspective better. continue to be impressed by the flexibility. thanks @mthuret for planting the seed of idea and @Haroenv for that very nice last bit that exchanged reduce for a simple mapping. brilliant.

[2018-07-04 18:35] chenhoward commented on #1406
Thanks for the response @samouss! What I mean about the data size was that making it a attributeForFaceting increases our index size over the size of the cluster because of the high cardinality of the column I'm trying to query against.

Thanks for pointing me in the direction of the custom connector, will check it out.

[2018-07-04 18:43] nicolasrouanne commented on #308
Yes I've seen. Tested it already in the storybook. Great work! 🦄

Le mer. 4 juil. 2018 à 11:33, Samuel Vaillant <notifications@github.com> a
écrit :

--
Nicolas Rouanne
Tel : +33 6 64 49 42 51

[2018-07-05 10:39] renovate[bot] opened #1410 "Dependency deprecation warning: material-ui (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v0.20.1) of dependency `material-ui` has the following deprecation notice:

`You can now upgrade to @material-ui/core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the actions necessary to

[2018-07-05 13:59] Braidio opened #1411 "[ Bug ] Use of VirtualMenu with ReactNative returns 0 results in all cases"
Using React-InstantSearch Version 5.0.3

My code is simple ->

[code]

This is a super generic, super general filter and should return at least 5K records. However, if I convert it to use any of the attributes for our objects with the defaultRefinement to any value I can see within our Algolia Dashboard, it will always return 0 results.

This appears in all devices for mobile.

[2018-07-05 14:56] samouss commented on #1411
It it possible to provide a live example? It will help to better understand the issue. We provide template to avoid you the boilerplate part. You can find it [on CodeSandbox](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/React%20InstantSearch). The template is for React DOM but you should be able to reproduce the issue in this environment. Otherwise you can also c

[2018-07-05 14:58] samouss commented on #1406
Okay thanks for your feedback.

I'll close the issue since there is nothing we can do about it right now. But I've send the feedback to our product team! Don't hesitate to open a new one if we have issue with the custom connector.

[2018-07-05 14:58] #1406 closed

[2018-07-06 11:48] Braidio commented on #1411
@samouss Yes even more simply put.

If I index my objects like so

[code]

And then I go to the Algolia Dashboard console ( algolia.com/apps )

And I search for `_tags:1` or `created_by:A Name I know exists`, no results return affected by any sort of filter/refinement. This is likely, we believe, why our search results do not work in react-instantsearch as well.

[2018-07-06 12:31] #1411 closed

[2018-07-09 13:49] samouss opened #1419 ""Edit this page" button URL is broken"

[2018-07-10 14:34] agdavid opened #1420 "Add Configure widget example for filtering boolean attributes"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**Feature: What is your use case for such a feature?**
Consider showing users how to implement `<Configure />` widget with `filters` parameters (even better if for `boolean` attributes). Currently, page talks about filtering but no example.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?*

[2018-07-10 20:12] timkelty commented on #164
@Haroenv I'm still experiencing this issue and don't see how #202 has solved it…can you elaborate?

[2018-07-10 22:45] sabativi opened #1425 "Reference Error :"
**Bug: What is the current behavior?**

After `npm i react-instantsearch-dom-maps`, and importing `import { GoogleMapsLoader, GeoSearch, Control, Marker } from 'react-instantsearch-dom-maps';` I have an error :

[code]

I am using meteor, but I am pretty certain this is not related.

Maybe this is due to being in an SSR environment ?

[2018-07-11 06:59] Asahro opened #1426 "list search alway show up"
is there any way the list search alway display when the count = 0 ?

[2018-07-11 07:53] Haroenv commented on #1425
Yes, this seems to be related to Meteor / SSR, could you make a project we can clone and check out where the issue is? See also the dedicated [SSR guide](https://community.algolia.com/react-instantsearch/guide/Server-side_rendering.html).

Thanks

[2018-07-11 07:57] Haroenv commented on #164
I'm not completely sure about the context of this issue, could you make a new issue with a sandbox to explain what your problem is @timkelty ?

[2018-07-11 07:58] Haroenv commented on #1420
[code]

Just wondering if that is what you meant or something else :)

[2018-07-11 07:59] timkelty commented on #164
/cc @kylewayneluck @kswedberg

[2018-07-11 08:05] samouss commented on #1425
It's related to the Node environment. We use use external library to load external scripts (for Google Maps) but this library only work in a browser environment. We should be able to run the components in a non browser environment. This is definitely an issue, thanks for spotting this!

[2018-07-11 08:23] izaacdb commented on #1426
@samouss I've been looking for an answer to this too. There isn't much info about the props you can pass to SearchBox in the getting started tutorial. How do you prevent the Hits component from rendering when the SearchBox is empty?  There is some old V1 documentation about queryHook but it doesn't seem to work.

[2018-07-11 10:02] Haroenv commented on #1426
@izaacdb, I think you mean something else than OP, but you can use `connectStateResults` like [this](https://community.algolia.com/react-instantsearch/guide/Conditional_display.html#displaying-content-when-the-query-is-empty) to prevent the hits from rendering when the query is empty (à la autocomplete

[2018-07-11 11:21] agdavid commented on #1420
Yes, something like that :p - I mentioned the boolean attribute example because it even gets a little more confusing with the numeric vs string boolean:

[code]

[2018-07-11 13:50] #1425 closed

[2018-07-13 15:07] clayne11 opened #1429 "Use renderProps to render the components"
I propose that the library should use the render props pattern to display results. It has been gaining a lot of steam in the community and would allow for a much more customized rendering experience.

This library does a good job encapsulating all of the logic of performing searches but IMO is far too opinionated about rendering.

CSS-in-JS has taken off in the React community and a lot of project

[2018-07-13 15:12] Haroenv commented on #1429
duplicate of https://github.com/algolia/react-instantsearch/issues/667

We haven't yet made a change like this, because it's quite complex to make an architecture that works with both the HoCs we have already (connectors) and exporting the render props.

I'll close this issue, but thanks for your input here!

[2018-07-13 15:12] #1429 closed

[2018-07-13 15:13] Haroenv commented on #1429
Note that you should already be able to wrap the HoCs we provide in render props on your own

[2018-07-13 15:58] clayne11 commented on #1429
@Haroenv I just discovered the connect components, thanks!

[2018-07-16 07:13] samouss commented on #1396
I'm closing this issue, feel free to re-open one.

[2018-07-16 07:13] #1396 closed

[2018-07-16 16:06] timkelty commented on #164
@Haroenv Need anything more from me?

[2018-07-17 20:39] spanditcaa opened #1442 "Server side rendering with custom backend fails with server side error"
**Bug: What is the current behavior? Server side error on the initial request for the site.  The custom search function passed on instantSearch is being executed on the server.

**Bug: What is the expected behavior?  Page renders normally and the custom search function is executed on the client.

**Bug: What browsers are impacted? Which versions? all.  Error is server side.  Tested with node 10.6.

[2018-07-18 10:05] francoischalifour commented on #1442
Hi there, [the `fetch` module used](https://github.com/spanditcaa/instantsearch-ssr-custombackend/blob/master/src/app/index.js#L13) is only available in the browser and therefore is not defined on Node (as you're doing SSR). You could use any `fetch` alternative like [Axios](https://github.com/axios/axios).

[2018-07-18 15:40] spanditcaa commented on #1442
using Axios yields the same issue @francoischalifour - we don't want the custom search function to be called in the initial server side render - we need the method passed down to the client so it knows how to make subsequent requests.

[2018-07-18 17:48] oznekenzo opened #1444 "TypeError: Cannot read property 'store' of undefined"
I'm following the react tutorial with my existing React app w/ Firebase, but am getting the error:

<img width="1041" alt="screen shot 2018-07-18 at 1 46 30 pm" src="https://user-images.githubusercontent.com/8059373/42898390-04ce8100-8a91-11e8-834b-53cc37431231.png">

The moment I add any component beyond <InstantSearch /> ( Hits, SearchBox, Highlight, Pagination).

Hours and no leads.  Thank you

[2018-07-18 20:34] mxmzb opened #1446 "Failed prop type: Invalid prop `root.Root` warning"
**example code causing the issue:**

(taken from https://community.algolia.com/react-instantsearch/Getting_started_React_native.html#add-the-%3Cinstantsearch%3E-component)
[code]

**Bug: What is the current behavior?**

Warning is being thrown:
[code]

**Bug: What is the expected behavior?**

No warning I guess? However, the search still works, it's just a warning, not an error.

**Bug: Which vers

[2018-07-21 03:36] Haroenv opened #1451 "Feedback on highlighting"
Note the html escaping: https://github.com/joshwcomeau/guppy/pull/83

[2018-07-22 22:22] jackmatrix opened #1454 "What is the url request to reset react instantsearch hits?"
I am using react instantsearch and sometime i need to check if my index has new entries without to be required to remounting my component.

So i know that when my component is called the first time, `react-instantsearch` make an initial request to fetch the most pertinent hits :

[code]

So in my case i need to re-fetch hits sometimes but when i call a new instance of `<Hits />`  i get the same re

[2018-07-22 22:54] Haroenv commented on #1454
Answered in https://github.com/algolia/algoliasearch-client-javascript/issues/715#issuecomment-406903374, basically should be explained in https://community.algolia.com/react-instantsearch/guide/Refreshing_cache.html, please comment here if anything else is unclear so we can reopen if necessary

[2018-07-22 23:57] jackmatrix commented on #1454
I've already tried the `refresh` attribute but my problem is still unresolved because i need the hits list to be refreshed without typing anything but i just want to programmatically refresh it for exemple triggered by a custo event in my app.

[2018-07-24 22:31] rossvz commented on #1446
I noticed this when upgrading to RN@0.56

[2018-07-25 16:19] mattbriancon opened #1457 "Option to not clear RefinementList after selection"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**Feature: What is your use case for such a feature?**

Our users often want to select several refinements after searching the refinement list.

Example:
1. User searches the Customer refinement list for `wal`
2. Refinement list shows:
  a. Walmart A
  b. Walmart B
  c. Wally World
3. User wants to select **both** `Walmart A` and

[2018-07-27 08:21] Haroenv commented on #1446
Hmm, that prop type seems to be correct, I wonder where that error is coming from. Thanks for reporting. This is indeed just a warning though, so can safely be ignored by you

[2018-07-27 12:01] bobylito commented on #355
It seems that the latest version of react-instantsearch does not have the issue anymore. You can try this here: https://codesandbox.io/s/6opx1zk8n (based on a fork of @callmephilip example with the latest react-instantsearch version)

[2018-07-27 14:22] JonnyBurger commented on #1446
`View` now uses `React.forwardRef`. That means it's type is an `object`.

Made a Pull Request which explains it: #1461.

Thanks for merging!

[2018-07-27 14:34] Haroenv commented on #1446
thanks @JonnyBurger, I missed some context there, your PR looks good ❤️

[2018-07-31 16:08] durdenx opened #1465 "When usign GeoSearch Widget : not a LatLng or LatLngLiteral: in property lat: not a number"
**Bug**
Impossible to use GeoSearch widget: the app is crashing with error
`not a LatLng or LatLngLiteral: in property lat: not a number`

Here a codesandbox with the very minimal setup from the doc : https://codesandbox.io/s/mm6wmz6moy?expanddevtools=1

**Bug: What is the current behavior?**
app crashing

**Bug: What is the expected behavior?**
GeoSearch widget shows a map

**Bug: What browsers a

[2018-08-01 09:14] Haroenv commented on #1465
I don't get that error, changed your code slightly to get the `google` object loaded correctly; as well as adding a tiny bit of style to make sure the height made it visible: https://codesandbox.io/s/52rvlk5jwk

[2018-08-07 07:40] #1446 closed

[2018-08-08 16:54] samouss commented on #1442
The initial call on the server is the expected behaviour. This is the all purpose of doing SSR with React InstantSearch. We do the first request on the server to provide a static page to the browser. It allows the user to have a faster response (most of the time). Once the static page is rendered React take the leads and re-use the already generated markup to avoid to render the page a second time

[2018-08-08 17:00] spanditcaa commented on #1442
Understood and thank you @samouss, confirmed you fixed my broken example.

[2018-08-08 17:00] #1442 closed

[2018-08-08 17:11] samouss commented on #1454
@jackmatrix indeed the solution provided by @Haroenv seems to solve your issue. You can take a look at [the story](https://community.algolia.com/react-instantsearch/storybook/?selectedKind=RefreshCache&selectedStory=with%20a%20refresh%20button&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybooks%2Fstorybook-addon-knobs) that he provide. We use the `refresh` property to trigger a new reques

[2018-08-08 17:15] samouss commented on #355
Actually no React InstantSearch still have the issue. It's patched in our API Client but not in the library itself. For example users that implement a custom search client (like the one implemented by @iam4x) will still have the issue.

[2018-08-09 20:58] pheuter opened #1490 "How do multiple <Configure /> handle merging parameters?"
Under a single `<InstantSearch>` index I am taking advantage of rendering multiple `<Configure />` widgets as part of custom components I created to apply API parameters not available through the default widgets and connectors. For example, here's a component that renders a select dropdown that sets optional filters:

[code]

My question is this: **How does Algolia handle rendering multiple `<Conf

[2018-08-10 07:33] Haroenv commented on #1490
That's essentially the case, it's safe to have multiple Configure without any conflicts, but if there are multiple with the same key, or if any of the widgets already have this key (like the case with `facetFilters`) then it will be likely overriden by another. I'm not 100% sure which one will be chosen in that case, and it's something that we might change at a later point, but I think the compone

[2018-08-10 08:52] samouss commented on #1490
See https://github.com/algolia/react-instantsearch/issues/693 & https://github.com/algolia/react-instantsearch/issues/725

[2018-08-10 08:53] samouss commented on #1446
The next version will be released beginning of next week.

[2018-08-10 14:05] pheuter commented on #1490
Thanks, I’ll take a look at createConnector as a potential alternative.
On Fri, Aug 10, 2018 at 4:52 AM Samuel Vaillant <notifications@github.com>
wrote:

[2018-08-11 00:43] kwent commented on #1444
@oznekenzo I'm seeing the same issue. Did you find anything on how to fix it ?

[2018-08-13 21:39] brandon-dewitt opened #1502 "Add ability to add a searchbox for a specific field"
I have an index of movies and want to search those movies where the title contains 'black' or the logline contains 'battleship'.

I think this could be implemented using multiple searchboxes.
[code]

Is there a better way to build this query?

[2018-08-14 07:35] Haroenv commented on #1502
[code]

This would solve your issue, unfortunately it's not yet possible to create multiple indices with the same indexName.

The other solution I can think of is to have two `InstantSearch` components on your page, and synchronise the `searchState`.

@samouss do you have another suggestion, or maybe an idea if we could make the id something else than the index somehow

[2018-08-14 10:43] nicolasrouanne opened #1503 "Unit test connected components (using mocks?)"
**Do you want to request a *feature* or report a *bug*?**
Feature/Question

**Feature: What is your use case for such a feature?**
Unit testing of _connected components_ (i.e. using a `connector` such as `connectHits`)

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

I want to **unit test 🚧 one of my component which is a _connected component_** (in my ca

[2018-08-14 10:54] Haroenv commented on #1503
The most obvious way is to test your component before you connect it, that way you can test your component in all use cases, but it requires you to export the raw component as well. That's what we do in this code base.

Another option is to mock the relevant part of `react-instantsearch-dom`. A tutorial of that is [here](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules).

I tried to fin

[2018-08-14 11:39] Haroenv commented on #1503
So I've been trying some things, including mocking parts of React InstantSearch, and came to the following suggestions:

1. (and my preference): export the raw component (not connected).

  This is a better approach because you don't need to maintain a mock of each connector you're using, but can rather test your component as if it didn't have anything to do with Algolia or asynchronous data at al

[2018-08-14 11:39] #1503 closed

[2018-08-14 13:47] nicolasrouanne commented on #1503
Thanks a lot @Haroenv! Very detailed and quick answer indeed!

**I do use approach 1. already - i.e. testing the raw component (not connected)**. However I maybe overly simplified my question... I do a _little additional logic_ inside `ConnectedHits` rather than just "connecting" it. That explains why I wanted to test my _raw component_

It was more something like this.

[code]

You are right: **t

[2018-08-14 14:50] Haroenv commented on #1503
That's great! You're right that exporting it just to be able to test it doesn't seem that great always, but on the other hand, now if you later want to make a map out of items, you're not constrained anymore with necessarily having it in `connectHits` or even in InstantSearch at all.

Your tests now are easy to follow and don't spend too much time on internal implementation of the connectors, but

[2018-08-14 21:05] brandon-dewitt commented on #1502
@Haroenv I don't think this solution allows me to generate multiple queries.  Search state is an object and can only represent one query so the last query wins.  If I search title for 'black', the search state looks like this:

[code]

If I then search logline for 'battlefield', the search state gets updated to:

[code]

Here is an example of a multi query I am trying to generate:
[code]

It would

[2018-08-15 07:10] Haroenv commented on #1502
Query can unfortunately not be an array, a query is unique within a single search. I think there might be some ways around this, but it’ll come down to merging those two hits in a way that’s reasonable to you, or maybe a single search box that has both; but a toggle to trigger the restrictSearchableAttributes. Since you’re on an enterprise plan, feel free to also reach out to your assigned SE, the

[2018-08-16 03:56] oznekenzo commented on #1444
I’m not looking at the code right now, but make sure that components are properly nested within the appropriate components, as shown in the documentation

[2018-08-19 09:55] puckey commented on #1111
What use is there to the user to be presented with these empty-string search results? If it is just done to warm up network connections, why is it necessary to show results?

[2018-08-19 10:04] Haroenv commented on #1111
@puckey, the network connection is one of the reasons, the other is use cases like in our demos where you'd have a specific search page that shows global popular results on empty query. You can hide the hits [like this](https://community.algolia.com/react-instantsearch/guide/Conditional_display.html#displaying-content-when-the-query-is-empty) if that's the interface you'd like.

[2018-08-19 11:32] mxmzb opened #1511 "[RN] Incompatibility with react-navigation"
**bug: using `react-instantsearch-native` with `react-navigation` and not having all the connected instantsearch widgets direct children of `InstantSearch` component.**

**Bug: What is the current behavior?**

i cannot put the search box (wrapped by `connectSearchBox()` hoc) into a custom header component that I pass to `navigationOptions.header` (https://reactnavigation.org/docs/en/stack-navigato

[2018-08-19 12:01] ladmerc opened #1512 "restrictSearchableAttributes not being applied"
I'm trying to restrict a query to an attribute and indicated `restrictSearchableAttributes={['title']}` in `Configure`. I get **invalid setting for restrictSearchableAttributes, attribute title is not in searchableAttributes setting**.

The attribute `title` is listed as searchable in my dashboard but somehow `restrictSearchableAttributes` still produces that error.

I tried adding `searchableAttr

[2018-08-19 13:42] ladmerc commented on #1512
Found out this happened only when searching multiple indexes, as one such index doesn't have the particular attribute. Fixed by conditionally adding index if attribute exists

[2018-08-19 13:42] #1512 closed

[2018-08-19 14:02] puckey commented on #1111
Does this also avoid the initial empty-string search from happening? If not, what could I do to achieve that?

[2018-08-20 07:13] Haroenv commented on #1111
No it doesn't prevent that search from happening, what's the effect you're seeing from this search being done?

[2018-08-20 08:15] puckey commented on #1111
I already have a bunch of network connections being made which are more important and I run a pretty busy site which tends to go viral every now and again. I would like to avoid hitting the QPS limit when that occurs.

[2018-08-20 08:34] Haroenv commented on #1111
Yes that makes sense. The best way to go (if you're not displaying the empty searches at all) is to do the following:

1. make a custom search client
2. make the search method not call Algolia, while the other ones do

this would look roughly like this:

[code]

Note that if you _are_ displaying things when users have an empty search query, you should change that check (`shouldSearch`) to somethin

[2018-08-20 08:48] puckey commented on #1111
Thanks, very helpful!

I do still feel this is worth adding as a prop to the SearchBox component. Something like `initialSearch={false}` or 'ignoreEmptyQuery`.

[2018-08-20 08:58] puckey commented on #1111
Some examples of other users with the same question:

https://stackoverflow.com/questions/37801289/how-do-i-set-algolia-to-not-return-any-results-if-the-query-is-blank

https://stackoverflow.com/questions/45845688/how-do-i-hide-results-on-an-empty-query-in-laravel-vue/45846240

https://stackoverflow.com/questions/49090834/show-the-item-hit-content-only-when-the-search-box-is-not-empty

https://git

[2018-08-21 00:54] oyeanuj commented on #465
@samouss Two question here: Do you think the `currentRefinement` could ever be made available within `connectStateResults`? Currently, I have my search box in a different component connected with `connectSearchBox`, and results in a different sibling component, and at every place there is little logistical tediousness connecting the two components.

Also, any other thoughts on a solution for this

[2018-08-21 07:44] samouss commented on #1490
Duplicate of https://github.com/algolia/react-instantsearch/issues/725.

[2018-08-21 07:44] #1490 closed

[2018-08-21 07:46] samouss commented on #376
Duplicate of https://github.com/algolia/react-instantsearch/issues/1111

[2018-08-21 07:46] #376 closed

[2018-08-21 07:47] samouss commented on #1502
Duplicate of https://github.com/algolia/react-instantsearch/issues/1109

[2018-08-21 07:47] #1502 closed

[2018-08-23 17:04] BrentLayne commented on #970
@danhodkinson you can use a library like lodash to `throttle` the search query in your own code

[2018-08-23 17:13] BrentLayne opened #1521 "Bug in createInstantSearchServer/connectRange"
**Bug: What is the current behavior?**

When providing a `min` and/or `max` prop to `connectRange` (https://community.algolia.com/react-instantsearch/connectors/connectRange.html), server-side rendering throws an error.

[code]

This error is caused by a bug in `createInstantSearchServer`.  When reducing over the `searchParameters` in `findResultsState`, `searchParameters.getSearchParameters` is b

[2018-08-24 03:54] sampsonjoliver commented on #970
@BrentLayne can you provide or point to an example of this?

Definitely +1 to having this functionality out of the box though.

[2018-08-24 13:29] samouss commented on #970
Here is [an example](https://codesandbox.io/s/k8k329787) that show how to implement it with [connectSearchBox](https://community.algolia.com/react-instantsearch/connectors/connectSearchBox.html).

[2018-08-24 14:06] Haroenv commented on #1152
thanks, updated it!

[2018-08-24 16:30] samouss opened #1524 "Compute canRefine on the transformed items"
**Do you want to request a *feature* or report a *bug*?**

BUG.

**Bug: What is the current behavior?**

With the current implementation of `connectCurrentRefinements` the `canRefine` props is computed on items rather than the transformed items. It can leads to issue when we filter some values from items.

**Bug: What is the expected behavior?**

Compute `canRefine` on the transformed items.

**Co

[2018-08-27 08:30] wzup opened #1531 "Task orphaned for request nsmutableurlrequest"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**Bug: What is the current behavior?**

No pictures. Warning is thrown

**Bug: What is the expected behavior?**

No warnings. Picture is returned.

**Bug: What browsers are impacted? Which versions?**

React native. ios env

**Feature: What is your use case for such a feature?**

This is all your example https://community.algolia.com

[2018-08-27 11:19] samouss commented on #1531
Hi, could you provide us a bit more informations about your environment? How did you create the React Native application? With Expo? From scratch? Which version of React Native is used? The best would be to provide us a working example of the issue. It will help a lot to better understand the issue. Thanks!

[2018-08-30 10:16] wzup opened #1542 "How do I select an item after a do lookup and close modal and pass selected item back to main screen?"
**Do you want to request a *feature* or report a *bug*?**

Gaps in your documentation.

Your docs do not explain the most important thing in all that search thing.
This is **_how I select a item, close modal and get selected item back in my main screen_**.

**Bug: What is the current behavior?**

* I have main screen with a "Search" button.

* I click "Search" button. It opens modal.

* In modal I

[2018-08-30 10:36] wzup opened #1543 "Where is _ref variable in real-life code?"
**Do you want to request a *feature* or report a *bug*?**

Bug

**Bug: What is the current behavior?**

There is `_ref` variable in Devtools but it doesn't exists in real-life code. See screenshot below.
This `_ref` has many values. How to access them?

![screen shot 2018-08-30 at 1 30 29 pm](https://user-images.githubusercontent.com/3880497/44846480-1c337000-ac59-11e8-8a8f-a9342a27b794.png)

**Bu

[2018-08-30 12:29] Haroenv commented on #1543
_ref is created by Babel and has the current scope you destructure from IIRC. If you want to see the details, you should look at the source code (your own) being compiled by babel.

Everything there you should be able to destructure in the props of the component you are enhancing.

Does that make sense?

Please feel free to continue commenting here, and we can reopen if an issue is found

[2018-08-30 12:29] #1543 closed

[2018-08-30 12:31] Haroenv commented on #1543
see https://babeljs.io/repl#?babili=false&browsers=last%202%20versions&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBBIFsCmAxMMC8MAUBvCANDACYC-AlJgHwy4BQMMoksAlmGEgE5pZ4BGBADYVqtBjFJ1SQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=true&timeTravel=false&sourceType=module&lineWrap=false&presets=es2015&prettier=true&targets=&vers

[2018-08-30 12:55] Haroenv commented on #1542
That depends on which modal you are using, but generally it will have either a method on the ref to close it programmatically, or a prop that says open or closed.

Here's an example: https://codesandbox.io/s/yq2lyo46xx

[2018-08-30 12:55] #1542 closed

[2018-08-30 18:02] wzup commented on #137
Same here.
`connectStateResults` is infinite loop.
Always returns `searching=true` case.

[code]

[2018-08-30 18:07] wzup commented on #629
Same here.
`connectStateResults` is infinite loop.
Always returns `searching=true` case.

[code]

[2018-09-07 16:08] JureSotosek commented on #1419
I see this still hasn't been resolved. Is anyone working on it? Can i give it a try?

[2018-09-07 16:56] Haroenv commented on #1419
Yes, if you feel like contributing, this definitely would be welcome. It's likely something that changed when we changed the folder structure. Source for the documentation is https://github.com/algolia/react-instantsearch/tree/master/docgen

[2018-09-07 17:44] JureSotosek commented on #1419
@Haroenv One quick question. If I'm not mistaken, docs are partly generated from comments from inside some of the files right?

So for example [connectHits page](https://community.algolia.com/react-instantsearch/connectors/connectHits.html) is generated from the comments from [this](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch-core/src/connectors/connectH

[2018-09-07 18:03] Haroenv commented on #1419
yes, the link should be towards the source code, since that's what is needed to be updated :)

[2018-09-09 21:59] nickjuntilla opened #1563 "React Installation, nothing happens and no error"
Installed with `npm install react-instantsearch --save`

**Bug: What is the current behavior?**

Doing this procedure: https://community.algolia.com/react-instantsearch/guide/%3CInstantSearch%3E.html

Replaced the values with the values for my project.

**Bug: What is the expected behavior?**

Nothing loads on the page and there is no error.

**Bug: What browsers are impacted? Which versions?**

C

[2018-09-10 09:01] francoischalifour commented on #1563
Did you install `react-instantsearch-dom`?

This is the new way to use React InstantSearch. You can read more about it in the [migration guide on imports](https://community.algolia.com/react-instantsearch/guide/Migration_guide_package_import.html#migration-for-react-dom).

[2018-09-15 14:26] samouss commented on #1563
Hi @nickjuntilla did you solve your issue?

[2018-09-15 14:30] samouss commented on #1454
I'm closing this issue because it's inactive since a month. Feel free to open a new one!

[2018-09-15 14:30] #1454 closed

[2018-09-15 14:48] #1410 closed

[2018-09-16 05:38] simpletrontdip opened #1581 "Render errors swallowed with React 15"
# Background
- Recently, I have taken hours to debug a strange React/DOM related bug on our site(which is using Algolia API) and figured out what wrong with my code.
- The problem was from a function(which was not well coded) inside a `connectHits` component. It failed to handle some kind of input data and makes `render` failed.
- But the thing is, I can't get any exception from the console, outpu

[2018-09-17 11:35] samouss commented on #1581
I tried to reproduce a similar use case but the error is always catch by React, I probably miss something in my reproduction. I willingly access a non existing property on an object to let the application throw. The error always bubble in the console. Here is [the example](https://codesandbox.io/s/911ln101mw). Could you provide us a reproducible use case? It will help to better understand the issu

[2018-09-17 12:57] simpletrontdip commented on #1581
Thankyou for your time!
I have updated your example and reproduce it [here](https://codesandbox.io/s/8808v98n99).
Sorry for not mention that we are using React-15 and our code base cannot be updated to React-16 easily.
The main thing is React-15, in this version the component does not have the `ErrorBoundary` so the exception will not be captured. And thing get failed silently.

[2018-09-18 10:45] #1521 closed

[2018-09-18 14:49] samouss commented on #1581
Thanks for the example and the information about the version. The error is catch inside a promise that is created by one of our internal library ([Algolia JS Helper](https://github.com/algolia/algoliasearch-helper-js)). React 16+ does throw the error though. With the solution proposed the error will indeed be thrown on React 15. But React 16+ user will have the error thrown two times. A possible s

[2018-09-19 12:36] simpletrontdip commented on #1581
Thank you! I think the `connectStateResults` may help

[2018-09-19 12:36] #1581 closed

[2018-09-26 11:02] #1524 closed

[2018-09-27 09:47] mthuret commented on #1563
@samouss this page https://community.algolia.com/react-instantsearch/guide/Install.html might be outdated?

[2018-09-27 10:52] samouss commented on #1563
Yep I will update it.

[2018-09-27 12:46] samouss commented on #1511
I've setup an App with React Navigation & React InstantSearch. I've added the root above the `Router` but it's not mandatory if your Search is only on one screen. Here is [the source code](https://github.com/samouss/react-instantsearch-react-navigation) of the example. If the issue persist please provide us a working example of your App, it will help a lot to better understand where the issue come

[2018-10-01 16:02] #1563 closed

[2018-10-02 07:46] #1419 closed

[2018-10-04 09:34] GriffinSauce commented on #137
Running into this problem as well. I'm implementing the `display:none` workaround but just wondering: could React InstantSearch show a warning for this? That might save a lot of frustration, it took me quite some time to find what was causing this issue.

[2018-10-04 13:07] samouss commented on #137
@GriffinSauce Sorry about that. For the question about the warning it's indeed a good idea but it's a bit hard to detect when we want to warn people about a possible infinite loop. Mainly because this is the "normal" lifecycle of the widgets. Once a widget is removed we have to trigger a new search to update the widgets accordingly.

[2018-10-05 11:51] GriffinSauce commented on #137
Yeah I couldn't figure out a quick idea to do that either. Another idea is to look at the outcome, a massive amount of successive searches, and to trigger a warning that there might be an issue.

Far from a perfect solution but it would be cheap to do and might mitigate the issue for future users.

Thanks for the support either way!

[2018-10-09 09:55] knightkiddo opened #1652 "How to use the connectPagination in React-Native ?"
Hello,

I could use the connectCurrentRefinements correctly because I found a working example but I can't figure how to use the connectPagination in React Native. I searched everywhere but I couldn't find something useful...

I can import it like the CurrentRefinements
`import { connectCurrentRefinements, connectPagination } from "react-instantsearch/connectors";`

I can use it like this :
`const

[2018-10-09 10:18] Haroenv commented on #1652
[code]

Does this help you?

[2018-10-09 10:21] Haroenv commented on #1652
That's an example using react (DOM), but the same idea goes up for React Native.

[![Edit react-instantsearch-app](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/q8loowqn7w?module=%2Fsrc%2FApp.js)

[2018-10-09 10:21] #1652 closed

[2018-10-09 10:30] JakeSidSmith opened #1653 "Configure widget documentation is lacking props"
**Do you want to request a *feature* or report a *bug*?**

Documentation update / bug

**Bug: What is the current behavior?**

The [documentation](https://community.algolia.com/react-instantsearch/widgets/Configure.html) states:

And then immediately shows this example

[code]

**Bug: What is the expected behavior?**

Should document all available props

[2018-10-09 12:18] Haroenv commented on #1653
Oops, that's because this documentation is automatically generated. The accepted parameters are:

https://www.algolia.com/doc/api-reference/search-api-parameters/

[2018-10-09 12:49] husbas opened #1654 "How to search multiple indices in one query?"
**Do you want to request a *feature* or report a *bug*?**

**Bug: What is the current behavior?**

**Bug: What is the expected behavior?**

**Bug: What browsers are impacted? Which versions?**

**Feature: What is your use case for such a feature?**

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

**What is the version you are using? Always use the latest

[2018-10-09 12:53] Haroenv commented on #1654
[code]

[2018-10-09 12:53] #1654 closed

[2018-10-12 10:41] tstehle opened #1659 "onSearchStateChange is never called after refreshing the cache on react-native app"
**Bug: What is the current behavior?**
In order to let a user manually refresh a list, I implemented the code provided here
https://community.algolia.com/react-instantsearch/guide/Refreshing_cache.html
on my react-native app, but the onSearchStateChange callback is never called.
This prevents me from showing and hiding a loader while the cache is being refreshed.
I also had to use a timeout to set

[2018-10-12 12:34] samouss commented on #1659
Hi, indeed we do a patch on this documentation recently (see https://github.com/algolia/react-instantsearch/pull/1647). But the doc hasn't been published yet. The `onSearchStateChange` is **not** called once we clear the cache. You should use the `setState` callback to turn it back to `false`. Here is [the updated documentation](https://github.com/algolia/react-instantsearch/blob/master/docgen/src

[2018-10-12 13:46] tstehle commented on #1659
Thanks, it works !

[2018-10-12 13:46] #1659 closed

[2018-10-15 01:06] catamphetamine opened #1668 "Reset refinement to `defaultRefinement`"
Suppose there's an attribute filter which has a `defaultRefinement`.
Then this attribute filter refinement is changed via `refine()` when a user clicks some button.
After that the user clicks another button (say, "reset") which should reset the filter to its initial state.
`refine(defaultRefinement)` won't work because it would reset to some constant values while the original `defaultRefinement` b

[2018-10-15 05:53] CodeMohan commented on #355
We are experiencing the same issue. Is there any work around for this?

[2018-10-15 10:53] samouss commented on #1668
Right now there is no built-in way to reset to the `defaultRefinement`. Once a user refines the value the reset operation will remove the refinement without re-applying the `defaultRefinement`. To solve your use case you can "save" the `defaultRefinement` value somewhere (class instance, state, whatever it's not important). The you provide this saved value to the `defaultRefinement`. Now `refine(d

[2018-10-15 11:17] samouss commented on #355
@CodeMohan for the moment the workaround is inside [the Algolia client](https://github.com/algolia/algoliasearch-client-javascript). You can opt-in for an option that deduplicate pending requests. This behaviour is enabled by default with the version 5.2.0 of React InstantSearch.

If for any reasons you can't upgrade to the v5 you can use the prop `algoliaClient` to provide a custom client to Reac

[2018-10-16 10:46] catamphetamine commented on #1668
Suppose there's a website which uses Algolia search component for outputting a list of events (e.g. festivals).
Most visitors would only be interested in upcoming events.
So the website adds a custom search widget which is a toggle saying "Including past events".
By default this toggle is "off" which means that `date` attribute is filtered by `defaultRefinement={{ min: Date.now() }}`.
When a user

[2018-10-16 11:30] samouss commented on #1668
Thanks for the explanations! I think I got it now: basically the search should **always** be performed with `Date.now()` unless the user include the past events right? In that case I don't think you can use the `defaultRefinement` because indeed it's not re-evaluated on each request but only on a new render of the parent component.

You can [create a connector](https://community.algolia.com/react-

[2018-10-16 11:37] catamphetamine commented on #1668
@samouss
Ha, that looks interesting.
I guess you're right after all: `defaultRefinement` is not suited for such tasks, and implementing a custom "connector" would be the right way.
Just didn't want to dive too deep into your sources.
Seems that this case though is simple enough, and even simpler than hacking around as I did previously.
And the `searchParameters` object seems to be the "algoliasear

[2018-10-16 11:37] catamphetamine commented on #1668
Ok then, I'm closing this issue, thanks for pointing us in the right direction.

[2018-10-16 11:37] #1668 closed

[2018-10-16 20:07] gburgett commented on #577
Hi All,  I've opened a PR to DefinitelyTyped with definitions for the types that we've been maintaining in our repo.  You all could use it as a base to build out the rest of the type definitions.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/29793

[2018-10-17 07:33] Haroenv commented on #577
Thanks @gburgett, that's definitely a solid start for typings! We will take a look and see if there's any missing things.

I see you're documenting internals as well, is that because you use them, or because you simply wanted to add typings for everything?

[2018-10-17 19:06] gburgett opened #1676 "DefinitelyTyped definitions"
Hello,

We've been using react-instantsearch in our project and developed a few Typescript type definitions for the stuff that we're using.  I could use some assistance in finishing them out to the satisfaction of the DefinitelyTyped maintainers.  If y'all are not interested, we'll just keep using these typedefs internally.

Check out the PR here: https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-10-17 19:10] Haroenv commented on #1676
We are very grateful and following that PR you made. We'll take a look to fix the things mentioned by the DTS maintainers likely during next week. 🙌

[2018-10-17 19:12] gburgett commented on #1676
Great!  Thank you :)

[2018-10-18 00:04] CodeMohan commented on #355
Thanks @samouss. We tried the second approach you suggested. It did remove the duplicate calls but experiencing other side effects. We are investigating those issues.

[2018-10-18 10:20] tstehle opened #1677 "Must be able to fully refresh a list which uses an InfiniteHits connector"
**Bug: What is the current behavior?**
I use an InfiniteHits connector on a FlatList, and I sometimes need to refresh that list, so I trigger a refresh with the InstantSearch refresh prop.
When I do that, it sends a new request for the content of last page that was loaded.
For example, if I have scrolled down my FlatList so that it has loaded page 0 and page 1, and I trigger a refresh, it will onl

[2018-10-18 10:37] samouss commented on #577
Thanks a lot @gburgett I'll review the PR and probably fill the missing types next week.

[2018-10-18 10:38] samouss commented on #1676
I'm closing this issue since we have an other one on the subject #577.

[2018-10-18 10:38] #1676 closed

[2018-10-18 12:32] tstehle commented on #1677
If I understand correctly, unmounting and remounting the widget will not fully refresh the list, and the only way to do that is to reset the page to 0.

I don't see how to do it with onSearchStateChange, as this function is not triggered by me but by the InstantSearch widget.

I did try a way to modify the searchState, based on what I read here: https://community.algolia.com/react-instantsearch/gu

[2018-10-18 12:54] samouss commented on #1677
Yes my bad you have to only use the `searchState`. There is only on way to reset the page, it's with the `page` attribute. Here is [the shape of the `searchState` object](https://community.algolia.com/react-instantsearch/guide/Search_state.html) to better understand how to use it. To reset the `page` you have to set the value to 1 not 0. Here is [an example](https://codesandbox.io/s/jx769o809) tha

[2018-10-18 15:00] gburgett commented on #577
Hi @Haroenv , I'm not sure which of them were internals.  I've definitely reworked the definitions since getting feedback from the DefinitelyTyped folks, are they still exporting internal functions?

[2018-10-18 16:28] Haroenv commented on #577
I didn’t mean that in a way that they shouldn’t be documented, but e.g. createInstantSearch usually isn’t necessary to use, unless you’re targeting something which isn’t web, and isn’t react native either.

In definitely typed they seem to want everything documented, so that was a good call from you to make it complete!

[2018-10-19 08:10] tstehle commented on #1677
Thanks for the example, I copied the code and it works.

[2018-10-19 08:10] #1677 closed

[2018-10-19 15:54] taylorpreston opened #1679 "Connecting UI Buttons"
**Feature**

I'm working on a react app where we use the UI pattern posted below in a search area that is not connected to Algolia.

We want to recreate this pattern ⬇️ in our algolia interface.
![image 2018-10-19 at 9 53 43 am](https://user-images.githubusercontent.com/14971676/47227135-bd03f900-d387-11e8-9400-e8d0ec4c45e8.png)

Currently these are the connected components we have on the page
- H

[2018-10-19 17:23] tkrugg commented on #1679
Hi @taylorpreston. Thank you for reaching out.
What you're describing looks a lot like the [CurrentRefinements](https://community.algolia.com/react-instantsearch/widgets/CurrentRefinements.html).

Here is an example using it https://community.algolia.com/react-instantsearch/storybook/?selectedKind=CurrentRefinements&selectedStory=with%20RefinementList&full=0&addons=1&stories=1&panelRight=1&addonPa

[2018-10-20 13:35] catamphetamine commented on #1668
I'm putting the "Show Past" / "Hide Past" widget connector code here for anyone searching for it.
It's not guaranteed to be bug-free.
Seems to work.

[code]

[2018-10-25 15:46] taylorpreston commented on #1679
Thanks, @tkrugg! I am using the ```connectCurrentRefinements``` which is working as expected, but now I am running into a different issue.

The items that are returned are hierarchical so, for example:

I filter on a category **Human** and then the subcategory **Child**.
The items prop that is returned has 1 item in it with the **Human > Child***.

What I am attempting to do is split that single c

[2018-10-26 07:10] Haroenv commented on #1679
@taylorpreston, could you give a piece of code which reproduces this error? It will be significantly easier to research what's going on and what you are trying to do like that!

http://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch

that's a template you can use!

[2018-10-27 08:17] pantharshit00 opened #1698 "Can't SSR tagFilters in Next.js"
**Do you want to request a *feature* or report a *bug*?**
I guess it is a question

I want to ssr using next js and sort items by tagFilters

my `getInitialProps` looks like this
[code]

Now I am unable to find an option to pass a suitable option to initial search state that can provide me filtered Results. I have tried `tagRefinment`, `configure.tagFilters` nothing works.

For now, I am passing i

[2018-10-27 08:46] pantharshit00 commented on #1698
For now, I solved it by passing tagFilters prop by adding tagFilters to the second parameter to the findResultState as it takes the component props and passes it to Configure, but is there any way to do it from the searchState. I will close the issue for now

[2018-10-27 08:46] #1698 closed

[2018-10-31 18:31] tkrugg commented on #1679
Hi @taylorpreston.
2 different points:

1. you're trying to use the currentRefinementList build something that looks like breadcrumbs? This is not why I understood from your original post. Can you just confirm you want your hierarchy to translate into UI button?

2. I see one minor mistake. [refine expects to be passed the item.value ](https://community.algolia.com/react-instantsearch/connectors/c

[2018-11-01 09:59] Haroenv commented on #1679
As said by @tkrugg, if you're actually trying to make a breadcrumb, we also have connectBreadcrumb, which might be closer to what you want to achieve, since it won't have the other refinements and will already be split as you expected

[2018-11-05 12:34] VivekNayyar commented on #164
This problem is still happening. Even after updating to `"react-instantsearch": "^5.3.2"`.
Any one with a solution for this?

[2018-11-05 12:35] vivek12345 commented on #164
This problem is still happening. Even after updating to "react-instantsearch": "^5.3.2".
Any one with a solution for this?

[2018-11-12 08:44] samouss commented on #164
@vivek12345 could you provide us an example of the issue? It will help a lot to better understand the context. Here is [a template](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch) to avoid the boilerplate part. Thanks!

[2018-11-12 13:21] bsiddiqui opened #1737 "Map zooms out every time it's moved"
Using the latest `react-instantsearch` and have an odd behavior where the map zooms out every time the map is moved.

Here's a video of the bug:
https://youtu.be/emmX_4k14vI

My component is pretty bare bones:
[code]

[2018-11-12 15:52] bsiddiqui commented on #1737
@samouss yeah it was an issue with float dimensions. Thanks.

[2018-11-14 10:24] denkristoffer opened #1743 "React.StrictMode compatibility"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

With concurrent React being worked on, I figured it'd be a good idea to officially request that React InstantSearch becomes [StrictMode compatible](https://reactjs.org/docs/strict-mode.html) 🙂

[2018-11-14 10:37] Haroenv commented on #1743
Thanks for the official feature request. We are aware of the issue, but we have not done this yet, since it requires **major** changes in the way we make the library. The main problem is that we _rely_ on all the deprecated life cycles, and since we didn't find a proper way to do these changes in a non-breaking way (we can try out [react-lifecycles-compat](https://github.com/reactjs/react-lifecycl

[2018-11-21 11:11] mufudzimasaire opened #1755 "RatingMenu: Allow rating multi-selection"
The rating menu currently does not support multi-selection.

It would be nice to have this feature, as the workarounds available are not great:

**Option 1:**  Using the `RefinementList#transformItems` function, you can bastardise the label into displaying the  stars by passing a list of elements.

![ratings](https://user-images.githubusercontent.com/4486874/48837621-b8af6f00-ed7d-11e8-937b-fca96f

[2018-11-21 13:15] Haroenv commented on #1755
What you can do is make a complete custom refinement list with `connectRefinmentList`, it wouldn't really make sense to try to shoehorn this behaviour into the regular rating component; since it will act as "x & up", so multiple selections aren't possible.

a connector is a higher order component, giving access to `items`, and `refine` which you can use to render the list and as click handler for

[2018-11-21 16:48] mufudzimasaire commented on #1755
Many thanks for the prompt reply @Haroenv, will look into it 👍

[2018-11-26 08:16] webmobiles commented on #1272
@rtma please can you show your full code inside  for renderItem={({ item }) => { ... ?

[2018-11-27 01:53] leonardo2204 opened #1767 "Unhandled JS Exception: TypeError: searchParameters.setQueryParameters is not a function"
**Do you want to request a *feature* or report a *bug*?**
Bug

[https://github.com/leonardo2204/confstech-mobile.git](https://github.com/leonardo2204/confstech-mobile.git)
Please, checkout the **filter** branch

**Bug: What is the current behavior?**

After clicking on the country and selecting one (facet) it crashes.

**Bug: What is the expected behavior?**

Filter stuff :D

The stacktrace I get:

[2018-11-27 12:44] Haroenv commented on #1767
I haven't dug deep yet, but what I think is happening, is that you are wrapping the searchParameters object in a different type than the original type, which is part of the JS helper. With the `merge` call you're turning it into an Immutable.js "record" (I think), which breaks the interoperability. Can you try using the plain objects, or unwrapping the immutable records before returning it?

[2018-11-27 13:13] leonardo2204 commented on #1767
Hmm I see... Using it without Immutable works, but what is bugging me is that I have 2 filters, and the first one is using the very same code snippet and it works... What may that be?

Thanks for the explanation and quick reply!

[2018-11-27 13:58] Haroenv commented on #1767
I haven't had the time to dig deeply in your code, but could you try to replicate it minimally on a codesandbox? We have a template here: https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch where you can add the immutableJS part so we can find a way to unwrap it consistently in all cases

[2018-11-27 15:20] leonardo2204 commented on #1767
I'm afraid that won't be possible, because the code is React (not native) and I'd need 2 filters in order to [try to] reproduce the issue :( Any other idea?

Thanks again

[2018-11-27 16:13] Haroenv commented on #1767
React Native and regular React should not be any different for the use case you're describing, a minimal repro on GitHub without all the other things in your repo would be useful too I guess

[2018-11-27 19:33] nickbae91 opened #1770 "Docs: connectStateResults not from 'react-instantsearch-dom'"
Hi,

I wanted to report an error(?) in your docs, where it describes the **connectStateResults** to be from 'react-instantsearch/dom':

`import { InstantSearch, SearchBox, Hits, connectStateResults } from 'react-instantsearch-dom';`

I tried importing the connector using the above and it didn't work (was getting an "Object(...) is not a function" error), so I tried importing from 'react-instantsea

[2018-11-28 08:02] samouss commented on #1770
The above should work, which version of the library are you using? We recently update the shape of the package. You have more information about that inside [the documentation](https://community.algolia.com/react-instantsearch/guide/Migration_guide_package_import.html). Here is [an example](https://codesandbox.io/s/8zpz3nzm28) that import the connector from the `react-instantsearch-dom` package.

[2018-11-28 18:12] samouss commented on #1531
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2018-11-28 18:12] #1531 closed

[2018-11-28 18:12] samouss commented on #1511
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2018-11-28 18:12] #1511 closed

[2018-11-29 20:08] rtman opened #1776 "Refinements applied in modal are cleared on close, virtual widget doesn't appear to be working?"
Hi,

So for my web app I want to put our refinements in a modal. I've followed the guide for doing this and still the refinements applied in the modal are cleared when the modal is closed. Maybe I've made a mistake or am using the Virtual Widget incorrectly??

I also notice a significant slowdown when passing searchstate and onSearchStateChanged between the two InstantSearch instances. If I commen

[2018-11-30 03:52] petermiles commented on #1111
Regarding the `ignoreEmptyQuery`, how would it work if I type out a word and backspace to an empty string?

[2018-11-30 13:44] samouss commented on #1776
The state of the `RefinementList` inside the modal is not persisted because the `onSearchStateChange` callback only apply the current state. Inside our [React Native example](https://github.com/algolia/react-instantsearch/blob/3fc8fb977701db3df8408789bd6dabecda7290db/examples/react-native/src/Home.js#L126-L128) we do merge the previous and the current state. Here is [your example](https://codesand

[2018-11-30 14:06] puckey commented on #1111
@petermiles @samouss With `ignoreEmptyQuery`, when you backspace to empty string, I would expect to see no results.

[2018-11-30 17:37] rtman commented on #1776
Ah ok, I wasn't following another guide from the react-instantsearch docs on your site which doesn't have `prevState` merging. Can you guys update the [docs](https://community.algolia.com/react-instantsearch/Getting_started_React_native.html#putting-our-filters-in-a-modal) ?

[2018-11-30 17:57] samouss commented on #1776
We are in the process of re-writing the full documentation, this issue will be fixed at that time. Thanks for spotting the issue though!

[2018-11-30 17:57] #1776 closed

[2018-12-04 20:53] andrewl913 opened #1786 "Bug SSR findResultsState searchState is not accounted for"
**Bug: What is the current behavior?**

When using ssr a call to  `  await findResultsState(Component, {searchState} )`
searchState is not evaluated

**Bug: What is the expected behavior?**

searchState should be evaluated

**Bug: What browsers are impacted? Which versions?**

all

**Feature: What is your use case for such a feature?**
     SSR in a nextjs application using a menu facet

**What is

[2018-12-05 14:36] samouss commented on #1786
I didn't manage to reproduce the issue with [the Next example](https://github.com/algolia/react-instantsearch/tree/master/examples/next) that we have on the project. You can play with the UI once the URL is sync your can reload the page. The page should be in the exact same state, it means that the `searchState` is correctly provided to the function. Could you provide us an example of the issue? I

[2018-12-06 00:22] andrewl913 commented on #1786
Thank you for the quick response!

I took a deeper look into the issue, it seems to be a problem with using the Reacts 16.3 context api.

If the algolia search component wraps around the context provider and the context consumer uses the instant search components this then causes server render searchState to be evaluated before the context consumer renders.

 I noticed the example demo is still us

[2018-12-06 07:19] webmobiles opened #1789 "question: manual connection in react"
question:

actually i'm ussing on my SPA React this code:

[code]
is this correct? or there are another library for react? i need manual connection from react to work with custome components with and without connects...

thanks

[2018-12-06 07:50] samouss commented on #1789
I'm not sure I understand the question. Could you provide a bit more context about what you are trying to do? It will help to better understand the issue.

[2018-12-06 07:54] webmobiles commented on #1789
i need to pass the variable index, like I do on api server (using a simple connect to manage index), but in this case for the front and, and then use the index like parameter to pass it to the customizes component , that works with different index like this:

[code]

I'm not sure if 'algoliasearch/lite' is the right library or react-instantsearch provide a way to connect to index (of course withou

[2018-12-08 04:58] champcmr opened #1792 "Cannot Add a child that doesn't have a YogaNode to a parent with out a measure function"
![1544243998847](https://user-images.githubusercontent.com/27066281/49682163-33de8800-fad5-11e8-9273-3e2e8622545c.jpg)

[2018-12-08 10:20] Haroenv commented on #1792
Would it be possible to make a minimal reproduction for this issue?

[2018-12-09 11:03] renovate[bot] opened #1794 "Dependency deprecation warning: material-ui (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v0.20.2) of dependency `material-ui` has the following deprecation notice:

`You can now upgrade to @material-ui/core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the actions necessary to

[2018-12-09 11:03] renovate[bot] opened #1795 "Dependency deprecation warning: material-ui (nvm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v0.20.2) of dependency `material-ui` has the following deprecation notice:

`You can now upgrade to @material-ui/core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the actions necessary to

[2018-12-09 15:59] #1794 closed

[2018-12-09 15:59] #1795 closed

[2018-12-09 16:01] renovate[bot] opened #1798 "Dependency deprecation warning: material-ui (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v0.20.2) of dependency `material-ui` has the following deprecation notice:

`You can now upgrade to @material-ui/core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the actions necessary to r

[2018-12-09 17:13] andrewl913 commented on #1786
Awesome!, I found some time to fork and cut a feature branch here. https://github.com/andrewl913/react-instantsearch/tree/feature/reproduce-context-issue. The RefinementList component inside the consumer seems to be the cause.

[2018-12-10 09:11] champcmr commented on #1792
@Haroenv there was an issue in my code which I fixed it. Thanks :)

[2018-12-10 09:11] #1792 closed

[2018-12-10 15:06] samouss commented on #1786
Thanks a lot for the reproduction it helps a lot! I find out that the issue was not related to the Context API or even React InstantSearch. It's the usage of the SSR that is not correct. I've create a PR on your fork that should fix the issues. I added some explanations on the PR, don't hesitate to ask any questions on the PR thread.

[2018-12-14 12:08] #1798 closed

[2018-12-16 14:12] renovate[bot] opened #1810 "Dependency deprecation warning: material-ui (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v0.20.2) of dependency `material-ui` has the following deprecation notice:

`You can now upgrade to @material-ui/core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Affected package file(s): `docgen/pack

[2018-12-17 18:16] #1810 closed

[2018-12-17 18:17] samouss commented on #1786
The PR opened on the project should have fix the issue. If it's not the case feel free to open a new on on the project.

[2018-12-17 18:17] #1786 closed

[2018-12-17 18:18] samouss commented on #1770
Like I said the import should work from `react-instantsearch-dom`. In case the issue persist please open a new issue with a live example, it will help us to better understand where the problem come from. Thanks!

[2018-12-17 18:18] #1770 closed

[2018-12-17 18:19] #1755 closed

[2018-12-17 18:21] samouss commented on #1679
It's been a while since the last comment, I'll close the issue. Don't hesitate to create a new one if you still have an issue with the widget.

[2018-12-17 18:21] #1679 closed

[2018-12-21 12:03] samouss commented on #1653
We now have [the full list of accepted props](https://www.algolia.com/doc/api-reference/widgets/configure/react/) inside the new documentation.

[2018-12-21 12:03] #1653 closed

[2018-12-21 12:05] samouss commented on #848
This page doesn't exist anymore on the new documentation website.

[2018-12-21 12:05] #848 closed

[2018-12-21 12:09] samouss commented on #572
The `algoliaClient` prop is now deprecated in favor of [`searchClient`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/#widget-param-searchclient). To know more about the signature of the prop you can take a look at [the guide dedicated to back-end search](https://www.algolia.com/doc/guides/building-search-ui/going-further/backend-search/in-depth/backend-instantsearch/react/

[2018-12-21 12:09] #572 closed

[2018-12-21 12:11] samouss commented on #222
We now have code samples for every widget inside the documentation. Here is an example for the [`SearchBox`](https://www.algolia.com/doc/api-reference/widgets/searchbox/react/#connector).

[2018-12-21 12:11] #222 closed

[2018-12-21 12:14] Haroenv commented on #1420
An example with `filters` should probably be put in https://www.algolia.com/doc/api-reference/widgets/configure/react/

[2018-12-21 12:16] samouss commented on #1420
Closed with https://github.com/algolia/doc/pull/2390.

[2018-12-21 12:16] #1420 closed

[2018-12-21 12:20] Haroenv commented on #1072
the new docs does not have a page for this yet either.

[2018-12-21 12:33] Haroenv commented on #88
You can run each example in code sandbox, e.g. https://github.com/algolia/react-instantsearch/tree/master/examples/react-router becomes https://codesandbox.io/s/github/algolia/react-instantsearch/tree/master/examples/react-router

[2018-12-21 12:33] #88 closed

[2018-12-21 12:40] Haroenv commented on #867
This is still reproducible with NumericMenu; the replacement of MultiRanges: https://codesandbox.io/s/9oxqnnrkno

[2018-12-21 12:40] redox commented on #134
Indeed, this is definitely a step forward. But it's assuming that your backend is JS-based and that you can read an `index.html` file to statically write the `SERVER_DATA`.

I think it's worth still thinking about a way to load the key from an XHR call, probably a simple version than @Haroenv suggestion; like:

[code]

[2018-12-21 12:41] Haroenv commented on #1111
This is a guide we have written for Vue InstantSearch, which also works for React InstantSearch on the topic: https://v2--vue-instantsearch.netlify.com/advanced/conditional-requests.html

[2018-12-21 12:43] Haroenv commented on #134
It's actually mentioned in that guide to do it with a network request; but left as "exercise for the reader". To anyone who bumps into this issue, please comment if what you found in the guide was not sufficient.

[2018-12-21 12:46] Haroenv commented on #107
In the new documentation; every widget has a section "customize the UI", which has an example usage of the connector, here's e.g. `connectMenu` being used: https://www.algolia.com/doc/api-reference/widgets/menu/react/#connector

[2018-12-21 12:46] #107 closed

[2018-12-21 14:33] #516 closed

[2018-12-21 14:34] samouss commented on #445
We don't have those pages inside [the new documentation website](https://www.algolia.com/doc/).

[2018-12-21 14:34] #445 closed

[2018-12-21 14:38] samouss commented on #21
We now have [a dedicated section](https://www.algolia.com/doc/guides/building-search-ui/resources/ui-and-ux-patterns/in-depth/autocomplete/react/) about that in the new documentation.

[2018-12-21 14:38] #21 closed

[2018-12-21 14:47] samouss commented on #134
The approach we took inside the guide is indeed implemented with JavaScript, but the concepts are applicable to any languages. We chose to explain this approach because it's a bit more complex to setup than the XHR version. The advantage is that we don't "pay" the cost of an extra XHR before we start render the Algolia results. Like @Haroenv said, we can add a dedicated guide about the XHR approac

[2018-12-21 15:49] redox commented on #134
That's correct but from my own experience - except when I was doing PHP3 15y ago - I never had an `index.html` file :)

[2019-01-07 14:22] aaronbushnell opened #1865 "Buttons should have a type "button""
It appears that in the latest version of React InstantSearch (5.3.2) the "Show More" button when used in a `<RefinementList />` does not have `type="button"` on the button itself. Some browsers interpret this as a submit button and will attempt to submit a parent `<form>` element if clicked. Can `type="button"` be added so that clicking this only interacts with the `<RefinementList />` options?

[2019-01-08 17:33] samouss commented on #1865
Yes indeed none of the buttons have a type inside the codebase. When omitted the default type is [`submit`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Button#attr-type), it means that it sends the parent form (if present) on click. Not sure which default behaviour we should adopt for this.

In the meantime you have to override the DOM output of the widget with the connectors API.

[2019-01-09 04:37] zenorocha opened #1873 "connectScrollTo doesn't seem to work on React Native"
**Describe the bug 🐛**

I tried to use `connectScrollTo` as [stated on the documentation](https://community.algolia.com/react-instantsearch/connectors/connectScrollTo.html) but I couldn't find a way for it to work with InfiniteHits.

My goal is to be able to scroll up after a new query is sent. Can you help?

Thanks!

**Environment:**

 - OS: iOS and Android
 - Version 5.3.2

[2019-01-09 16:32] aaronbushnell commented on #1865
Thanks, @samouss. It seems like using

[code]

Might be a better option so it’s still functional but doesn’t interact with any other elements outside the AIS root. Is that a sensible default?

[2019-01-09 20:10] zenorocha commented on #1873
It worked, thanks for sending out this other doc page.

By the way, keep up with the good work, this component is neat!

[2019-01-09 20:10] #1873 closed

[2019-01-10 11:52] samouss commented on #1865
Yes it sounds a sensible default. It's just that users might rely on the default behaviour that we have now. It means that a change would break their application. Those kind of issues can be hard to detect. Plus if we choose to change it, we have to do it not only on React but also on the Vanilla, Vue and Angular version. That's why we have to discuss with the team about the change.

[2019-01-10 12:00] aaronbushnell commented on #1865
That makes sense! Appreciate the info.

[2019-01-15 18:23] catamphetamine opened #1910 "Invalid value for "maxFacetHits" parameter, expected integer between 1 and 100"
Today our search widget stopped working when filtering inside "multi-select lists" by "facet values": when typing something in the "Filter facet values" text input.

The error is:

We're using version 4.x of the widget.

I can see you added `maxFacetHits` in version 5.x.
Version 4.x doesn't seem to have any `maxFacetHits` parameter setting.
In DevTool's Network tab I can see it sends `maxFacetHits

[2019-01-15 18:55] samouss commented on #1910
Yes indeed it’s fixed in the version 5. We don’t support the older versions anymore. The change won’t be backported to the version 4. The solution for older versions would be to use the connector and patch the values sent to `searchForFacetValues`.

[2019-01-16 08:42] #1910 closed

[2019-01-18 23:20] Haroenv commented on #285
It’s done to avoid being too opinionated IIRC. Is it usual for other libraries in react native to set a size by default?

[2019-01-19 02:39] GioLogist commented on #285
I'll try and find examples, but I imagine that in situations where it acts as a wrapper, `flex: 1` would be default - based on how RN handles styling.

[2019-01-28 12:54] FlorentinGremy opened #1960 "Using upper-case property on a q-search duplicate the text input"
The upper-case property duplicate the text input in q-search and q-input components.
The bug appear on a mobile app using cordova.

Steps to reproduce the behavior:

1. Create a q-search and set the propertie upper-case
mine looks like this: <q-search v-model="recherche" upper-case clearable placeholder="Rechercher un éleveur"/>
2. Build for cordova on android plateform
3. Enter some text in the q

[2019-01-30 21:19] josephkandi opened #1967 "Duplicate refinements in CurrentRefinements with multiple times same widget"
**Describe the bug 🐛**

On my page i have two `MenuSelect` components in different locations on the page. When i click on a selection on the `MenuSelect`, i do get duplicate labels in the `CurrentRefinements`

**To Reproduce 🔍**

Steps to reproduce the behavior:
Add two `MenuSelect` components on the page with a `CurrentRefinement` component as well

A live example helps a lot! We have a simple on

[2019-02-04 11:44] samouss commented on #1967
Yes it's the expected behaviour with our current API. You can get rid of the duplicate refinements with [`transformItems`](https://www.algolia.com/doc/api-reference/widgets/current-refinements/react/#widget-param-transformitems) on `CurrentRefinements`. Here is [an example](https://codesandbox.io/s/pj300jpr2q) that show how to implement it.

[2019-02-04 11:58] josephkandi commented on #1967
Ok thanks

[2019-02-04 11:58] #1967 closed

[2019-02-04 13:37] sallar opened #1982 "SSR with searchState ignored"
**Describe the bug 🐛**

Hi,

Thanks for your great module :)
I do have a problem however with how the SSR behaves. I have tried reading all of the issues submitted and guides, examples etc. But I can't figure this out.
It's a bit hard to show what I mean but I managed to reproduce the issue in a fresh CodeSandbox so you can look for yourself.

but these are the main issues:

- `searchState` has no

[2019-02-04 15:21] danilowoz opened #1983 "Question: Is there a way to know is it has a selected menu?"
I don't know if it is a **feature request** or just a **question**, so:
I want to make a different layout state if the user selects a menu, but I can't find a way to know if the menu is selected or not. I would like to keep it in an inner state in my search component.

Is there any `onChange` or `onSelect` to handle it?

Thanks

[2019-02-04 15:40] samouss commented on #1982
The widgets have to be mounted on the page to be taken into account whether or not the search state is filled. You can imagine them like search parameters for the request. It means that you'll have to use a `VirtualMenu` in any case to apply the refinement on `productType`.

In the example the component provided to `findResultsState` is `Layout`. But this component does not contain any widgets bec

[2019-02-04 15:43] sallar commented on #1982
@samouss Thanks! Oh I didn't know I could recursively pass the `MyApp` to `findResultsState`. I'll try that locally and will close this if it's working. However it would be so nice if there was a more concrete and up-to-date documentation.

[2019-02-04 15:47] samouss commented on #1982
Yes, we'll simplify a bit the SSR API in the next months. We'll take this opportunity to revamp the doc on the SSR. Thanks for the feedback!

[2019-02-04 15:59] sallar commented on #1982
@samouss I just applied the changes to my app and it works beautifully :) Thank you very much. before closing this issue however, one last question: Is there a chance to make Algolia NOT send a new network request on client side since the resultsState is already populated on first load?

[2019-02-04 16:48] samouss commented on #1982
It's not currently possible, but you're completely right it's possible to avoid it. We'll integrate this change in the next iteration of the SSR API.

[2019-02-04 16:50] sallar commented on #1982
Thank you very much :) I’ll be waiting for those features ✋️

[2019-02-04 16:53] samouss commented on #1983
You can use [`connectCurrentRefinement`](https://www.algolia.com/doc/api-reference/widgets/current-refinements/react/?language=vue#connector) to detect where or not a refinement is applied.

[2019-02-04 17:46] danilowoz commented on #1983
Works fine, thanks

[2019-02-04 17:46] #1983 closed

[2019-02-05 09:58] samouss opened #1987 "TEST"
**Describe the bug 🐛**

A clear and concise description of what the bug is.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

A live example helps a lot! We have a simple online template for you to use for your explanations:

**Expected behavior 💭**

A clear and concise description of what you expected to happen.

**Scre

[2019-02-05 09:58] #1987 closed

[2019-02-05 11:46] samouss commented on #1960
Hi, did you solve your issue? In case you didn't could you provide us a bit more information about the issue? Which flavour of InstantSearch are you using? A live example always help! We have [templates](https://github.com/algolia/create-instantsearch-app#previews) to avoid the boilerplate part.

[2019-02-12 00:27] biletron opened #2017 "Searchbox placeholder text doesn't change"
https://codesandbox.io/s/jzz66xrok9

[2019-02-12 08:33] Haroenv commented on #2017
Placeholder text is configured via translations:

[code]

https://codesandbox.io/s/4xqxx3mp1x

[2019-02-12 08:33] #2017 closed

[2019-02-12 10:29] biletron commented on #2017
Thanks for the reply. Would be nice if you also could update the sample sandbox code in the description.

[2019-02-12 11:47] Haroenv commented on #2017
Which sample code are you talking about? Would definitely change that!

[2019-02-12 11:53] biletron commented on #2017
https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch

Playground code in Readme section.

[2019-02-12 12:15] Haroenv commented on #2017
Yes, I updated it here: https://github.com/algolia/create-instantsearch-app/pull/361

[2019-02-15 06:10] liumin1128 opened #2031 "Uncaught TypeError: Cannot use 'in' operator to search for 'default' in undefined"
![image](https://user-images.githubusercontent.com/12379461/52837843-6f2bb180-312b-11e9-882a-b1b882dc9362.png)

[2019-02-15 06:20] liumin1128 commented on #2031
![image](https://user-images.githubusercontent.com/12379461/52838214-dc8c1200-312c-11e9-8db9-c37dcc02c288.png)

[2019-02-15 06:21] liumin1128 commented on #2031
![image](https://user-images.githubusercontent.com/12379461/52838259-f9c0e080-312c-11e9-9ff5-8d04404aa1b5.png)

[2019-02-15 07:52] samouss commented on #2031
I didn't manage to reproduce the issue. Could you provide a working example of your issue? It will help a lot to better understand the problem. You can create one from the [React template](https://codesandbox.io/s/new) on CodeSandbox.

[2019-02-15 17:08] gzzo opened #2033 "currentRefinements connector does not provide query"
The [documentation](https://community.algolia.com/react-instantsearch/connectors/connectCurrentRefinements.html) stats that currentRefinements provides
 a `query` prop.

currentRefinements [does not](https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch-core/src/connectors/connectCurrentRefinements.js#L52) provide that prop.

`query` is not listed in the `items` p

[2019-02-15 17:19] Haroenv commented on #2033
You need to add `clearsQuery={true}` to the props for it to show up.

[2019-02-15 17:24] gzzo commented on #2033
@Haroenv that added two copies of the query refinement to the `items` prop.  It still doesn't pass a `query` prop.

[2019-02-15 17:33] samouss commented on #2033
This documentation website is not up to date anymore. The new documentation website is available on [algolia.com/doc](https://www.algolia.com/doc/api-reference/widgets/current-refinements/react/?language=react#connector). Indeed there is no `query` prop provided by the connector. The `query` is part of the provided `items`.

[2019-02-15 17:33] #2033 closed

[2019-02-19 12:04] samouss opened #2044 "TEST"
This is the content of the test.

With a new line to see how it renders in HelpScout.

[code]

<br />

<script>console.log('Hello from the script element')</script>

[2019-02-19 12:05] #2044 closed

[2019-02-21 16:23] proudlygeek opened #2077 "Configure on facets appending values"
**Describe the bug 🐛**

Declaring `<Configure facets="*" />` seems to not be taken into consideration at query time; more specifically, the value sent at query time is `*facet1,facet2...facetN` rather than just `*`.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Add a `<Configure facets="*" />` tag
2. Send any query
3. Check the network tab for the actual query (see screenshot)

Code Sa

[2019-02-21 16:32] Haroenv commented on #2077
There's two possible solutions for this:

[code]

[code]

https://codesandbox.io/s/omo3qj8q5

[2019-02-21 16:39] samouss commented on #2077
It’s probably more related to the helper no?

[2019-02-22 09:11] Haroenv commented on #2077
You're right, InstantSearch.js has the issue too, so I'll move it https://codesandbox.io/s/0okx84q4z0

[2019-02-25 09:53] ReneF1 commented on #1211
Greetings! @samouss any progress on this issue ? I'm stuck with implementing algolia in my nextjs project because i am relying on redux also.

The problem seems to be this part of the code:

[code]
Invariant Violation: Could not find “store” in either the context or props of “Connect(SearchComponent)”

How can i make the store accessible server side with findResultsState(...) ?

[2019-02-25 11:14] samouss commented on #1211
No progress on this issue at the moment. The problem seems to come from the `SearchComponent` that want to access the Redux `store`. To have access to it the components must be scoped under the Redux `Provider`. The component provided to `findResultsState` must be self-contained. Here the `SearchComponent` is not because the `store` is not accessible. You can [wrap the component](https://github.co

[2019-02-25 11:40] samouss opened #2092 "TEST"
This is the content of the test.

With a new line to see how it renders in HelpScout.

[code]

<br />

<script>console.log('Hello from the script element')</script>

[2019-02-25 11:40] #2092 closed

[2019-02-28 08:57] samouss commented on #1109
You can now use the multi-index widget to target multiple times the same index. You have to use the prop [`indexId`](https://www.algolia.com/doc/api-reference/widgets/index-widget/react/#widget-param-indexid) to uniquely identify your index. Here is [an example](https://react-instantsearch.netlify.com/storybook/?selectedKind=%3CIndex%3E&selectedStory=MultiHits&full=0&addons=1&stories=1&panelRight=

[2019-02-28 08:57] #1109 closed

[2019-03-03 11:54] ivawzh commented on #577
Definitely need more types. Currently, the amount of `any` and the lack of generic type that defines results is really bad.

[2019-03-04 09:15] Haroenv commented on #577
@ivawzh the typings are open source and not maintained by us. Feel free to contribute:

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-instantsearch-core
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-instantsearch-dom

[2019-03-05 10:52] erhankaradeniz commented on #164
What's the status of this? Because it's still happening.
@samouss here is the sandbox with the issue: [Adjusted template](https://codesandbox.io/s/o10o1j0625). if you scroll a bit down on the preview and after that click on a filter, you will see that the scrollTo is triggered.

[2019-03-07 04:11] ivawzh commented on #577
Big disappointment to Algolia's strategy and altitude.

You are asking the paid customers to create and maintain the for-profit products you sell.

Say even if I maintain the types for you, how will they get up-to-date whenever you deliver changes if you don't take the ownership yourself.

This is also ignorant of your competitors' standard. Have a look at https://github.com/DefinitelyTyped/Defini

[2019-03-07 08:44] samouss commented on #577
Thanks for your interest in the definition file of React InstantSearch! Like @Haroenv said those files are not mainly maintained by us for one simple reason: it takes a lot of time to do it manually. We maintain the definition file for the [Algolia JavaScript client](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/algoliasearch/index.d.ts) but not all the InstantSearch flavors

[2019-03-08 12:17] samouss commented on #164
@erhankaradeniz Actually the issue is not tied to the `ScrollTo` widget. With the example even without the widget, the behavior remains the same. I've tested in multiple browsers (on a Mac) and I only have the issue with Chrome. It's linked to how Chrome deals with the `focus` state. It seems that it always keep the currently focused element inside the viewport.

With the `RefinementList` by defau

[2019-03-08 12:25] erhankaradeniz commented on #164
@samouss thanks for the info regarding how the focus works in Chrome as I only tested this in Chrome on OSX and it is exactly as you described. Your example was also very helpful. I'm going to see what I can do with that.

[2019-03-15 09:24] callmephilip opened #2161 "SSR: injecting filter"
**Describe the bug 🐛**

I am unable to inject filters via search state using next SSR example

**To Reproduce 🔍**

1. Use the branch here https://github.com/bakery/react-instantsearch/tree/search-state-filter-inject-ssr
2. `cd examples/next`
3. `yarn install`
4. `npm run dev`
5. navigate to http://localhost:3000/ and see all the products listed (nothing filtered)

**Expected behavior 💭**

I expect

[2019-03-15 10:02] rhodimus commented on #2161
Object assign returns a new object, so you'll need to so something like this and make sure you pass this new object down instead of searchState everywhere:

[code]

You'll then need to pass this searchState into the <Configure /> component
`<Configure {...this.props.searchState.configure} />`

Further explanation here: https://github.com/algolia/react-instantsearch/issues/1982#issuecomment-4602953

[2019-03-15 10:07] callmephilip commented on #2161
@rhodimus `Object.assign` also modifies target object so `searchState` gets updated properly. gonna try your second suggestion

[2019-03-15 10:15] callmephilip commented on #2161
adding `<Configure {...this.props.searchState.configure} />` does a trick on the server side so the original page load arrives with appliances only but it then gets overwritten client side with a new query that pulls all the products again

[2019-03-15 12:29] rhodimus commented on #2161
this is because `searchState` is updated in `componentDidMount()` using the current window query string params, causing a client side update: https://github.com/bakery/react-instantsearch/blob/search-state-filter-inject-ssr/examples/next/pages/index.js#L56

For my purposes, I just removed the  `componentDidMount()`, but you might also want to look at these too:
https://github.com/bakery/react-inst

[2019-03-15 15:27] callmephilip commented on #2161
@rhodimus good point! let me dig a bit deeper

[2019-03-15 18:03] StanleySathler opened #2165 "Pass custom className to InstantSearch to allow customizing it"
First of all, thank you for all this awesome effort, guys. We're loving to deal with Algolia and all its features.

**Is your feature request related to a problem? Please describe 🙏**

It is a bit frustrating that we can not wrap an `InstantSearch` into a Styled Component instance or even pass a custom class name to it.

**Describe the solution you'd like 🤔**

I'd like to be able to pass a custom

[2019-03-15 20:17] StanleySathler commented on #2165
Guys, it seems that I can accomplish my goal by using `InstantSearch`'s `root` property.

[code]

For future reference (for someone else facing the same issue), you can find [more info here.](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/?language=react#widget-param-root)

[2019-03-15 20:35] samouss commented on #2165
Yes it's definitely the way to go! Glad to see that you've solve your issue!

[2019-03-15 20:35] #2165 closed

[2019-03-19 11:04] samouss commented on #2161
@callmephilip did you manage to fix your issue?

[2019-03-19 11:28] goran-paunovic commented on #1111
Replace line

with

if you use latest version of algolia client in the comment https://github.com/algolia/react-instantsearch/issues/1111#issuecomment-414239919

[2019-03-19 11:50] Haroenv commented on #1111
updated, thanks for catching @goran-paunovic

[2019-03-19 14:04] callmephilip commented on #2161
@samouss i did, yes. thanks for your help @rhodimus

[2019-03-19 14:04] #2161 closed

[2019-03-19 15:14] babgyy opened #2191 "SSR - Initial results rendering with"
**Is your feature request related to a problem? Please describe 🙏**

I use React-Instantsearch with a Ruby on Rails backend. I would like to have the initial view rendered server-side for SEO reasons.
I can easily make an Algolia query server-side in ruby, get a JSON payload from the `algoliasearch-rails` gem with the `raw_result` method, however this does not work when given as a `resultsState` p

[2019-03-19 15:44] Haroenv commented on #2191
This seems like a quite hard question to answer directly. Could you make a setup we can try out things in?

What kind of setup do you have to eventually render the react app?

[2019-03-19 15:52] babgyy commented on #2191
I have [`webpacker`](https://github.com/rails/webpacker) (webpack 3 preconfigured for rails common usecases)

React components are rendered with [`react-rails`](https://github.com/reactjs/react-rails). This library consists mainly of ruby helper methods to trigger the mounting of React components on page loads, and to enable Server Side Rendering with [`ExecJS`](https://github.com/rails/execjs).

[2019-03-19 16:34] Haroenv commented on #2191
Since ExecJS doesn't support modules, I'd be surprised if it's possible this way, but interested to see what you have so far

[2019-03-21 17:42] 4l3nc opened #2211 "Multi-index with empty first search"
We are trying to perfom a multi-index search from an empty scenario because we can't prevent search on init. To acomplish this we are not adding the two `<Index />` components until we have a valid query on the search box, you can take a look in this repo:

https://github.com/4l3nc/react-native-instant-search/blob/master/src/Home.js#L93

The problem is that when we add a query, the component is re

[2019-03-22 15:03] babgyy commented on #2191
Here is a demo setup : https://github.com/babgyy/ssr-instantsearch-rails

I documented a bit how to setup and how to make it fail. As soon as I added a facet search, the feeding of React Instantsearch with JSON results from ruby began to fail. Activating SSR just produces the error sooner but fails the same way.

In my understanding, Webpack & Babel handle modules and produce a JS edible by ExecJS

[2019-03-22 15:04] tkrugg commented on #2211
HI there, thanks for reaching out!
One workaround for this issue would be to add an extra check comparing your query to the currentRefinement.
This would effectively wait for the results to be in sync.
This workaround has is been demonstrated here: https://github.com/algolia/react-instantsearch/issues/465#issuecomment-363403278
Let us know if this helps.

[2019-03-27 07:06] MaximeConan opened #2231 "How to configure the <NumericMenu /> ?"
**Describe the bug 🐛**

Good morning, everyone,
I am currently trying to configure the <NumericMenu /> in my application, but without success.

This is my code:

[code]
I have a "calorie" attribute in my record (number, not a string)). But when I look into my components with React devtools I have the following attributes in my props :+1:

[code]
**Environment:**

 - OS:  windows / linux
 - Browser

[2019-03-27 08:35] Haroenv commented on #2231
Is the attribute set up as "attributesForFaceting" in your index? If that didn't solve the issue, can you please make a sandbox that shows the issue? We have a template: http://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch

[2019-03-28 10:30] babgyy commented on #2191
Any update on this ?

[2019-03-28 12:01] Haroenv commented on #2191
Can you show _where_ in that repository the SSR is actually happening?

Note that for `resultsState` to work, you'll need to make `findResultsState` (from SSR) work, or replicate it in the ruby part, which won't be easy at all, since a refinement list for example has multiple requests that are done. For that the algolia JS helper is used.

[2019-03-29 10:48] babgyy commented on #2191
Sure, as stated in the [Argument section](https://github.com/babgyy/ssr-instantsearch-rails#argument), SSR is handled by the `react-rails` gem. As a user of the gem, I "just" pass `{prerendering: true}` as an argument to the `react_component` ruby helper in the view `app/views/welcome/index.html.erb`

For more details on how this is all passed to ExecJS, we would have to drill into the implementat

[2019-03-29 11:43] Haroenv commented on #2191
I recommend using node for server side rendering in general, you'll have a lot less headaches, and will always fit in the "simple path" of server side rendering. You can set up the server for server side rendering separately from your other backend easily.

[2019-03-30 22:35] ArionHardison opened #2242 "Calendar Widget"
To build a calendar widget using react, should I use the rangeConnector and extend a widget or should I create my own.

[2019-04-01 07:29] Haroenv commented on #2242
You should use the range connector if your events only have a single time stamp date, which is the simplest case.

We have an experimental two-attribute (start & end) version here: https://codesandbox.io/s/kwklo3rz63

[2019-04-12 10:50] eyn opened #2315 "Reset page selection on query change"
USING REACT-INSTANTSEARCH.JS

**Do you want to request a *feature* or report a *bug*?**
Feature [maybe bug :)]

**What is the current behavior?**
When searching if I go to page 2/3 then change the query in the searchbox it doesn't reset to page 1 so when you then have less than page x * number_of_items_per_page results you get a blank search result. I've had a few users confused by this.

**If the

[2019-04-12 10:50] #2315 closed

[2019-04-17 09:28] craigcosmo opened #2337 "can not open example in new expo"
I'm ruunning expo latest

When init the exmaples I got this error

![Screen Shot 2019-04-17 at 4 27 23 PM](https://user-images.githubusercontent.com/538657/56277068-d49d1e00-612d-11e9-9eee-d654ef364c94.png)

[2019-04-17 13:29] samouss commented on #2337
Hi, which example you've run exactly? The one inside the [project](https://github.com/algolia/react-instantsearch/tree/master/examples/react-native)? We're in the process to rewrite them because they rely on an outdated version of Expo, here is the [PR](https://github.com/algolia/react-instantsearch/pull/2304) for it. In the meantime you can follow our [Getting Started](https://www.algolia.com/doc

[2019-04-17 13:31] samouss commented on #2211
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-04-17 13:31] #2211 closed

[2019-04-17 13:31] samouss commented on #2231
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-04-17 13:31] #2231 closed

[2019-04-17 13:31] samouss commented on #2242
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-04-17 13:31] #2242 closed

[2019-04-17 13:31] samouss commented on #2031
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-04-17 13:31] #2031 closed

[2019-04-30 14:58] paschalidi opened #2382 "Documentation of upgrade guides from v4 to v5 missing changed classname of `InfiniteHits`"
Hello you al! Thanks for the nice project you offer to the community and for the oportunity you give us all to help you make it better!! 👋 ☮️

**Describe the bug**

When updating from v4 to v5 I realised that a piece of documentation is missing.
In the section regarding the component `InfiniteHits`, the fact that the old class `.ais-InfiniteHits__loadMore` is being changed to `.ais-InfiniteHits-lo

[2019-04-30 15:41] francoischalifour commented on #2382
Hey, thank you for reporting this. A fix is on its way!

[2019-04-30 15:41] #2382 closed

[2019-05-01 04:07] catamphetamine opened #2385 "Where are the "docgen" docs?"
There used to be the docs:
https://github.com/algolia/react-instantsearch/tree/c2dbfe6cdfa89268342fa95ab532063e84f49a57/docgen/src/guide
Where is it now?

[2019-05-01 04:12] catamphetamine commented on #2385
Seems that the docs have been rewritten and moved to the website.
https://www.algolia.com/doc/guides/building-search-ui/widgets/create-your-own-widgets/react/

[2019-05-01 16:14] paschalidi commented on #2382
welcome @francoischalifour can I contribute on this ?

[2019-05-01 17:19] francoischalifour commented on #2382
The new documentation website is unfortunately closed source for now. There's no way for external contributors to edit guides.

[2019-05-02 09:14] tkrugg commented on #2385
Yes! That's a generic guide explaining how to [create your own widgets](https://www.algolia.com/doc/guides/building-search-ui/widgets/create-your-own-widgets/react/).

I don't know what you want to achieve but I should add that in most cases customising the UI of an existing widget is good enough. The API reference of each widget has a `Customize the UI` section with lots of examples. See for exam

[2019-05-02 09:17] catamphetamine commented on #2385
@tkrugg Thanks.

As for why did I read the custom connectors readme: this library doesn't have a conventional "Reset" button. It only has "Clear Filters" one which doesn't reset "Hits Per Page" or "Sort By" widgets.
But we decided to not implement the "Reset" button because "Clear Filters" will be sufficient.

[2019-05-02 09:28] #2385 closed

[2019-05-02 15:14] zzal opened #2389 "Feature request: HierarchicalMenu items with fixed "breadcrumb" value"
Hi there!

I'm using the `transformItems` modifier on a 3-levels deep HierarchicalMenu to ensure the editor's custom sorting of the items is respected.
I'm using a reference array in my transformItems function that looks like this:
[code]

I wish I could use each item's `value` property but it changes overtime (when it or one of its children is selected).
I cannot use the item's `label` since it's

[2019-05-02 16:16] puskuruk opened #2390 "E-commerce demo preview image is broken on the readme.md ."
![Ekran Resmi 2019-05-02 19 14 58](https://user-images.githubusercontent.com/22892227/57090097-ae22d980-6d0e-11e9-8d0b-68b2cce4b7d5.png)

[2019-05-02 17:07] tkrugg commented on #2389
Hi @zzal. Thanks for reaching out.

I'm not sure I understand what you mean here:

Can you elaborate on what situations the value of an item can change?

[2019-05-02 17:19] catamphetamine opened #2393 "URL sync unchecked toggles still present"
As per the guide: https://www.algolia.com/doc/guides/building-search-ui/going-further/routing-urls/react/#overview

We added URL syncing but when toggles are toggled off again they don't disappear from the URL because previously they weren't in the `state` and now they're `false` in the `state`.
Is there an officially recommended way to clear such `false` togglers from the state URL?
A toggle can

[2019-05-02 17:22] catamphetamine commented on #2393
This is not a critical issue or something like that.
It's just an idea of making URLs look cleaner.
Not that any users would actually care though.

[2019-05-02 17:22] #2393 closed

[2019-05-02 17:36] samouss commented on #2393
Hi, we don't advocate for a particular solution in those cases. With React InstantSearch we don't have a built-in API for the URLSync. You have the full control on what is pushed inside the URL. You can definitely omit some of the values before pushing them inside the URL. It's up to you.

[2019-05-02 17:44] #2390 closed

[2019-05-02 18:44] zzal commented on #2389
Yes, of course:

The value of each item in a HierarchicalMenu is used to set the `currentRefinement` of the component. So when you click an item (say for example, `Foo > Bar` in my original post), its value changes so the next time this item is clicked it will be unselected, so the value of the item is set to its parent element (`Foo`).

Look at the example below (should be an animated GIF):
I hav

[2019-05-03 05:12] catamphetamine opened #2396 "`react-hot-loader` and `@connectSearch` results in 100% CPU usage and page freezing"
In our app using `<ScrollTo/>` (which internally uses `@connectScroll()` connector)  frequently results in 100% CPU usage and page freezing when `react-hot-loader` is being used. In production mode there seem to be no issues.

[code]

[2019-05-03 05:13] catamphetamine commented on #2396
I'm closing this for now, but other people may leave their comments in case of similar issues.

[2019-05-03 05:13] #2396 closed

[2019-05-06 07:09] ishitagoel opened #2412 "connectMenu()/ MenuSelect does not show any facets"
I am trying to create a custom menu to filter by a facet but it does not list any facet values.

The facet is on a nested attribute (user.email). It has been configured as "filter only". It works on Algolia dashboard -> Browse -> Add query param -> Advanced search -> Facet filters

But when I try to use this facet as attribute to MenuSelect widget in my ReactJS app, no facets get listed. I have tr

[2019-05-06 08:11] Haroenv commented on #2412
The attribute needs to be set up for regular filter, not `filterOnly` to work as a menu. The reason is that we retrieve the list of the facet counts & possible facets (`items` provided to the component). This isn't possible and will not be returned by the engine if set up as `filterOnly`.

I'm going to close this issue, since there's no workaround except changing your settings. Hope that helps!

[2019-05-06 08:11] #2412 closed

[2019-05-06 08:47] ishitagoel commented on #2412
Thank you! Yes that worked

[2019-05-07 09:14] ajsharp commented on #302
This issue still happens with nested `RefinementList` and `Pagination` components, and any other component that sets `hasCleanup` to true, making it difficult to manage url state. This appears to be the problem: https://github.com/algolia/react-instantsearch/blob/eca186a99fde4e53ad130dfdc58bacb682ec2f41/packages/react-instantsearch-core/src/core/createConnector.js#L203.

[2019-05-09 21:28] gjergjk71 opened #2418 "[Custom Infinite Hits] Unexpected behaviour after refine (show more being clicked)"
**Describe the bug 🐛**
The facetFilter's work correctly when "Show more" is not clicked (http://prntscr.com/nmkwk9)
After show more is clicked, ex. after reaching end aka. all objects http://prntscr.com/nmkwua
Now when I query for a another category (facetFilter) the hits don't get replaced with the new ones.

I tried refresh'ing with setting 'refresh' true then false. ( and a lot of other stuff,

[2019-05-10 08:01] Haroenv commented on #2418
You are using facetFilters in a configure, doing it that way it might:

- get overridden by any other widget using that same attribute
- not reset the page to 0

A more robust way of doing that same should be by using a virtual widget with default refinement:

https://www.algolia.com/doc/guides/building-search-ui/widgets/customize-an-existing-widget/react/#virtual-widgets

[2019-05-10 11:31] cloakedninjas commented on #1743
I don't think anyone would mind if React 17 compatibility was done with a SEMVER major bump

[2019-05-10 12:06] samouss commented on #1743
We're working on a new major version that will be compliant with the strict mode of React. We don't have any ETA but we are already pretty far in our migration. Note that this version won't have any hook implementation. It will only contain changes related to strict mode.

[2019-05-11 18:42] ajsharp commented on #302
@mthuret Do you see this as a bug, or expected behavior? I think there needs to be a way to opt-out of it if it's expected.

[2019-05-13 07:18] ajsharp opened #2429 "Components should not fire searchStateChanged on unmount"
**Describe the bug 🐛**

This issue has been documented in other tickets, notably #302.

Many components and component connectors fire a searchStateChanged event when they unmount, which makes it very difficult to do routing properly. You end up needing a bunch of brittle conditional code in your onSearchStateChanged handler to make sure you're not repeatedly pushing the same url onto the history o

[2019-05-13 07:20] Haroenv commented on #2429
Could you not memoize your routing function so if it still calculates the URL multiple times, but it will only push where necessary?

[2019-05-13 14:56] samouss commented on #302
Hi @ajsharp, it's definitely an expected behaviour. This behaviour is deeply linked to how React InstantSearch is implemented. Basically the widget drive the search which means that once they are mounted or unmounted we have to update the state and trigger a new request.

[2019-05-13 15:04] samouss commented on #2429
I've answer your comment inside the https://github.com/algolia/react-instantsearch/issues/302#issuecomment-491857307 thread. For the example you gave, indeed the callback is called multiple times. This is expected: you have 3 widgets with a cleanup method which means that `onSearchStateChange` is called three times. For this example in particular you don't have to wrap the full application with th

[2019-05-13 16:22] ajsharp commented on #2429
@Haroenv I've tried, but the logic is proving extremely complex and brittle, and I haven't been able to get it to work yet.

@samouss I understand that the library works that way, and that it's expected behavior. My argument is that it shouldn't -- that seems like a bug to me. If the PaginationList component or the CurrentRefinements component are triggering an event that's linked to the url chang

[2019-05-13 16:29] ajsharp commented on #2429
Also, a simple way to allow the user to opt-out of this behavior would be to pass `isUnmounting` in a second argument to the `onSearchStateChanged` function.

[2019-05-14 16:46] ajsharp commented on #2429
For anyone else coming across this issue, the workaround I found was to localize the `InstantSearch` components as close to the components using them as possible. Previously, I had one InstantSearch component that effectively wrapped my app and my react router `Route` components, which I think was causing the unmount behavior. By keeping them inside the routes, I think everything gets unmounted at

[2019-05-15 09:22] gjergjk71 opened #2445 "[Feature Request] Pass extra info to refine."
**Is your feature request related to a problem? Please describe 🙏**

Knowing why refine was called is useful for conditional rendering for choosing between loading spinner or skeleton.

**Describe the solution you'd like 🤔**

Being able to pass extra info to refine, which then can be accessed through connectStateResults.

[2019-05-15 09:27] Haroenv commented on #2445
Could you describe how you want to use this?

You can alias the refine function in your custom widget and e.g. send an event up to the parent which then can do the custom rendering without you needing to read it from the search state

[2019-05-15 11:08] samouss commented on #2429
@ajsharp For the use case with the `SearchBox` inside the header, React provides a built-in primitive for that: [Portal](https://reactjs.org/docs/portals.html). The `context` exposed by the Provider is also provided to the Portal which makes a perfect fit for the use case.

The solution you came up with is the correct approach with our current implementation. The widget driven UI is intuitive for

[2019-05-15 11:08] #2429 closed

[2019-05-15 11:15] #164 closed

[2019-05-15 18:07] tkrugg commented on #2389
Ok I think I understand it. Let me rephrase it to make sure we're on the same page.
You want to have an immutable `.breadcrumb` property on each item to allow sorting in transformItems.

Adding the breadcrumb property should be possible in transformItems too.

[code]

Live example is here: https://codesandbox.io/s/reactinstantsearchapp-hy5by.
Does this help?

[2019-05-16 03:11] JayAndCatchFire commented on #1291
I ran into this problem.  In my use case, my search box was site-wide, and keeping it inside a `<InstantSearch>` context would be weird since the search results have their own page.  Given that injecting the `searchState` prop turns the InstantSearch component into a controlled component, I was confounded that injecting the search state didn't work properly without a `<SearchBox />` component some

[2019-05-16 10:54] cloakedninjas commented on #1370
I think I've stumbled across this too - would you still like a test reproduction?

For anyone that runs into this - I removed 3 needless `render()` calls with the following:

[code]

[2019-05-17 09:03] sptaszek92 opened #2464 "connectInfiniteHits bug"
**Describe the bug 🐛**

I'm having an issue with `connectInfiniteHits` connector.
I've implemented it some time ago and everything worked perfectly. Last days I've noticed that I'm not getting the full response from the connector.  And more specifically - the prop 'hasMore' is returning 'false' when it shouldn't.

**To Reproduce 🔍**

For example:
I have 18 hits. I'm using infinite scroll, 5 items

[2019-05-17 11:19] eunjae-lee commented on #2464
Hello, thanks for reaching us.
Could you share with us a reproducible example?
It will help us find the problem.
You can use [this template](https://codesandbox.io/s/github/algolia/doc-code-samples/tree/master/React+InstantSearch/infinite-scroll) to skip the boilerplate part.
And please tell me which version of react-instantsearch you're using.

[2019-05-17 12:53] sptaszek92 commented on #2464
Hi, I'm using react-instantsearch version 4.5.1.

My infinite scroll component looks like this:
[code]

My InstantSearch component is quite complex:

[code]

where:
[code]

The application is quite complex to share all of the code.

What I noticed that after calling `this.props.refine()` the page number is increased but the new hits are not returned inside the `connectInfiniteHits` connector...

[2019-05-17 14:11] eunjae-lee commented on #2464
Hello, thanks for the code.

However it's hard for us to find out the problem.
As you said the application is complex, could you isolate the related part into a reproducible example?
The link is here: https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/07dc3125f75c68334bc3868faa92ac163ad44030/src/React%20InstantSearch
I notice you are using an old version(`4.5.1`) of React Instanc

[2019-05-21 10:00] sptaszek92 commented on #2464
I'm sorry, but It's really hard to isolate that part of the application.
I've upgraded to the latest version yesterday and now I'm having a different problem with the infinite scroll itself.
Now the problem is that `refine` doesn't return a promise and I don't know when I'll get my new hits response....
When I attach the `refine` function to a button everything works ok. But when I try to do it wi

[2019-05-21 11:46] Haroenv commented on #2464
It doesn't return a promise, since the function itself will be called again, so there's no need to keep track of internal state regarding refinements within a custom widget

[2019-05-22 10:09] frenkelor commented on #2464
Hi, I'm experiencing the same issue within my react native app
I work on that project and everything went smooth until recently.

I'm going to debug the code right now hop to provide more details.

I don't know if this is helping but we have a similar setup on our web platform and everything it working fine the only difference is we are not using `connectInfiniteHits`  we are using  `connectHits`

[2019-05-22 11:24] frenkelor commented on #2464
Ok, I dig deeper into this issue i'm getting `CORS not supported` from the server

[2019-05-23 00:23] alexpchin commented on #2464
It seems that the `refresh` attribute of InstantSearch doesn't reload the hits when when using `connectInfiniteHits`. However, it seems to work with `connectHits`. I've tested with `5.4.0` and also with `5.6.0`.

With `connectInfiniteHits`, you need to fully unmount the InstantSearch component in order to refresh the hits.

[2019-05-23 05:39] frenkelor commented on #2464
I found my problem nothing to do with this bug

[2019-05-23 08:16] alexpchin commented on #2464
Hi, I have just tried to switch to importing 'algoliasearch/reactnative` and manually creating the `searchClient` for the `InstantSearch`. However, this does not solve the problem for me.

[2019-05-24 08:48] klaasman commented on #892
I've ran into the same issue and since a year has passed since the last activity, is there any change there has been made an improvement of the RefimentList api?

[2019-05-24 11:03] klaasman commented on #892
Well, have a look at this solution over here:
https://www.algolia.com/doc/guides/building-search-ui/going-further/native/react/?language=react#create-a-modal

It's written for `react-native`, but works perfectly with `react` too!

[2019-05-27 08:45] vvo commented on #1111
For anyone coming here, the solution now lies in the documentation:
- https://www.algolia.com/doc/guides/building-search-ui/going-further/conditional-requests/react/
- and here's a CodeSandbox example: https://codesandbox.io/s/reactinstantsearchapp-8x4yl

[code]

Thanks @Haroenv for the doc link

[2019-05-28 07:55] vcernomschi opened #2490 "[Question] Do you have high order component to populate unique method to clear all refinements and applied sorting to default values."
Do you have high order component or more elegant way to populate unique method to clear all refinements and applied sorting to default values.

I am asking as in API reference I found out the 2 separate connectors:
- connectSortBy based on https://www.algolia.com/doc/api-reference/widgets/sort-by/react/#connector
- connectRefinementList based on https://www.algolia.com/doc/api-reference/widgets/re

[2019-05-28 09:08] Haroenv commented on #2490
There's a connector `connectCurrentRefinements`, which also allows clearing refinements: https://www.algolia.com/doc/api-reference/widgets/clear-refinements/react/#connector

However it doesn't reset sort, since this is not something that has come up for us before. You'll still need two connectors for that.

[2019-05-29 06:10] vcernomschi commented on #2490
Thanks @Haroenv

[2019-05-29 08:34] #2490 closed

[2019-05-29 11:08] Haroenv commented on #2337
Hi! This issue has been opened without reply for a while. I'll close it now, but feel free to reply to our initial questions, and we'll gladly reopen if the original issue isn't solved yet.

Have a nice day!

[2019-05-29 11:08] #2337 closed

[2019-05-30 21:34] davist11 opened #2494 "jsonp-request Error (too long?)"
**Describe the bug 🐛**

We are running into a weird issue where filtering stops working once you have a number of facets set. It appears like the JSONP request URL being generated is too long (6100 characters)

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. <a href="https://www.hamiltoncompany.com/laboratory-products/hplc-columns/products?menu%5Bfilter_facet_10552%5D=PRP%26dash%3BX100&me

[2019-05-31 09:19] yannickcr commented on #2494
JSONP is used as a fallback when a regular XMLHttpRequest cannot be done or if CORS is not supported (on very old browsers for example) and has some limitations compared to regular XMLHttpRequests (like URL size limit).

But in your case even modern browsers are using JSONP, which is not normal.

Seems that [`algoliasearch-client-javascript` is unable to find XMLHttpRequest on the global object](h

[2019-05-31 17:56] #1111 closed

[2019-05-31 18:51] davist11 commented on #2494
Thanks for that! That led us to tracking down the issue. We actually had some code in `global/index.js` and the module wasn't being resolved correctly.

[2019-05-31 18:51] #2494 closed

[2019-06-13 13:53] samouss commented on #2464
@frenkelor Glad to see that you've solved your issue!

@sptaszek92 Did you manage to fix the issue? If not I know that a reproduction might be complicated to build but it's way easier for us to understand the context behind the issue. We provide a template to avoid you the boilerplate part. You can find it on [CodeSandbox](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templ

[2019-06-14 11:59] sptaszek92 commented on #2464
@samouss
I've upgraded react-instantsearch to latest version and replaced 'react-infinite-scroller' lib with my own infinite scroll logic. 'react-infinite-scroller' lib had problems with the 'refine' function.
It seems to work now

[2019-06-14 12:03] samouss commented on #2464
@sptaszek92 Thanks for the update! I'm closing the issue. Feel free to open a new one if you have any other problem.

[2019-06-14 12:03] #2464 closed

[2019-06-20 10:14] avaragado opened #2568 "searchState.hasOwnProperty is not a function due to Object.create(null)"
**Describe the bug 🐛**

I'm using the npm module [`query-string`](https://www.npmjs.com/package/query-string) to parse search terms previously encoded into URLs. The `parse` method this module exposes creates objects using `Object.create(null)`, which means they don't have a prototype.

If I use the `query-string` module to parse an Algolia searchState from the URL, and then pass that searchState

[2019-06-20 13:29] samouss commented on #2568
Thanks a lot for the issue! Until we fix the issue inside the codebase, a quick fix it to force the return value of the [`query-string`](https://www.npmjs.com/package/query-string) package to be an object with prototype. Here is an example of a possible solution:

[code]

[2019-06-20 13:30] samouss commented on #2445
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-06-20 13:30] #2445 closed

[2019-06-20 13:30] samouss commented on #2418
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-06-20 13:30] #2418 closed

[2019-06-20 13:30] samouss commented on #2389
I'm closing this issue because it's inactive since a while. Feel free to open a new one!

[2019-06-20 13:30] #2389 closed

[2019-06-24 07:49] Haroenv commented on #2568
seems like the behaviour by query-string was on purpose: https://github.com/sindresorhus/query-string/issues/50

[2019-07-01 15:33] catamphetamine opened #2616 "You can't provide max value greater than range."
In our application when refining by a range (price) and then toggling on some other filter the search crashes.

`connectRange.js`:

[code]

[code]

I did some experimenting and seems that it only occurs when the price range itself has some results but the additional toggle filter results in "no results".
But it doesn't always crash: with low price range it doesn't crash but with high price range i

[2019-07-01 17:11] tkrugg commented on #2616
Hi @catamphetamine Is it possible to take a peak at your code, or at least show us how you use the connectRange connector (or a widgets that depends on it).

Here is a boilerplate you can start from: https://codesandbox.io/s/github/algolia/doc-code-samples/tree/master/React%20InstantSearch/getting-started

[2019-07-01 17:33] catamphetamine commented on #2616
@tkrugg Sure, I can give any code.

For example, here's the code for the Toggle widget:

[code]

[2019-07-01 17:36] catamphetamine commented on #2616
And here's the range source code:

[code]

[2019-07-02 09:55] discussion4all commented on #185
what if I specifically want 2 hierarchical menu widgets having the same attributes. can I somehow do that?

[2019-07-02 10:14] Haroenv commented on #185
@discussion4all could you open a new issue with reproducible sandbox? We have a template available for that purpose [here](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch). Having two identical hierarchical menus shouldn't be an issue

[2019-07-02 11:20] discussion4all opened #2620 "Using 2 HierarchicalMenu on same page with same attributes creates an issue"
so I've been wanting to use 2 hierarchicalMenu on the same page and also they have the same attributes but the styling is different.
The thing is I want to display the 2nd menu in place of default hits when the query is empty or when the page is open first time

**when I try to do it this is the error shown in console**
index.js:973 Uncaught (in promise) Error: Cannot declare two hierarchical face

[2019-07-03 12:41] cloakedninjas commented on #355
I've stumbled across this myself. Recently moved from purely client rendering to SSR and was seeing duplicate requests being sent out. With the above option going into `algoliaClient` this has removed the duplicate requests.

However - toggling refinements on/off/on/off results in new requests being made after each interaction, while our client-side only code was smart enough to not send identical

[2019-07-03 13:01] samouss commented on #355
Would you mind create a reproducible example? That would help to understand the issue. We provide template to avoid you the boilerplate part. You can find it on [CodeSandbox](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch).

[2019-07-03 13:19] Haroenv commented on #355
note the prop is now called `searchClient`, but still works the same

[2019-07-03 13:34] eunjae-lee commented on #2620
Hi @discussion4all , thank you for reaching out to us.
If I understand your issue correctly, when there is no search result,
instead of displaying hits, you want to display the hierarchical menu again.

For now, you cannot have more than one HierarchicalMenu with same attribute.
What you can do is, use `connectStateResults` and render whatever you want to with the data.

Here is an example for you

[2019-07-03 13:39] cloakedninjas commented on #355
Do you have a `createInstantSearch` version of the boilerplate ?

[2019-07-03 13:55] Haroenv commented on #2620
IIRC it might also be useful to use the [CurrentRefinements](https://www.algolia.com/doc/api-reference/widgets/current-refinements/react/) component there if that fits what you want to do with `transformItems`

[2019-07-03 13:56] Haroenv commented on #355
Like this? http://codesandbox.io/s/github/algolia/react-instantsearch/tree/master/examples/server-side-rendering

[2019-07-03 16:46] cloakedninjas commented on #355
I found the cause of my other issue, I was re-creating the `searchClient` each render, which explains  the cache being emptied and not preventing duplicate requests.

However `_useRequestCache: true` is still required (even with `5.7.0`)

[2019-07-03 16:53] samouss commented on #355
Glad to see that you solved your issue. Yes, `_useRequestCache` is required to effectively deduplicate the request. Note that in the next version of the client this option will be enabled by default. At some point, we'll fix those issues inside React InstantSearch, but it's a tedious task that requires a lot of internal changes.

[2019-07-03 18:09] ivawzh commented on #892
This is still a huge difficulty with the lib. No satisfying solutions yet.

[2019-07-08 06:27] discussion4all commented on #2620
Worked thx!
@Haroenv I will definitely try that too. thx

[2019-07-08 08:00] francoischalifour commented on #2620
Let us know if you encounter any other issue.

[2019-07-08 08:00] #2620 closed

[2019-07-10 18:15] callmephilip opened #2648 "Need a way to pass extra headers to findResultsState"
When using `findResultsState` returned from `createInstantSearch` (`react-instantsearch-dom/server`), i need to pass extra headers (specifically `X-Forwarded-For`) to make sure the search works correctly for `aroundLatLngViaIP` when rendering server side.

It works great client side but once i use `findResultsState`  from the server, it messes up the results. While trying to debug `findResultsStat

[2019-07-11 07:37] Haroenv commented on #2648
This is something we have fixed in v6, where the client is the same one you pass, and thus can pass extra headers with `.setExtraHeader`, however we didn't release this yet.

[2019-07-11 07:49] Haroenv commented on #2648
I was confused, you can already do this in v5: https://codesandbox.io/s/example-server-side-rendering-ekc4e

[2019-07-11 07:58] Haroenv commented on #2648
https://codesandbox.io/s/example-server-side-rendering-ekc4e, you can pass props as the second argument to `findResultsState`

[2019-07-11 13:56] callmephilip commented on #2648
@Haroenv this seems to work. thank you very much for your help  🙌

[2019-07-11 13:56] #2648 closed

[2019-07-12 17:00] vUdav commented on #609
I'm use this config on my `package.json` and it's help for me

[code]

[2019-07-13 13:55] Haroenv commented on #609
could you make a reproducible example @vUdav ?

[2019-07-15 15:03] cloakedninjas commented on #1982
Is this documented anywhere? Just spent an hour chasing this bug :(

[2019-07-15 15:23] Haroenv commented on #1982
We indeed have not yet found a good place for the  server side rendering docs to live. I'll reopen this so we can keep an eye on the issue, sorry @cloakedninjas for your experience

[2019-07-15 15:24] francoischalifour commented on #1982
@cloakedninjas We touch this subject a bit in [the last section of the SSR guide](https://www.algolia.com/doc/guides/building-search-ui/going-further/server-side-rendering/react/#the-createinstantsearch-pattern) but we could indeed emphasize this more.

[2019-07-19 12:53] pragmatic-tf commented on #24
Hey, just wondering if there have been any updates that resolve this issue? @Haroenv you mentioned this being on the longer-term roadmap? 🗺

I've arrived here from the closed issue in the instantsearch.js repo as I'm trying to achieve the same result - a multiselect hierarchical menu. Definitely feels like there's a solid use-case for it so would be brilliant to see it added to such a comprehensiv

[2019-07-19 13:36] timswalling opened #2688 "`Highlighter` errors when attribute is a nested array"
**Describe the bug 🐛**

Highlighting a nested array (ie using a dot-separated `attribute` prop when that attribute is an array) causes `Highlighter` to fail.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-instantsearch-app-99k45 (which includes `<Highlight attribute="dog.lifestage" hit={props.hit} />` and `<Highlight attribute="dog.size" hit={props.h

[2019-07-19 13:51] Haroenv commented on #2688
Thanks for the report! the component indeed does not deal correctly with nested arrays. However, it should be replaced with `hit && hit[attribute]`, because we have already removed lodash in the upcoming next version of this code base.

Thanks!

[2019-07-19 14:08] Haroenv commented on #2688
Thought about it more, if a hotfix for this is needed, you can use `get` from lodash, I'll use another util on v6

[2019-07-19 14:13] yannickcr opened #2689 "ToggleRefinement not working with Routing URLs example"
**Describe the bug 🐛**

When using the [ToggleRefinement](https://www.algolia.com/doc/api-reference/widgets/toggle-refinement/react/) widget with the routing enabled (following the [Routing URLs
 guide](https://www.algolia.com/doc/guides/building-search-ui/going-further/routing-urls/react/) in the documentation) then the toggle parameter is passed as a `string` to the widget instead of a `boolean`

[2019-07-19 14:17] Haroenv commented on #2688
Thought about it even more, let's just use the index as the key, there's no need to generate the key

[2019-07-19 14:31] samouss commented on #2689
This is something that we are already doing for a couple of widgets e.g. [`RefinementList`](https://github.com/algolia/react-instantsearch/blob/f8b80dea98432b43a510c78eec8805c22f3f4f48/packages/react-instantsearch-core/src/connectors/connectRefinementList.js#L17-L35). We can implement the logic inside the [`getCurrentRefinement`](https://github.com/algolia/react-instantsearch/blob/f8b80dea98432b43

[2019-07-19 15:44] Haroenv commented on #24
Hey @pragmatic-tf, we discussed this for our roadmap this quarter, but decided not to because this would have a _lot_ of requests (one for every open level + 2) and require us to rebuild one of the most complicated parts of the code.

However one of our solution engineers (@rgalite) made a workaround for InstantSearch.js using multiple hierarchical menus to allow this for the root level: https://c

[2019-07-23 08:49] #2689 closed

[2019-07-27 21:07] ReaperTech opened #2719 "searchAsYouType"
**Describe the bug 🐛**

A clear and concise description of what the bug is.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

A live example helps a lot! We have a simple online template for you to use for your explanations:

**Expected behavior 💭**

A clear and concise description of what you expected to happen.

**Scre

[2019-07-29 11:34] #2688 closed

[2019-07-30 11:08] alextrastero opened #2721 "Multiple RangeSliders values wrong"
**Describe the bug 🐛**

When I add TWO `connectRange` components with different `attributes` the values returned from algolia are wrong when using sliders.

**To Reproduce 🔍**

It is not possible to reproduce with the sandbox due to only one facet can be refined with a range slider; price.

But this is the idea:
My current sandbox: https://codesandbox.io/s/ais-ecommerce-demo-app-o1li6

**Screensho

[2019-07-30 15:09] samouss commented on #2721
The attributes `min`/`max` and `currentRefinement` provided by the connector does not represent the same values. `currentRefinement` is the value refined by the user. The `min`/`max` values are computed from Algolia. It might happen that a user select a range, then apply filters and get results that don't match the given range. It's not because we don't have results that match the current criteria

[2019-07-30 15:20] alextrastero commented on #2721
Thanks for the reply @samouss, I'm going to use another component in this case.

[2019-07-30 15:20] #2721 closed

[2019-07-31 08:32] alexpchin commented on #2464
FYI, this was the response I received from the Algolia team:

Hi,

Thanks for contacting the Algolia team.

The InfiniteHits component has an internal cache to keep previous results as you load more results on the same page. But this cache is not cleared when using the refresh property on the InstantSearch instance.

Sadly there is no way to clear this cache at this moment, so the solution is to f

[2019-08-02 10:54] JoaoCnh opened #2728 "How can I prevent item re-ordering in a connected RefinementList component?"
I'm creating a custom UI for a RefinementList.

Whenever I refine, the items array is re-ordered breaking my custom component intented UI.

Is there a way I can turn this off? I don't want to add ordering functions for these arrays whenever it renders.

Or even set a sortBy method by yourself for each facet that you're using in the refinement list.

[2019-08-02 12:50] yannickcr commented on #2728
There is no option to turn this off, but you can use the [`transformItems`](https://www.algolia.com/doc/api-reference/widgets/refinement-list/react/#widget-param-transformitems) prop to re-order the items:

[code]

[2019-08-02 15:49] #2728 closed

[2019-08-06 04:40] kwent opened #2740 "Cannot read property 'addAlgoliaAgent' of null"
Hi there, do you you guys have any idea why this error raises ? Regards

react-instantsearch-dom@5.7.0:

[code]

[code]

Something looks off here and client looks like initialized to `null` every single time ? https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch-dom/src/core/createInstantSearchServer.js#L105

[2019-08-06 09:30] Haroenv commented on #2740
Hi @kwent, you are getting this, because the app you are rendering does not have the prop `searchClient` on the `InstantSearch`. The error is somewhat confusing, since `createInstantSearch` accepts a searchClient, but it's still required.

working full (minimal) example:

[code]

[2019-08-06 13:49] Haroenv opened #2742 "Refresh does not request pages in infinite hits again"
**Describe the bug 🐛**

When updating the `refresh` token, infinite hits will not react to the refetch.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. go to the example
2. trigger next page
3. refresh
4. see no changes in the infinite hits, even if the index would have changed

The example's index can be changed to an index you control where you make changes to make the effect clearer.

[2019-08-14 21:11] kwent commented on #2740
Make sense. Closing

[2019-08-14 21:11] #2740 closed

[2019-08-20 21:55] colis opened #2775 "SortBy doesn't work when passing indexId prop"
**Describe the bug 🐛**

When using the `Index` component - along with the `indexId` prop to implement a multi-index configuration - the `SortBy` component stops working after the first id switch.

**Expected behavior 💭**

The `SortBy` component should sort the results under the current `indexId`.

**Screenshots 🖥**

This is the `searchState` object: the `sortBy` parameters point to the correct ind

[2019-08-21 08:12] Haroenv commented on #2775
Can you create what you have so far in a sandbox environment? We have a template available for that purpose [here](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch). Thanks!

You can use the indices `instant_search`, `instant_search_rating_asc` and `instant_search_price_asc` (to see a difference)

This is to make sure the situation is correctly so

[2019-08-21 09:39] colis commented on #2775
hi @Haroenv, thanks for getting back to me.

I'll try to create a sandbox asap. Meanwhile, this is pretty much the structure of the app

[code]

Essentially, all the institutions are in the same index, but we assign an `indexId` to filter down institutions of a specific type (LP, GP), selected via the `DataFilters (menu)` component.

[2019-08-21 11:03] Haroenv commented on #2568
6.0.0-beta.0 has the new behaviour of working with non-Object objects for searchState

[2019-08-21 14:41] colis commented on #2775
@Haroenv after a bit of debugging, I noticed that when I click the sortBy button, no queries are being sent to Algolia after the first `menu` refinement. Can that be related to a wrong `searchState` format?

[2019-08-21 14:47] Haroenv commented on #2775
could be related. Are you using searchState / onSearchStateChange? Do you have a live website to debug?

[2019-08-22 10:00] alexpchin commented on #2742
Hi all,

Just to give you a demonstration of what happens here if you refresh using a key. Unfortunately, you momentarily receive hits of length 0.

![](https://ephmedia.giphy.com/65ccc16d-299e-4432-975c-91c2e55c8d43.gif)

I have created an example to use ClearCache and a searchClient object - which does not work. https://snack.expo.io/@alexpchin/aglolia-refresh-problem
Please run on iOS and look

[2019-08-22 10:28] Haroenv commented on #2742
browserOnly implies not for node, it works in React Native. We are aware of this issue, but aren't sure what the solution could be unfortunately.

Without having a `key`, it behaves correctly, except for InfiniteHits, which keeps its cache and doesn't update. The problem is that we need to change things to be able to clear the cache on InfiniteHits too.

There's multiple options here:

1. add an o

[2019-08-22 11:11] alexpchin commented on #2742
Thank you for the clarification. I believe I was originally the person who contacted RE: the problem and was just adding some more information so that people could see clearly the effect that is causes with the hits being momentarily empty when using a key to refresh.

Our project relies heavily on Algolia to display infinite results.

The idea solution would be that when refresh is given to Insta

[2019-08-22 16:19] JoaoCnh opened #2782 "Rendering a refinement list on demand triggers a refine"
I have a modal in which the content is only rendered if a certain boolean value in state is `true`.

In the content of this Modal I have some custom RefinementList components that I developed and work great.

However, when the content is rendered, they trigger their defaultRefinements (in my case I have none), thus, triggering a refine on my Index. I understand the behaviour but it would be great

[2019-08-22 22:06] EdwardBarton opened #2784 "connectPagination does not add CSS classnames"
**Describe the bug 🐛**

When attempting to customize the `Pagination` widget using `connectPagination`, the outputting HTML does not contain any of the css classes that the Algolia theme utilizes.

Per the docs:
[CustomPagination Component](https://www.algolia.com/doc/api-reference/widgets/pagination/react/?language=component#full-example)

[code]
_should_ result in the following [HTML Output](htt

[2019-08-23 08:36] francoischalifour commented on #2784
Connectors only provide the logic of the widget and do not specify/override the rendering. Thus, the JSX that you return remains as is.

As soon as you use a connector, you bail out of the HTML output specification and are on your own for the rendering.

You can read more on [Customize the complete UI of the widgets](https://www.algolia.com/doc/guides/building-search-ui/widgets/customize-an-existi

[2019-08-23 08:36] #2784 closed

[2019-08-23 08:44] francoischalifour commented on #2782
You can be fully in control of when to refine with the [`onSearchStateChange`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/#widget-param-onsearchstatechange) and [`searchState`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/#widget-param-searchstate) options combination.

More resources:

- [The search state format explained](https://www.algolia.co

[2019-08-23 11:36] JoaoCnh commented on #2782
Sorry but I'm not sure I understand how I can prevent the query if the search state has changed already. At least not from the examples provided.

[2019-08-23 13:29] EdwardBarton commented on #2784
Thank you for that explanation as well as the helpful link! If I may, a suggestion might be to update the Widget docs a bit. I looped in a fellow dev and we both read the docs as:

1. Create custom widget with `connectWidget` using the code from the `Full Example` section
2. The _expected_ render HTML should look like that of the `HTML Output` section

Thank you again for all your help!

[2019-08-23 13:34] francoischalifour commented on #2784
I see what you mean – you're right, it's confusing.

Thank you for the feedback, I'll see if we can reorder this section before the connector.

[2019-08-23 14:22] francoischalifour commented on #2782
I didn't get that you wanted to avoid the request on first render.

That's not really possible with the current API. However, you might be able to catch this context and avoid triggering another request by mocking the search client.

See [Mocking a request](https://www.algolia.com/doc/guides/building-search-ui/going-further/conditional-requests/react/#mocking-a-search-request).

[2019-08-26 04:42] websocket98765 commented on #2616
@catamphetamine If you're trying to leave the top end of the results 'open ended' and unrestricted, delete the max property from the object sent when calling `refine()`. It will send the `max` property as undefined and Algolia won't restrict the query based on the any high value.

[2019-08-26 04:49] websocket98765 commented on #2782
**Related:** When components are **_removed_** from the DOM as well, they invoke `onSearchStateChange` (so I assume they're hitting the API), even if they were untouched and never interacted with.

Example: I change a boolean value which renders a few Algolia Menu Select elements. (AFAICT, I'm not getting default refined when they appear in the DOM as mentioned in this issue because it doesn't app

[2019-08-26 08:39] Haroenv commented on #2782
Yes, when an element is removed, its refinement is also removed, and thus a new request needs to be done. If you don't want that, you can "soft-remove" it (via e.g. css)

[2019-08-26 16:35] websocket98765 commented on #2782
It'd be more ideal if Menu Select (& other elements) checked if it was in its default, unrefined state when removed from the DOM to avoid sending an unnecessary refinement in that case.

(I can't merely hide via CSS b/c _if_ the Menu Select was interacted with and is restricting the results, then in that case I do need it to send a request to clear its refinement when removed from view. But my poi

[2019-08-27 14:58] StarpTech opened #2795 "Memory leak when CustomSearchBox has function as property"
**Describe the bug 🐛**

When I pass a property from type `function` to the `connectSearchBox` searchbox the browser gets frozen and the memory will overflow.

**To Reproduce 🔍**

[code]

**Example**
(Be careful and save your workspace before)
https://codesandbox.io/s/react-instantsearch-app-niiq2

**Environment:**

 - OS: Ubuntu
 - Browser: Chrome
 - Version: react-instantsearch-dom: "^5.7.0",

[2019-08-27 15:04] StarpTech commented on #2795
That issue results in an uncontrol amount of requests to algolia (~16k in 2min)

[2019-08-27 15:18] Haroenv commented on #2795
Is there a reason the example code has `AutoComplete` assigned twice

[2019-08-27 15:22] Haroenv commented on #2795
I think the example is missing out some things, and this is rather about nested connectors causing the infinite loop, do you have the autocomplete wrapped inside a connectHits or similar @StarpTech ?

[2019-08-27 15:37] Haroenv commented on #2795
For finding out where the root issue comes from, I'll need more information, so
can you create what you have so far in a sandbox environment? We have a template available for that purpose [here](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch). Thanks!

Otherwise, also note that we have a component specifically for autocompletes in a  single shot

[2019-08-27 15:42] StarpTech commented on #2795
No, fixed.

No, I double checked it.

Yeah, that would be my workaround but I have no access to `isSearchStalled` right?

[2019-08-27 16:02] StarpTech commented on #2795
This example produce the memory leak or at least an unresponsive browser
https://codesandbox.io/s/react-instantsearch-app-niiq2

[2019-08-27 16:03] StarpTech commented on #2795
Yes, when I remove the keyUp handler in `Autocomplete` component it works :small_airplane:

[2019-08-27 16:09] StarpTech commented on #2795
@Haroenv comment in/out the event handler to see the effect. The service worker will run out of memory.

[code]

[2019-08-28 08:07] Haroenv commented on #2795
not sure if it was fully clear, but if you use `connectAutoComplete`, you no longer use `connectSearchBox`, since it's a superset, and will indeed cause these infinite loops (#137, #629, unfortunately very hard to solve).

I fixed your code sandbox: https://codesandbox.io/s/react-instantsearch-app-jexcd

[2019-08-28 08:54] StarpTech commented on #2795
Hi @Haroenv thanks for investigation. This is very confusing and frustrating because I can't find a hint in the documentation and the bug costs me more than 100K of my search contingent. If the bugs can't be fixed for years then the implementation should be overhauled.

[2019-08-28 09:09] Haroenv commented on #2795
It's something that we work on, but has a lot of unanswered questions on when requests should be done. This is not something we can just "fix". Please contact support@algolia.com mentioning this ticket about the search requests you didn't expect to be done during development, we can fix that.

[2019-08-28 15:50] alexpchin commented on #2742
Just to be 100% clear, what is the benefit of using the `connectInfiniteHits` connector over building a search using the Algolia Search API and passing filters to it? Something not dissimilar to (with a bit more work for pagination etc)?

[code]

[2019-08-29 09:22] Haroenv commented on #2742
If all you  are doing is showing results, there's no real advantage to use InfiniteHits in your case. Since we haven't fully solved "refresh" for InfiniteHits, it's a fair solution to fall back to the JS client.

To refresh on it, call `client.clearCache` and call your search/render function again.

Sorry for not yet fixing this refresh issue in the mean time :)

[2019-08-31 09:48] bartol opened #2810 "Algolia instantsearch is 70% of my website bundle"
My site is build with Gatsby is using these instantsearch packages:

<img width="784" alt="Screen Shot 2019-08-31 at 11 41 10" src="https://user-images.githubusercontent.com/32748145/64062242-8708e580-cbe4-11e9-9b37-f13be3356cf0.png">

But majority of its size is `InstantSearch` module.

<img width="784" alt="Screen Shot 2019-08-31 at 11 41 31" src="https://user-images.githubusercontent.com/327481

[2019-09-01 16:42] Haroenv commented on #2810
Can you use the beta version of React InstantSearch? It’s a lot better for bundle size :) see the migration guide: https://github.com/algolia/react-instantsearch/blob/next/MIGRATION.md

[2019-09-01 22:22] bartol commented on #2810
Thanks, it's not perfect but is noticeably better.
Glad to see improvement!

[2019-09-02 06:48] Haroenv commented on #2810
@bartol, can you tell the output after using the beta version. For us this version should have removed _a lot_ (50%+) of the size, and all of the clear lowhanging fruit.

[2019-09-02 08:53] bartol commented on #2810
@Haroenv My bundle size is now ~60 KB lighter.

[2019-09-02 09:11] Haroenv commented on #2810
If you don't mind, I'll close this issue then, unless you see more ways this bundle can be made significantly lighter, which doesn't require rewriting everything. Hope you understand!

[2019-09-02 09:11] #2810 closed

[2019-09-02 14:03] anthony0030 opened #2813 "Warnings about reacts renaming methods logged to the console"
**Describe the bug 🐛**

Warnings logged to the console about react renaming componentWillMount and componentWillReceiveProps

**Full Warning ⚠️**

react-dom.development.js:11494 Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDidUpdate.
*

[2019-09-02 15:08] Haroenv commented on #2813
Can you use the new beta version of React InstantSearch? It has fixed this issue and we will release it as a stable version soon :) You can find the migration guide here: https://github.com/algolia/react-instantsearch/blob/next/MIGRATION.md

[2019-09-03 15:11] anthony0030 commented on #2813
Thank you for your reply.
I have been attempting to get it working the whole day.
I will try again tomorrow.

[2019-09-03 16:56] Haroenv commented on #2813
Can you let me know what issues you’re getting? We want to make sure this beta is ready for users, and it’s the first issue we are getting regarding things not working according to the guide. A reproduction codesandbox where you’re stuck would be ideal

[2019-09-04 11:02] anthony0030 commented on #2813
My problem is if I visit the home page then a search page it works.
If I visit a search page directly it hangs I get the following error in my server console:

(node:65859) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'addAlgoliaAgent' of undefined
    at new AlgoliaSearchHelper (/Users/anthonyveaudry/Sites/gothassos-react/node_modules/react-instantsearch-core/node_modules/alg

[2019-09-04 14:47] Haroenv commented on #2813
Did you read the migration guide part on server side rendering? `searchClient` is now required as part of the second argument to `findResultsState(App, { searchClient })`

[2019-09-04 17:41] anthony0030 commented on #2813
I put the search client and the index name as the second parameter.
I have read the guide and the migration steps so many times I have been trying for 2 days. Do you offer paid support. I am the only person working on this project and algolia is the most important part.
Thanks for being so responsive.
You are very interesting :)

[2019-09-05 08:58] Haroenv commented on #2813
@anthony0030 the best way to get help is to post the code somewhere where we can see it, preferably in a minimal reproduction

[2019-09-08 15:38] malimccalla commented on #2813
My console is getting litterered with these warnings at the moment. In case it helps these are the ones I'm getting

[code]

[code]

[code]

[code]

I will try upgrading to the beta version and see if they go away

[2019-09-09 06:56] Haroenv commented on #2813
Yes, those warnings  are expected, and all fixed once you use the latest beta version @malimccalla

[2019-09-10 07:18] anthony0030 commented on #2813
@Haroenv, I found the problem I was experiencing.
I had two versions of the wrapped app one for the server and one for the client.
The one for the server was not sending the new props correctly.
Thank you for your help and patience.

there is still one part of the puzzle I don't understand. were do I pass the search props for findResultsState to get the results that sould show withe the currently

[2019-09-10 07:24] Haroenv commented on #2813
You can pass searchState to `findResultsState`, this is done in this example statically: https://codesandbox.io/s/github/algolia/react-instantsearch/tree/next/examples/server-side-rendering (check `server.js`)

[2019-09-10 14:55] alexpchin commented on #2742
Hi all,

I was just wondering whether there was any update to this? I'm still having a little trouble "rolling my own" infinite hits using the API. My setup requires the ability to search, show no duplicated results, have infinite scroll etc. Everything with the ConnectInfiniteHits works except the problem stated above.

Thanks in advance,
Alex

[2019-09-10 15:40] Haroenv commented on #2742
Sorry @alexpchin, this is very complicated from our end to get something like this out the door, and it has not yet been prioritised as an issue essential to fix right now.

[2019-09-10 21:47] alexpchin commented on #2742
No problem! Thanks for the swift response 👍

[2019-09-11 10:30] anthony0030 commented on #2813
Thank you I got it working just now.
Everything seems to be working without a problem.

[2019-09-15 21:07] andreyvital opened #2828 "JSON parse error when reading the cache"
**Describe the bug 🐛**

[code]

Sorry I am not able to create an example right now, but something fishy is going on: I am using Next.js to SSR Algolia with results, and:

1. I enable one filter in my app then it updates the URL;
2. Right after that the result is served and a cache is stored for that state;
3. Then when I "remove" that filter (resetting to the initial value) it crashes with the err

[2019-09-16 08:46] Haroenv commented on #2828
Hi @andreyvital, I'm not sure which cache you are talking about, can you clarify with an example? We have a demo setup with next here: https://codesandbox.io/s/github/algolia/react-instantsearch/tree/master/examples/next

[2019-09-16 10:52] andreyvital commented on #2828
Yeah sure, try this one: https://codesandbox.io/s/example-next-cifw3

[2019-09-16 11:00] andreyvital opened #2829 "Initial client render with SSR is querying Algolia for the same search state"
**Describe the bug 🐛**

Client initial render is sending a request to Algolia even though it's server rendered with the same search state.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to https://z3n8x.sse.codesandbox.io/
2. Inspect the network
3. You'll see that there's a request made to Algolia

**Expected behavior 💭**

Shouldn't have any requests made in the initial render on the

[2019-09-16 11:05] Haroenv commented on #2829
This has been fixed in v6, which is now in beta!

[2019-09-16 11:24] andreyvital commented on #2829
Oh—cool. Thanks! However, I can't seem to move to v6 because of #2828. 😞

[2019-09-16 13:54] andreyvital opened #2830 "Range on multiple attributes"
**Is your feature request related to a problem? Please describe 🙏**

No.

**Describe the solution you'd like 🤔**

I want to be able to filter a range between two attributes. Say that I have two properties in my document: `quantityA` and `quantityB` and I want to filter if they're between range `0 TO 100`.

The query would translate to:
[code]

This could be done through `numericFilters`: https://w

[2019-09-16 13:59] Haroenv commented on #2830
What would this visually look like? All widgets on a page usually (in our case always) have the convention of "refining more", and thus being "AND" between them, unless in a single widget

[2019-09-16 14:02] andreyvital commented on #2830
So it's a single range slider that needs to take into account two properties. A single range slider will match quantityA or B with the same selected range.

[2019-09-16 15:36] Haroenv commented on #2830
This is not something we have by default; but we have this connector that likely solves most of your use case, it would be nice to hear if it solves your use-case, so we can think about incorporating it in the library: https://codesandbox.io/s/kwklo3rz63

[2019-09-17 00:31] coreyward opened #2832 "v6.0.0-beta.0 requires `indexId` on `<Index>`"
There appears to be a transition going on from `indexName` to `indexId`, but this is incomplete and not documented. I think the `IndexWrapper` component was added to make this transition easier, but the PropTypes set for it require _both_ `indexName` and `indexId` despite synthesizing the latter from the former:

https://github.com/algolia/react-instantsearch/blob/35914beae2e6bc4cc6229f3627bc3cbba

[2019-09-17 02:04] coreyward opened #2835 "v6.0.0-beta sends two queries (with and without `page`)"
I did a straight upgrade from 5.7 to 6.0.0-beta and noticed in the Network panel of the devtools that the updated version of react-instantsearch-dom is sending two POST requests to the Algolia service for each query. The requests appear to be identical except for an additional `page` param (always set to `0` in my testing) that is in the POSTed parameters of one of the two requests.

This only occ

[2019-09-17 07:25] Haroenv commented on #2835
It would be ideal if you could reproduce this in a sandbox, here's an example on v6 with two indices that I don't see having this issue. https://codesandbox.io/s/multi-index-hits-ds70x

Thanks already for all the feedback you've given, this is very appreciated

[2019-09-19 13:55] #2813 closed

[2019-09-20 21:49] hatched-danny opened #2836 "React 16.9 Deprecation Warnings - componentWillMount rename"
I'm currently getting console warnings from to prepare for React 17's componentWillMount rename:

[code]
Also getting it for these:
[code]
[code]

Are there any plans to handle this so the warnings go away?

[2019-09-20 22:39] francoischalifour commented on #2836
We released a new beta version `6.0.0-beta.0` with support for the upcoming React 17. You can read more about it on [Discourse](https://discourse.algolia.com/t/react-instantsearch-v6-beta-0-released/8308/).

Try installing it and let us know how it goes!

[2019-09-20 22:39] #2836 closed

[2019-09-24 10:10] #2832 closed

[2019-09-24 10:16] itsmichaeldiego opened #2846 "Infinite Scroll + Search, not working, calling refine only triggers refineNext."
I am using the InfiniteHits component with `connectInfiniteHits` helper, from `react-instantsearch-dom` to create an infinite scroll behavior.

In my case, I want to have infinite scroll but also the ability to search at the same time. I was able to set up infinite scroll easily, following [this guide](https://www.algolia.com/doc/guides/building-search-ui/resources/ui-and-ux-patterns/in-depth/infi

[2019-09-24 10:49] samouss commented on #2846
From what I've understood you want to be able to use a `SearchBox` within your `InfiniteHits`, is that correct? The `refine` behaviour is the expected one. The function exposed by the connector `InfiniteHits` only manage the page not the query. If you want to alter the query you have to use the `SearchBox` connector.

Here is [an example](https://codesandbox.io/s/react-instantsearch-infinitehits-w

[2019-09-24 15:43] itsmichaeldiego commented on #2846
@samouss You're right, it works perfectly with your example, thank you so much. I am closing the issue now.

This brings me to the question though, what is the difference between `refine` and `refineNext` then?

Thanks in advance

[2019-09-24 15:43] #2846 closed

[2019-09-24 16:00] samouss commented on #2846
Good question, it's an alias. They are equivalent. `refine` is here for legacy reason. We've introduced `refinePrevious` so we've renamed refine to `refineNext` without removing the old behaviour to avoid breaking change. If I'm correct we don't document it anymore inside [the doc](https://www.algolia.com/doc/api-reference/widgets/infinite-hits/react/#create-a-react-component). We probably should

[2019-09-24 18:51] colis opened #2847 "Backend InstantSearch triggers multiple requests"
**Describe the bug 🐛**

We're using the Backend InstantSearch approach to build a middleware that will handle users authorisation (if and how many results they’re entitled to see on the frontend). The frontend is using a custom Algolia client, as suggested [here](https://www.algolia.com/doc/guides/building-search-ui/going-further/backend-search/in-depth/backend-instantsearch/react/), instead of th

[2019-09-24 21:28] Haroenv commented on #2847
A quick question before investigating, is there also source code for that demo? It wil help debugging what’s going on here

[2019-09-24 21:44] colis commented on #2847
Hi @Haroenv,

yes, although there are few bits that can't be shared publicly, I'm afraid.

Let me know what's your preferred way that I can use to share the source code with you privately.

Thanks :)

[2019-09-24 22:08] colis commented on #2847
I had a quick look at the InstantSearch code and I noticed this:

https://github.com/algolia/react-instantsearch/blob/f8c32f06c5fad1a6cf844dfc9f1ef9e6ab626fa7/packages/react-instantsearch-core/src/components/InstantSearch.js#L82-L84

the `<InstantSearch>` component calls the `updateClient` method on props change which, in turn, will call the `search` method

https://github.com/algolia/react-instan

[2019-09-25 08:04] Haroenv commented on #2847
Some thing to note is that the default client has a cache, which we assume any client has, in the case of identical requests begin fired, this is something that you should consider as well :)

[2019-09-25 08:44] colis commented on #2847
The cache would take care of identical requests being fired, I agree. However, the issue I'm describing here is slightly different: I need to trigger a refinement only on a specific user interaction (in this case on a button click), not on *every* single interaction, which is what the custom client is causing at the moment.

[2019-09-25 09:02] Haroenv commented on #2847
That behaviour is the same without a custom client, any refinement causes a new query to be sent. If that does not happen with the default client, maybe something else is causing rerenders that are unexpected. To help out there source code will be necessary

[2019-09-25 09:39] colis commented on #2847
I've created a sandbox. Can I send you the link here? -> hello@haroen.me

[2019-09-25 10:41] Haroenv commented on #2847
support@algolia.com @colis

[2019-09-25 11:58] itsmichaeldiego commented on #2846
@samouss That makes total sense, thank you so much, I will keep using `refineNext` instead

[2019-09-26 12:13] #2847 closed

[2019-09-26 12:18] Haroenv commented on #2847
For future reference, custom clients need a "response cache" & "promise cache", which isn't fully specified in the docs yet. An example custom client implementing both is:

[code]

[2019-09-28 05:51] developerk786 opened #2848 "Refining hits with facet filters react native instasearch?"
I am using react native instasearch and in my case, I need to refine results but with facet filters
for eg:
[code]

how can I achieve this using react native instasearch
also, i need to pass initial category
for eg: **i want to search only Jordan shoes** in spite of all shoes when i go to the search screen

**Code**

[code]

[2019-09-30 07:03] Haroenv commented on #2848
Hi @developerk786,

The guide: https://www.algolia.com/doc/guides/building-search-ui/widgets/customize-an-existing-widget/react/#apply-default-value-to-widgets should apply to your use case well:

[code]

[2019-09-30 08:03] samouss opened #2850 "TEST"
This is the content of the test.

With a new line to see how it renders in HelpScout.

[code]

<br />

<script>console.log('Hello from the script element')</script>

[2019-09-30 08:04] #2850 closed

[2019-09-30 08:13] samouss opened #2851 "TEST"
This is the content of the test.

With a new line to see how it renders in HelpScout.

[code]

<br />

<script>console.log('Hello from the script element')</script>

[2019-09-30 08:13] #2851 closed

[2019-09-30 13:19] husseinbob commented on #2836
Which branch in the repo should I be looking at for this? thanks

[2019-09-30 13:25] Haroenv commented on #2836
the branch is called `next`: https://github.com/algolia/react-instantsearch/tree/next

[2019-09-30 13:26] Haroenv commented on #1743
This has been implemented in the next major version of React InstantSearch, version 6 which is currently in beta. You can find information on this here: https://discourse.algolia.com/t/react-instantsearch-v6-beta-0-released/8308

[2019-09-30 13:26] #1743 closed

[2019-09-30 13:28] Haroenv commented on #86
This issue seems to have been solved,

The search state format is explained here: https://www.algolia.com/doc/guides/building-search-ui/widgets/customize-an-existing-widget/react/#the-search-state-format-explained

[2019-09-30 13:28] #86 closed

[2019-09-30 18:05] developerk786 commented on #2848
Thanks, @Haroenv dude that's what i am exactly looking for. But what about more **complex logics** how to handle that,
let say:
I use some logic to calculate favourite products of any customer
let say
[code]
i want to apply filters, limit, sort by, infinite hits and other cool algolia features only in those products how am i supposed to do it is there any way around?

[2019-10-01 07:07] Haroenv commented on #2848
@developerk786, this is the most straightforward way of doing it. If you are also displaying the filters, then you should render the values inside the connector (instead of null, what i replied to you).

There's also the Configure widget for filtering by plain search parameters.

I'm not too sure what you want to calculate based on product IDs, can you clarify?

[2019-10-01 08:40] developerk786 commented on #2848
This question should be in new thread/issue, but i am asking here,
let say i have 10,000 products in my MongoDB database and all are synced up with algolia.
let say i want only Jordan shoes =>
in algolia, i can do,
[code]
but let say these filters are not suitable for the type of data i want to get for example if i want to fetch top products of any customer based on his activity of viewing product

[2019-10-01 08:46] Haroenv commented on #2848
You will need to transform that to an Algolia query. You can do something like a RefinementList on `attribute="objectID"` (with default refinement being all the selected items), but that eventually will get to the limit of filters (IIRC it's 1000), so you'll need to be more clever with it and change your index every time someone favorites to add their id to a list in the record itself and filter o

[2019-10-01 08:46] #2848 closed

[2019-10-04 18:46] DeependraSingh2701 opened #2854 "Call an index based on other index's results using reactjs"
I want to call an index and based on the results of this i want to call a different index

[2019-10-07 12:15] Haroenv commented on #2854
You can add an Index widget inside the result of connectHits, hitComponent prop on Hits, or via connectStateResults. Can you clarify what you've already tried? We have a template available for that purpose [here](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch). Thanks!

[2019-10-10 14:54] lleonesouza opened #2855 "Error trying compile react-instantsearch with webpack and babel 7"
Error trying compile react-instantsearch with webpack and babel 7

(function (exports, require, module, __filename, __dirname) { export default function _classCallCheck(instance, Constructor) {
                                                              ^^^^^^
SyntaxError: Unexpected token export

**To Reproduce 🔍**

Steps to reproduce the behavior:

1- SetUp WebPack for React with @Babel 7

web

[2019-10-10 15:16] Haroenv commented on #2855
Can you provide the project on GitHub please? These screenshots aren’t enough information to debug. React InstantSearch works with Babel 7 & webpack, since that’s what we use in our examples.

[2019-10-10 16:27] lleonesouza commented on #2855
@Haroenv thanks for the answer dude, i dont know whats was happening but its just working now. make sure to close this issue

[2019-10-10 16:27] #2855 closed

[2019-10-10 20:00] Haroenv commented on #2855
All right, glad you found the issue, sorry I couldn’t help

[2019-10-12 10:43] wassim opened #2858 "Can't highlight an array"
This works:

[code]

But when I try to highlight:

[code]

Doesn't work. Am I doing this wrong?

[2019-10-13 07:50] developerk786 opened #2859 "`connectRange` connector always provides `undefined` for min and max value"
**Describe the bug 🐛**

I am using ```connectRange``` connector to display slider in **React Native** but it provides min and max value undefined in **every render**

**Output in dev console**
[code]

**To Reproduce 🔍**

Due to project begin private i can't share the whole repo:
but here is the main file:

[code]

**Expected behavior 💭**

Expected to see
**Either**
[code]
**Or**
[code]

**Screensh

[2019-10-14 07:18] Haroenv commented on #2858
The `attribute` is a string, not a value, so this would be more like the following:

https://codesandbox.io/s/react-instantsearch-app-e5v38

[code]

Hope that helps!

[2019-10-14 10:06] developerk786 commented on #2859
Thanks, @Haroenv mate i totally forgot about that, now its working as expected!

[2019-10-14 10:06] #2859 closed

[2019-10-14 10:59] Haroenv commented on #2859
This is a good reminder for us to give errors or warning messages when incompatible settings are set.

[2019-10-14 21:05] wassim commented on #2858
@Haroenv Thanks!

[2019-10-14 21:05] #2858 closed

[2019-10-15 08:08] renovate[bot] opened #2860 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-15 16:34] andreyvital commented on #2829
Hey @Haroenv do you know when v6 will be ready? I am having some issues with this issue here...and its costing me a lot on Algolia—each day it's more or less extra 100k queries...

[2019-10-15 18:31] Haroenv commented on #2829
Very soon, you can use the beta for now

[2019-10-15 22:18] andreyvital commented on #2829
@Haroenv the beta is broken for me :(

https://github.com/algolia/react-instantsearch/issues/2828

[2019-10-17 15:18] jhalborg commented on #577
Any way to follow your progress for the Typescript migration for each of the projects @samouss ?

[2019-10-17 15:42] francoischalifour commented on #577
This is not totally representative but the GitHub language repartition is an indicator of the TypeScript migration progress:

![React InstantSearch languages](https://user-images.githubusercontent.com/6137112/67024259-66e5a500-f104-11e9-8c37-d9949bbebf59.png)

We'll be explicit about the TypeScript definitions once they are available in a release.

[2019-10-18 14:27] #2568 closed

[2019-10-19 16:17] andreyvital commented on #2835
@Haroenv I am having the same problem here with v6.0.0-beta.1. It's sending two queries...

[2019-10-24 00:03] brettinternet opened #2863 "Inputs do not conform to accessibility standards"
**Describe the bug 🐛**

The default inputs in components such as SearchBox and SortBy do not allow an `aria-label` property. Default values or this prop interface should be available by default without having to use `connectSearchBox`.

Not only does this hurt a site's Lighthouse score, but most importantly it degrades the experience of our friends who rely on accessibility attributes in HTML.

**

[2019-10-24 15:54] brettinternet commented on #2863
@Haroenv Thanks for the reply! Let me know how I can help out. I'd be happy to perform a PR once the team has some direction on this.

[2019-10-24 15:55] #2828 closed

[2019-10-25 08:35] tkrugg commented on #2828
Hi @andreyvital

I just released React InstantSearch 6.0.0-beta.2 and updated your example to prevent the second query.

https://codesandbox.io/s/example-next-93sq3

There 2 things I did:
1. update react-instantsearch-dom to 6.0.0-beta.2
2. add onSearchParameters prop (see my screenshot of your modified `components/app.js` file). We'll make sure to make all this clear in the docs.

![image](https:

[2019-10-25 08:50] tkrugg commented on #2829
fixed in https://github.com/algolia/react-instantsearch/pull/2862

[2019-10-25 08:50] #2829 closed

[2019-10-25 08:51] tkrugg commented on #2854
closing this as it's getting old. Feel free to reopen if you still need help.

[2019-10-25 08:58] tkrugg commented on #2835
@andreyvital 's issue has been addressed: see https://github.com/algolia/react-instantsearch/issues/2829

@coreyward I'll close this for now because we're missing a reproducible example but feel free to reopen if you're still experiencing the issue and have managed to reproduce it in our boilerplate.

[2019-10-25 08:58] #2835 closed

[2019-10-25 09:07] Haroenv commented on #2863
I guess `aria-label` being set by default to "Search" and "Sort By", which could be overridden via `translations` in React InstantSearch is a good way to start. Are there other places you see that could be helped with this? I'd love to think about a11y in a more broad term, since it doesn't really seem like the InstantSearch pattern is covered in existing WAI patterns.

A PR would definitely be we

[2019-10-25 09:09] Haroenv commented on #2828
The docs says to spread the props (which can be done here too)

[2019-10-25 09:21] tkrugg commented on #2795
closing this for now as it's getting pretty old.
For anyone stumbling on a similar problem, the autocomplete experience is documented here:

https://www.algolia.com/doc/guides/building-search-ui/resources/ui-and-ux-patterns/in-depth/autocomplete/react/#results-page-with-autocomplete

[2019-10-25 09:21] #2795 closed

[2019-10-28 11:29] Steffi3rd opened #2865 "How to find all tags in an index? Then get count of each tags?"
Hello,

I have around 1000 tags (or more) in my index.

1 / I would like to display all theses tags.

2 / And once I have all these tags, I would like to show a count with the number of items with this tags.

3 / Order by DESC the tags by the most used tags

Is there a way to that please?

[2019-10-28 12:16] Haroenv commented on #2865
Hey @Steffi3rd, this is not going to be possible, there's a limit on how many tags you can show, as well as the number of hits in a regular result. You can read more about that here:

- https://www.algolia.com/doc/api-reference/api-parameters/maxValuesPerFacet/

If you choose to go for hits instead of facets, you can take a look at:

- https://www.algolia.com/doc/api-reference/api-parameters/pagin

[2019-10-28 12:26] Steffi3rd commented on #2865
@Haroenv Hello ! okay, thanks for your solutions.

So what can I do if I want to find the 10 most used tags?

[2019-10-28 12:37] Haroenv commented on #2865
What do you mean with "most used"? If you mean "with the most results", then that's the default behaviour, but you can also see `sortFacetValuesBy: count`

[2019-10-28 12:43] Steffi3rd commented on #2865
I mean something like this :

I have an index named "Items" like in Algolia.
```item 1 { tags: ["X", "Y"] }```
```item 2 { tags: ["Y"] }```
```item 3 { tags: ["Y"] }```
```item 4 { tags: ["Y"] }```
```item 5 { tags: [] }```
```item 6 { tags: ["X"] }```
```item 7 { tags: ["Y", "X"] }```
```item 8 { tags: ["Z", "Y"] }```

Then I would like to find which `tags` is the most used.
In this example, we s

[2019-10-28 12:47] Haroenv commented on #2865
like this? https://www.algolia.com/doc/api-reference/widgets/refinement-list/react/

[2019-10-30 19:40] websocket98765 commented on #2863
@Haroenv Best way to see where labels are needed is to load a page with many react-instantsearch components and run Lighthouse browser extension because it will generate a list of all components missing a label.

Personally, I'd be happy if Algolia components allowed passing of an `aria-label` property, b/c then I can make it work in most cases. (There are other ways though, such as allowing an id

[2019-10-30 19:43] websocket98765 commented on #2863
Also, ideally it should work to pass aria-label to custom components built using connectors too.

[2019-10-30 20:17] brettinternet commented on #2863
I agree that the `translations` object is a great candidate for this sort of thing, and including an 'aria-label' field for components that don't at least have a `label` would be a great starting point.

@websocket98765 Could you describe the bit about `ToggleRefinement`? It looks like the toggle passes Lighthouse in the [component example](https://react-instantsearch.netlify.com/storybook/?path=/

[2019-10-31 18:27] websocket98765 commented on #2863
@brettinternet My mention of `ToggleRefinement` isn't related to aria-label, but to HTML `title` attribute. Just figure if @Haroenv is looking at how to pass/set `aria-label`, it'd be a timesaver to also have in mind that passing the HTML `title` attribute is useful for some Algolia components like `ToggleRefinement` too (for non-A11y-related reasons, like my earlier example), since these would be

[2019-10-31 18:33] websocket98765 commented on #2863
In addition to `aria-label`, something to keep in mind is it may be useful to pass `id` and `aria-labelledby` so that existing labels on the page, that may be outside the Algolia component, can be associated with it. If such a label exists, it's preferrable to associate it with the input/select/etc, rather than also defining `aria-label` and having two labels. <https://developer.mozilla.org/en-US/

[2019-11-01 19:34] Haroenv commented on #2863
I’d love this, but don’t practically know how to implement it. Are you thinking of something like Downshift’s `...inputProps`? @websocket98765

[2019-11-05 20:01] janosh opened #2867 "Uncaught RangeError: Maximum call stack size exceeded in connectStateResults"
**Describe the bug 🐛**

The following error is thrown when React updates [my `Search` component](https://github.com/janosh/janosh.io/blob/master/src/components/Search/index.js) in development. No problems [in production](https://janosh.io/blog) as far as I can tell.

[code]

<details>
<summary>Full stack trace</summary>

[code]
</details>

I was able to narrow the cause down to this state connecto

[2019-11-06 05:01] websocket98765 commented on #2863
I'm not familiar with Downshift's `...inputProps`, but based on the spread syntax, yeah that looks like it would work well if it's doing what I assume, which is passing all props through to the child. That would very flexible, if that's possible in this case.

[2019-11-06 09:11] Haroenv commented on #2863
Note that with the connectors, we don't render any dom, it's all done by users, so they can easily spread the props themselves if that's something required. We don't do that in the native components, since most of them have multiple dom elements inside, so it isn't obvious to where things should be spread.

[2019-11-06 09:13] Haroenv commented on #2867
I think this might be a duplicate of https://github.com/algolia/react-instantsearch/issues/137, could you try the suggested solutions there? Ideally could you also make a reproduction on a sandbox? We have a template available for that purpose [here](https://codesandbox.io/s/github/algolia/create-instantsearch-app/tree/templates/react-instantsearch). Thanks!

[2019-11-06 10:37] janosh commented on #2867
@Haroenv Thanks for the pointer. I tried [this](https://github.com/algolia/react-instantsearch/issues/137#issuecomment-349385276) and [this](https://github.com/algolia/react-instantsearch/issues/137#issuecomment-354343777) suggestion but in both cases the issue persisted.

I also tried setting up a [code sandbox](https://codesandbox.io/s/react-instantsearch-app-l0nor) but keep running into an odd

[2019-11-06 13:22] firestar300 commented on #629
Same here.

[2019-11-06 16:11] janosh commented on #2867
@Haroenv Never mind, managed to resolve the issue by [refactoring `Results` and `Hits` to be siblings rather than parent and child](https://github.com/janosh/janosh.io/commit/54987289dc02fd3fb996ed646b53be011ff98ac6#diff-385902f1d7347e40bd6f8b8ced7eea25R48).

[2019-11-06 16:11] #2867 closed

[2019-11-07 08:38] Haroenv commented on #2867
Sorry I missed your response, but the nesting indeed can cause issues, which can be fixed by avoiding nesting. The issue I linked tracks that behaviour, but for now we can not see a workaround or solution for it unfortunately.

[2019-11-12 14:52] GriffinSauce opened #2870 "Add react hooks"
**Problem:**

Connector HOCs add boilerplate and can be unwieldy. When you have an existing component already the modification to make it connected is a hassle. It also interferes with Flow type-checks because it adds "invisible" props and is hard to compose when you need multiple things.

For example:

[code]

Redacted from these examples is Flow type checking and our styles HOC that makes it eve

[2019-11-12 15:25] tkrugg commented on #2870
Hi @GriffinSauce, thank you, I appreciate you taking the time to give us feedback.
This is likely something we'll work on in the future but I can't give an ETA, but  it's nice to hear from the community about it.
I'll close this as it's already tracked by our internal project tracking tools.

[2019-11-13 02:23] alexpchin commented on #2742
Hi @Haroenv any plans to implement this?

[2019-11-13 09:02] Haroenv commented on #2742
Not currently, since you're the only person who has noted this bug / wrong behaviour. I totally agree that it's a problem, but since the solution is unclear we don't have fixing this planned. Sorry!

[2019-11-18 17:31] e-krebs opened #2872 "Unmounting a Searchbox that is not the last one should not trigger an empty refine"
**Describe the bug 🐛**

You've got two searchboxes on a page. When one is unmounted (even though the other one is still there), an empty refine is triggered.

**To Reproduce 🔍**
Put two search boxes on a page.
One is a regular one.
One is a custom one (using connectSearchBox) conditionally-rendered when there's no result. It displays a button to do a `refine()` that will display results.
When clic

[2019-11-18 18:33] Haroenv commented on #2872
I’m not sure if it’s avoidable, but this should at least be documented somewhere. Who knows where it should go?

as far as I can tell we have this problem in InstantSearch.js too

[2019-11-19 00:32] catamphetamine opened #2873 "What's the official way of customizing labels in a <RefinementList/>?"
Suppose there's a list of ingredients and each of them is used in some recipe.
So there's an `<InstantSearch index="ingredients"/>` widget for ingredients, and a user can filter by recipes the ingredients are used in.
So there's a `<RefinimentList attribute="recipes"/>` filter widget.
In order for that to work, an ingredient has to have a shape: `{ recipes: ['Coffee', 'Apple pie', ...] }`.
But sup

[2019-11-19 10:32] tkrugg commented on #2872
this issue is a duplicate of: https://github.com/algolia/react-instantsearch/issues/302
This behaviour you're describing is the [side-effect of a design choice](https://github.com/algolia/react-instantsearch/issues/302#issuecomment-491857307). I get that it can be annoying in your use case.

Two workarounds I can think of:
- the 1st (you guessed it) is not to unmount your widget during the lifetyp

[2019-11-19 10:57] tkrugg commented on #2873
Hi @catamphetamine  `transformItems` does not support returning promises.
What I would do is load all the labels upfront if their number is reasonably low. Usually people would use include their labels in a their i18n bundle, and so they don't need to make an async call after.

[2019-11-19 12:59] catamphetamine commented on #2873
@tkrugg So do you confirm that using `transformItems` is the officially recommended way of storing `id`s instead of labels in an Algolia object and then printing labels instead of `id`s in a `<RefinementList/>` widget? That could be included on the docs page, because it's a fairly common use case for any multi-lingual project, or a complex enough one.

I wasn't talking about promises.
If you re-re

[2019-11-19 16:04] tkrugg commented on #2873
@catamphetamine putting it simply, no.
What you can do however is this:
[code]

[2019-11-19 16:58] catamphetamine commented on #2873
@tkrugg I see.
So the official solution would be doing a separate [`browseIndex()`](https://www.algolia.com/doc/api-reference/api-methods/browse/) call on the search page before it loads.
That would introduce an additional latency and the user experience would suffer as a result.
I've measured `browseIndex()` for an index of 200 items and the latency is about 200 milliseconds.
That's a lot.
The on

[2019-11-19 17:01] Haroenv commented on #2873
That's possible, but the ideal way without extra latency is the following:

1. denormalize your facet value `café~Кофе`
2. split within transformItems
3. display only the relevant item

This will have two downsides

1. you need to also have this full value in the URL
2. Search for Facet values might not work as expected

The reason is that a facet is a _value_, not a whole object. That thus also m

[2019-11-19 17:06] #2873 closed

[2019-11-20 11:55] giovanniguarino opened #2874 "Set Language in Voice Search Component"
Hi, is possible adding for VoiceSearch component a parameter for the language? I see that in InstantSearch JS library is possible.

[2019-11-20 13:37] Haroenv commented on #2874
https://github.com/algolia/react-instantsearch/pull/2366

[2019-11-20 14:18] wedneyyuri commented on #309
Related: https://github.com/algolia/dynamic-faceting-guide/issues/13

[2019-11-20 15:19] wedneyyuri commented on #309
Please, can you explain why my comment was marked as off-topic? The repository that I referenced is the "suggested way ™" to create dynamic filters today. Unfortunately this solution has problems that as far as I know have not been addressed.

Unfortunately react-instantsearch has no out of the box solutions for dynamic filters, I would be grateful if you could at least consider these scenarios ra

[2019-11-20 15:42] Haroenv commented on #309
Because this issue is about adding a guide, while your comment was about a separate issue with a guide which isn't documented here. Sorry if it came over rude

[2019-11-21 00:34] benjy commented on #1370
You can do the same thing with a functional component using React.memo().

[code]

Note, my prop is based around hitsNeedsLoading as my component was loading additional information from the server based on the returned hits from algolia.

[2019-11-25 09:41] fernandoem88 commented on #22
My workaround is to build a search result for every array item at render method.
I have an array of cars for each user.
see my code and let me see if there is a better way.
`const HighLighter = ({ attribute, hit }: any) => {
  return (
    <HGStyle key={attribute}>
      {attribute}: &nbsp;
      <Highlight
        attribute={attribute}
        hit={hit}
        className="hg-style"
        tagNam

[2019-11-27 07:26] hongchanhk01 opened #2875 "The connectStateResults hoc injected props allSearchResults behaviour is different between v5.7.0 and v6.0.0"
**Context**

We have a component will render no results placeholder when all the all of the indexes have no results.

We achieve the feature by using `connectStateResults` HOC. After upgrade to v6 from v5.7, we can't access index search results.

**Describe the bug 🐛**

The `connectStateResults` hoc injected props `allSearchResults` behavior is different between v5.7.0 and v6.0.0

In v5, the `allS

[2019-11-27 15:19] Haroenv commented on #2875
So far I indeed have been able to confirm this in your environment, but have not yet found what causes it. Thanks for the bug report and reproduction!

[2019-11-28 06:35] youjinp opened #2876 "Geosearch with Configure's aroundLatLng"
I'm having an issue implementing a simple feature with Geosearch.

This is a simplified version of it:
![Screen Shot 2019-11-28 at 7 28 40 PM](https://user-images.githubusercontent.com/15708500/69782410-d37cb500-1215-11ea-93e9-12c5a1736633.png)

This is the issue I'm having:
- when entering latitude and longitude and pressing submit, everything works and results are shown
- **after moving the map

[2019-11-28 14:01] francoischalifour commented on #2876
For the map to be reactive, you'll need to use the options [`searchState`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/#widget-param-searchstate) and [`onSearchStateChange`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/react/#widget-param-onsearchstatechange).

You can read [our routing guide](https://www.algolia.com/doc/guides/building-search-ui/going-

[2019-11-28 14:01] #2876 closed

[2019-11-28 17:26] youjinp commented on #2876
got it, thanks!

[2019-11-29 02:53] hongchanhk01 commented on #2875
@Haroenv

I have a dirty quick fix on this. what do think  ?

https://github.com/algolia/react-instantsearch/blob/master/packages/react-instantsearch-core/src/connectors/connectStateResults.js#L65

[code]

but still I think it is better to find out why. My guess is that `results` inside the contextValue store reference not updated.

https://github.com/algolia/react-instantsearch/blob/master/packag

[2019-11-29 09:18] Haroenv commented on #2875
Yes, I also found the dirty fix, but not yet sure what causes it. I wonder if it's caused by stale closures

[2019-12-03 15:06] Haroenv commented on #2830
I just noticed this is a duplicate of #91, so I'll close this

[2019-12-03 15:06] #2830 closed

[2019-12-06 14:39] YoannDelpierre opened #2878 "NextJS and Algolia 6"
Hello,

I'm having troubles with using Algolia 6 and NextJS 9.

I'm doing this on the getInitialProps method

[code]

For example, my searchState can be

[code]

I should have no results but I got full hits. When the client takes the lead, I got my 0 results.

DEFAULT_PROPS are my agolia client and indexName

Thanks

[2019-12-06 14:45] tkrugg commented on #2878
Hi @YoannDelpierre you're on the right track but it's hard to tell what's missing in your code if you can't provide it fully.
Here is a fully working Next.js example https://codesandbox.io/s/github/algolia/react-instantsearch/blob/master/examples/next/, does this help?

[2019-12-06 14:48] YoannDelpierre commented on #2878
Yes I based my work on your exemple

In fact my code was working well previous Algolia 6.

Do you need more code to help ?

[2019-12-06 14:53] tkrugg commented on #2878
yes, currently from your code snippets I can't know what `readUrl(...)` does, or what's the value of `initialFiltersState`. Also I'm not sure I understand what you mean by

Ideally, you'd follow the template we provide for opening issues with a **reproducible example**.

---

**Describe the bug 🐛**

A clear and concise description of what the bug is.

**To Reproduce 🔍**

Steps to reproduce the beh

[2019-12-06 15:05] YoannDelpierre commented on #2878
Hard to give a reproductible example because it's not open sourced :(

About

I mean that i'm sure that my searchState will return me 0 results from Algolia API. But I got all my result. Which make me thinking that my searchState is not well configured ?

[2019-12-06 15:16] tkrugg commented on #2878
Sorry @YoannDelpierre, I wish I could debug code without reading it 😄.

You're saying your code worked on React InstantSearch 5, and broke when moving to React InstantSearch 6. What I would do is go again through the [upgrade guide v5 to v6](https://www.algolia.com/doc/guides/building-search-ui/upgrade-guides/react/#upgrade-from-v5-to-v6) to see I haven't missed anything.

One other way we can hel